.lud-blue-dark-bg{
    background-color: #253f67;
}

.lud-green-light-bg{
    background-color: #c7e68e;
}

.lud-blue-light-2-bg{
    background-color: #1f5ab4;
}

.lud-green-light-2-bg{
    background-color:#49883e;
}


