.green-bg{
    background-color: #d3f2e9;
}

.purple-light-bg{
    background-color:#FFF0F5;
}

.blue-light-bg{
    background-color: rgb(253, 253, 220);
}

.violet-light-bg{
    background-color: #FFF0F5;
}

.red-light-bg{
    background-color: rgb(253, 253, 220);
}

.orange-light-bg{
    background-color: #FFF0F5;
}

.yellow-light-bg{
    background-color: rgb(253, 253, 220);
}

.white-light-bg{
    background-color: #FFF0F5;
}

.main-light-bg{
    background-color: #140e22;
}

