.green-bg{
    background-color: #d3f2e9;
}

.purple-light-bg{
    background-color: rgb(248, 182, 248);
}

.blue-light-bg{
    background-color: rgb(179, 179, 239);
}

.violet-light-bg{
    background-color: rgb(255, 226, 255);
}

.red-light-bg{
    background-color: rgb(255, 215, 215);
}

.orange-light-bg{
    background-color: rgb(252, 232, 195);
}

.yellow-light-bg{
    background-color: rgb(252, 252, 200);
}

.white-light-bg{
    background-color: rgb(246, 241, 241);
}

