{% extends 'base.html' %}
{% load static %}
<!-- Load the static folder -->

{% block title %}
HOME
{% endblock title %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extraStyles %}

{% block links %}



{% endblock links %}

{% block content %}
<div class="mt-5 mb-5 row"></div>
<div id="carouselExampleCaptions" class="carousel slide mt-5" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'home/img1.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/img2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/img3.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="content-div fs-5">
  <div class="p-5">
    Register for 2022 Annual Conferences <a href="{% url 'registration_user' %}"><button
        class="content-button fs-6">Register Now</button></a>
  </div>
</div>

<div class="container-fluid" id="dreamProgram">
  <div class="row m-auto mt-5 p-5 " >
    <h1 class="text-center text-uppercase">OUR PROGRAM</h1>
    <div class="col-10 offset-1">
      
      <div class="row pt-5 max-auto row-2">
        <div class="col-md-6 col-lg-3 pb-3">
  
          <div class="card card-custom bg-white border-white border-0 card-1">
            <div class="card-custom-img card-img1">
            </div>
  
            <div class="card-body cb-1">
              <h5 class="card-title text-h3 fw-bold fs-4">DREAMS Program</h5>
              <p class="card-text text-h1-cen fw-bold  card-t1 fs-6">The
                DREAMS Program is a
                three-year curriculum-based community mentoring project for schools and colleges, each year focusing on
                personal development, interpersonal skills and leadership skills. The program aims to.</p>
            </div>
            <div class="card-footer text-center bg-white border-0 card-f1">
  
              <a href="{% url 'registration_user' %}"><button type="button" class="btn-2">Join Us</button></a>
              <a href="{% url 'dreams' 'program' %}">
                <button type="button" class="btn-2">Know more</button>
              </a>
  
            </div>
          </div>
  
        </div>
        <div class="col-md-6 col-lg-3 pb-3">
  
          <div class="card card-custom bg-white border-white border-0 card-1">
            <div class="card-custom-img card-img2">
            </div>
  
            <div class="card-body cb-1">
              <h5 class="card-title fw-bold text-h3 fs-4">DREAMS Pro Club</h5>
              <p class="card-text  text-h1-cen fw-bold fs-6  card-t1 ">DREAMS Pro Club is a
                support group for the personal and professional development of young professionals. Small groups of
                10-12
                working professionals meet once every month to discuss and implement.</p>
            </div>
            <div class="card-footer text-center bg-white border-0 card-f1">
              <a href="{% url 'registration_user' %}"> <button type="button" id="btn-join" class="btn-2">Join
                  Us</button></a>
              <a href="{% url 'dreams' 'proclub' %}"><button type="button" id="btn-more" class="btn-2">Know
                  more</button></a>
  
            </div>
          </div>
  
        </div>
  
        <div class="col-md-6 col-lg-3 pb-3">
  
          <div class="card card-custom bg-white border-white border-0 card-1">
            <div class="card-custom-img card-img3">
            </div>
  
            <div class="card-body cb-1">
              <h5 class="card-title text-h3 fs-4 fw-bold">DREAMS Band</h5>
              <p class="card-text text-h1-cen fw-bold  fs-6 card-t1">The DREAMS Band strives
                towards making a positive difference in the community by utilizing their musical skills. DREAMS Band is
                not only an opportunity to sing and motivate the audience but also uses music as a platform to empower
                communities.</p>
            </div>
            <div class="card-footer text-center bg-white border-0 card-f1">
              <a href="{% url 'registration_user' %}"><button type="button" id="btn-join" class="btn-2">Join
                  Us</button></a>
              <a href="{% url 'dreams' 'band' %}"><button type="button" id="btn-more" class="btn-2">Know
                  more</button></a>
  
            </div>
          </div>
  
        </div>
  
        <div class="col-md-6 col-lg-3 pb-3">
  
          <div class="card card-custom bg-white border-white border-0 card-1">
            <div class="card-custom-img card-img4"></div>
  
            <div class="card-body cb-1">
              <h5 class="card-title text-h3 fs-4 fw-bold">Community Conferences</h5>
              <p class="card-text text-h1-cen fs-6 fw-bold  card-t1">Started in 2017, Let Us
                Dream Conference provides a platform for researchers, practitioners and volunteers to discuss various
                possibilities of promoting community volunteerism among students, sharing their experiences and
                challenges
              </p>
            </div>
            <div class="card-footer text-center bg-white border-0 card-f1">
              <a href="{% url 'registration_user' %}"> <button type="button" id="btn-join" class="btn-2">Join
                  Us</button></a>
              <a href="{% url 'annual-conference' %}"><button type="button" id="btn-more" class="btn-2">Know
                  more</button></a>
  
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
</div>



<div class="container-fluid cf-2 text-h3" id="conference">


  <h1 class="text-center text-uppercase">Upcoming Events</h1>

  <div class="blog-home2">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-8 text-center">
          <h5 class="font-weight-medium mt-3 text-h3">You can relay on our amazing features list and also our customer
            services will be great experience for you without doubt</h5>
        </div>
        <!-- Column -->
        <!-- Column -->
      </div>
      <div class="row mt-4">
        <!-- Column -->
        <div class="col-md-4 on-hover">
          <div class="card border-0 ">
            <a href="#">
              <img class="img-fluid card-img-top feed-area" src="/ltstatic/home/event1.webp"
                alt="wrappixel kit"></a>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
              Oct<span class="d-block">23</span></div>
            <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">You should have eagle’s
                eye on new trends and techonogies</a></h5>

            <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-4 on-hover">
          <div class="card border-0 ">
            <a href="#"><img class="img-fluid card-img-top feed-area" src="/ltstatic/home/event2.webp"
                alt="wrappixel kit"></a>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
              Oct<span class="d-block">24</span></div>
            <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">New Seminar on Newest
                Food Recipe from World’s Best</a></h5>

            <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
          </div>
        </div>
        <!-- Column -->
        <div class="col-md-4 on-hover">
          <div class="card border-0 ">
            <a href="#"><img class="img-fluid card-img-top feed-area" src="/ltstatic/home/event3.webp"
                alt="wrappixel kit"></a>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
              Oct<span class="d-block">25</span></div>
            <h5 class="font-weight-medium mt-3"><a href="#" class="text-decoration-none link">Learn from small things
                to create something bigger.</a></h5>

            <a href="#" class="text-decoration-none linking text-themecolor mt-2">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'partials/_testimonials.html' %}
<br><br><br>
{% include 'partials/_globalPresence.html' %}

{% include 'partials/_countDetails.html' %}

<!-- instagram feed -->

<div class="container-fluid bg-green">
  <div class="px-lg-5 mb-5">
    <h1 class="text-center mt-5 pt-5">LATEST FEEDS</h1>
    <div class="row d-flex justify-content-center mt-5 ">
      <!-- Gallery item -->
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><a href="https://www.instagram.com/p/CdECrwLKVUq/" target="_blank"><img
              src="/ltstatic/feed/1.jpg" alt="" class="img-fluid card-img-top feed-area">
            <div class="p-4">
              <p class="fs-6 text-center"><a href="https://www.instagram.com/p/CdECrwLKVUq/"
                  class="text-black text-decoration-none"> Bangalore</a></p>

            </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><a href="https://www.instagram.com/p/CXJpkFfBB-7/" target="_blank"><img
              src="/ltstatic/feed/2.jpg" alt="" class="img-fluid card-img-top feed-area img-fluid"></a>
          <div class="p-4">
            <p class="fs-6 text-center"><a href="https://www.instagram.com/p/CXJpkFfBB-7/"
                class="text-black text-decoration-none"> Chaganacherry</a></p>

          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><a href="https://www.instagram.com/p/CWvKqoSJBHm/" target="_blank"><img
              src="/ltstatic/feed/3.jpg" alt="" class="img-fluid card-img-top feed-area"></a>
          <div class="p-4">
            <p class="fs-6 text-center"><a href="https://www.instagram.com/p/CWvKqoSJBHm/"
                class="text-black text-decoration-none">Thiruvananthapuram</a></p>

          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><a href="https://www.instagram.com/p/CU71jpADkQA/" target="_blank"><img
              src="/ltstatic/feed/4.jpg" alt="" class="img-fluid card-img-top feed-area"></a>
          <div class="p-4">
            <p class="fs-6 text-center"><a href="https://www.instagram.com/p/CU71jpADkQA/"
                class="text-black text-decoration-none"> Bangalore</a></p>

          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-lg-2 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><a
            href="https://www.instagram.com/accounts/login/?next=%2Fp%2FCUyr2Dhpw43%2F" target="_blank"><img
              src="/ltstatic/feed/5.jpg" alt="" class="img-fluid card-img-top feed-area"></a>
          <div class="p-4">
            <p class="fs-6 text-center"><a href="https://www.instagram.com/accounts/login/?next=%2Fp%2FCUyr2Dhpw43%2F"
                class="text-black text-decoration-none"> Bangalore</a></p>

          </div>
        </div>
        <!-- End -->

      </div>

    </div>
  </div>
  <div class="row m-auto mt-5"></div>
</div>

<div class="container-fluid">
  <div class="row m-auto d-flex justify-content-center mt-5">
    <h1 class="text-center mt-5 mb-5">NEWSLETTERS</h1>
    <div class="col-lg-4 pt-3 pb-5 mb-5">
      <a href="{% url 'newsletter' %}"><img src="/ltstatic/feed/Newletter-Thumbnail-1-scaled.jpg" alt=""
          class="img-fluid"></a>
    </div>
  </div>
</div>


{% endblock content %}