{% extends 'base.html' %}
{% load static %}
{% block title %}
Testimonials
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/view_testimonials.css' %}" type="text/css">
{% endblock extraStyles %}

{% block links %}
<!--Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<!--  Bootstrap CSS -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Bootstrap JS -->




{% endblock links %}

{% block content %}
<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item  active" aria-current="page">Testimonials</li>
    </ol>
</nav>

<div class="container">
    <div class="row">

        <div class="col-12">
            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Mar<span class="d-block">27</span>2023</div>
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="ltstatic\testimonial\Dr-Deep-Jyoti-Gurung.jpg" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                As the DREAMS program's faculty coordinator, I cannot express how transformative this
                                experience has been for me. The program's emphasis on leadership, interpersonal, and
                                personal development skills has assisted me in developing skills necessary for my role
                                as a
                                teacher and mentor. <br>
                                Being a part of this program has also provided me with an exceptional opportunity to
                                positively impact the lives of school students. I've had the pleasure of watching
                                students
                                discover their strengths and develop essential skills that will help them succeed in all
                                aspects
                                of life through the DREAMS program. <br>
                                It allowed me to positively impact lives and community, while also expanding my
                                collaboration network, research and publication opportunities. <br>
                                My goal for the DREAMS program is to broaden its reach and impact. The program has the
                                potential to benefit even more students and communities worldwide, and I am excited to
                                be a
                                part of making that vision a reality. <br>
                                This program has taught me much about myself, my community, and the power of mentoring
                                and leadership. Although there have been difficulties along the way, they have only
                                reinforced my belief in the importance of this program and its ability to effect
                                positive change
                                in the world.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Dr. Deep Jyoti Gurung</cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Assistant Professor | DREAMS Head
                                            Faculty
                                            coordinator of CU | Certified Microsoft
                                            Innovative Educator</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-6">
            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div>
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'logo\user.png' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                GYLN is one of the best things that happened to me this year. I started as a regular
                                mentor
                                in a
                                small chapter of Dreams, from there I became the coordinator of Dreams media and finally
                                to
                                GYLN. In
                                GYLN, we have people coming from different walks of life, countries, cultures,
                                languages,
                                and
                                qualifications. At GYLN I have an opportunity to show my talents, learn about new
                                experiences and
                                cultures. At times the team identifies my problems and tries to give me a better
                                solution. I
                                am
                                really happy and proud to be a member of GYLN. The only suggestion I have is to bring up
                                more
                                activities and participants in the coming future.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Jo Anto Nadamukath</cite></div>
                                    <!-- <div class="t-bq-quote-jasper-source"><span>Programmer</span></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-6">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div>
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'logo\user.png' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                I love the platform and I feel the platform provides a lot of opportunities to talk and
                                grow. I’m
                                comfortable speaking during each meeting and your team made us comfortable to interact
                                with
                                the
                                participants. I truly enjoy the experience. I think each meeting is always fun because
                                we
                                discuss
                                different topics and it gives us chance to bring new perspectives to situations.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Kaici G</cite></div>
                                    <!-- <div class="t-bq-quote-jasper-source"><span>Programmer</span></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-6">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div>
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'logo\user.png' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                As a whole, I think the GLYN platform is amazing. It gets young leaders to interact with
                                one
                                another
                                on an international level. Can never have too much of that. It’s very great to have
                                engaging
                                discussions with each one of them.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Samuel</cite></div>
                                    <!-- <div class="t-bq-quote-jasper-source"><span>Programmer</span></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        
        <div class="col-12">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\JestinJoseph.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                During my school days, I was often labeled as a weak student and struggled to express
                                myself. This caused me to run away from challenges and opportunities that I felt were
                                beyond my capabilities. However, everything changed when I joined the DREAMS program.The
                                DREAMS program has been a game-changer for me, helping me to grow in ways I never
                                thought possible. It has given me hope and enabled me to overcome my fears, allowing me
                                to dream bigger and achieve more in my life.One of the most valuable aspects of the
                                program has been the ample opportunities it provides. As a DREAMS participant, I have
                                been a mentor, leader, coordinator, and trainer, all of which have been invaluable
                                experiences in my personal and professional development.
                                Through these roles, I have learned important skills such as communication,
                                collaboration, and problem-solving, which have helped me succeed in the program and my
                                career and personal life. Overall, the DREAMS program has been a transformative
                                experience for me. It has helped me to develop into a more confident and capable
                                individual, and given me the tools to pursue my dreams and achieve my goals. I am
                                grateful for the opportunity to be a part of such an incredible program, and I would
                                highly recommend it to anyone looking to grow and achieve their full potential.

                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Mr. Jestin Joseph</cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>DREAMS Changanacherry Chapter, Kerala
                                            <br>
                                            Executive Head, Dreams Research Wing
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
      
        <div class="col-12">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\AnnemarieOgden.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                When I first came to the DREAMS, I thought it was just another summer camp. I didn’t
                                quite understand the full concept of it, and most definitely I didn't realize the impact
                                it would soon have not only on these kids but also on myself. Day one of my first summer
                                program felt a little new to everyone, both to the students and to the mentors. Everyone
                                was just getting to know one another, and even for me personally as an introvert, it was
                                a little difficult at first to go out there and make small talk, but then I saw how some
                                students were doing it with such ease. So they inspired me the very first day, before we
                                even began lessons. Around the third day, it seemed as if they had been friends for
                                quite a while. The formation of relationships between the students was such a beautiful
                                thing to see. This program not only teaches students life values, but it also
                                demonstrates how they can put these values into practice in their everyday lives.
                                Normally we have all groups with a few students and two mentors, and we get to teach and
                                pour into them how we learned these values over these years and the ways we succeeded in
                                doing them, or how we felt and learned from it. Different speakers from the same town
                                will come and talk about a particular value that day, and you can really see how the
                                students relate to and listen to that person, especially because they mostly come from
                                our own town. The very best part of teaching students these values is seeing them come
                                back and tell you how they've used them, and even better, the parents will come back and
                                talk about the transformation they’ve seen in their child. Perhaps my personal favorite
                                part of this program is that we choose students who are already filled to some extent
                                with humility; they are not necessarily the leaders or the most popular of their class,
                                but they are students ready to listen and put into practice what they have learned, and
                                I think thats what makes a good leader, i love that we give this type of student this
                                opportunity. These are the kinds of future leaders we need. We teach them to always have
                                faith in God, and through him they can do anything. So these students are not only
                                becoming transformed into leaders, but they are transforming everyone around them as
                                well, such as their mentors.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Anne Marie Ogden</cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Mentor, DREAMS </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
       
        <div class="col-12">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'logo\user.png' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                <b>“We make a living by what we get, but we make a life by what we give." - Winston
                                    Churchill</b>
                                If I must answer a question, why I joined Dreams, this quote explains my journey with
                                Dreams perfectly. As we know, Dreams is an intergenerational program and inspiration
                                comes in all shapes and sizes. If I mentor students younger than me, I am also gaining
                                knowledge from these mentors.
                                Throughout our lives, we are always taught to listen to our elders, because they have a
                                wealth of knowledge and experience to share - which is true. But what often goes
                                underappreciated is what we can learn from the younger generations around us as we get
                                older. It could be how to appreciate new technologies, be more open minded and
                                accepting, appreciating little moments or following your dreams, no matter what.
                                Also, to reach any significant goal in life we need to overcome challenges along the
                                way. But all of us working with Dreams consider ourselves " A FAMILY" and together we
                                encounter each obstacle and press ourselves forward making DREAMS our "HAPPY PLACE"!!!
                                I have been a part of Dreams for 3 years and all I want to say to anyone who is ready to
                                volunteer as a Community Leader, is that it's the most wholesome experience as we are
                                giving our time in this program as TIME IS CONSIDERED THE BIGGEST GIFT you can gift
                                anyone and what can be better than the community, we live in. So come let's join hands
                                in this program and make a difference in the world we live in.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Ms. Jasmine Kaur Sahni</cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Chief Mentor, DREAMS Bangalore Chapter</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
      
        <div class="col-12">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\Sebastian.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                I was introduced to DREAMS by Mr. James Anithottam, the  then head of its affairs in Changanacherry in 2018. As a retired teacher, the idea of DREAMS fascinated me as I felt it was a solution  to the imbalance between the slow learners and fast movers. Completion of school syllabus is time bound and teachers normally move on with the fast, intelligent students.  This prevented the slow learners from gaining enough in their academic journey. 

                                Experiencing further,  I realized that the scope of DREAMS is far reaching. It benefited not only the slow learners but all its stakeholders. The key is direct involvement and practice.  You are into listening, reading, writing, speaking, dancing, acting, drawing, playing, emulating and whatever....., your best is brought out!.
                                
                                The DREAMS curriculum is unmatched.  It aims at developing personal, social and leadership qualities in a short, 28 day program.  It literally makes one grow gracefully to maturity, empowering self, acquiring values, mastering skills, making socially responsible, committed and trustworthy. I am happy and feel accomplished as I see our efforts make a huge difference in society. Parents very often express their gratitude for the positive changes in their children. Mentors, the middle rung DREAMS family, through their involvement grow strong, confident and well equipped to face their future. 
                                
                                For me, it is also a platform to make friends and to give back to the Community from the bounty of blessings I received from it.
                                
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Mr. Sebastian M T</cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Community Leader, DREAMS Changanacherry Chapter, Kerala</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>

        <div class="col-12">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper2 t-bq-wrapper-boxed2">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                Aug<span class="d-block">27</span>2020</div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\Lisa.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                First and foremost, I was impressed by the passion and vision with which DREAMS is now being implemented worldwide. In my opinion, the topics of empowerment, strengthening one's own resilience and dealing with one's own goals, desires and feelings are given far too little attention in our society. It's more about performance and less about the question of what talents/passions exist and how they can be lived out. DREAMS deals with all of this outside of the school and family context, so that the students can learn more freely, at their own pace, without pressure. One student said in the last workshop that DREAMS means joy to her. At that point it was clear to me that we, especially the students, had done everything right.
                                The intensive and continuous support by the students, the trust in the group led to the fact that even difficult (biographical) topics could be discussed and endured together. The massive social and world-political conflicts and crises put a great strain on young people, but they are often alone with their worries and fears. The pressure to 'parry' and to fulfill the roles of student or son/daughter as inconspicuous as possible makes it difficult to address one's own needs with caregivers and teachers. DREAMS has helped students emerge empowered.
                                For the future of DREAMS, I would like to see us bring the differences from the various countries and cultures closer together and see how we can profit from these different experiences.
                                
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Ms. Lisa</cite></div>
                                    <!-- <div class="t-bq-quote-jasper-source"><span>Programmer</span></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        
    </div>
</div>


{% endblock %}