venv/
env/
db.sqlite3
.idea/

letusdream/settings.py

__pycache__/
home/__pycache__/
home/migrations/__pycache__/
home/migrations/
letusdream/__pycache__/
AdminPanel/__pycache__/
AdminPanel/migrations/__pycache__/
letusdream/home/migrations
letusdream/__pycache__/
AdminPanel/migrations/
AdminPanel/migrations/__pycache__/