venv/
db.sqlite3
.idea/

home/__pycache__/
home/migrations/__pycache__/
home/migrations/
letusdream/__pycache__/
home/__pycache__/__init__.cpython-310.pyc
home/__pycache__/admin.cpython-310.pyc
home/__pycache__/apps.cpython-310.pyc
home/__pycache__/models.cpython-310.pyc
home/__pycache__/urls.cpython-310.pyc
home/__pycache__/views.cpython-310.pyc
home/migrations/__pycache__/__init__.cpython-310.pyc
letusdream/__pycache__/__init__.cpython-310.pyc
letusdream/__pycache__/settings.cpython-310.pyc
letusdream/__pycache__/urls.cpython-310.pyc
letusdream/__pycache__/wsgi.cpython-310.pyc