{% load static %}

<style>
    .counter {
        color: #fff;
        font-family: 'Playfair Display', serif;
        text-align: center;
        padding: 22px 0 0;
        margin: 0 10px;
        position: relative;
    }

    .counter:before {
        content: "";
        border: 2px solid #575757;
        border-radius: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        z-index: 1;
    }

    .counter .counter-icon {
        color: #00A69C;
        font-size: 40px;
        margin: 0 0 22px;
    }

    .counter .counter-content {
        background-color: #0a7b79;
        padding: 26px 18px 20px;
        border-radius: 0 0 10px 10px;
        position: relative;
    }

    .counter .counter-content:before {
        content: '';
        background-color: #0a7b79;
        width: 25px;
        height: 25px;
        transform: translateX(-50%) rotate(45deg);
        position: absolute;
        left: 50%;
        top: -13px;
    }

    .counter h3 {
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0 0 8px;
    }

    .counter .counter-value {
        font-size: 30px;
        font-weight: 500;
    }

    .counter.red .counter-icon {
        color: #3b90bb;
    }

    .counter.red .counter-content,
    .counter.red .counter-content:before {
        background-color: #3b90bb;
    }

    .counter.blue .counter-icon {
        color: #027981;
    }

    .counter.blue .counter-content,
    .counter.blue .counter-content:before {
        background-color: rgba(2, 121, 129, 0.9);
    }

    .counter.purple .counter-icon {
        color: #3E6491;
    }

    .counter.purple .counter-content,
    .counter.purple .counter-content:before {
        background-color: rgba(62, 100, 145, 0.9);
    }

</style>

<div class="container ">

    <h1 class="text-center mt-5">
        Let Us Dream
    </h1>

    <div class="text-center fs-5 ">
        Join us to help foster international collaboration and increased <br/>
        global awareness of community improvement models, research initiatives, and best practices.
    </div>

    <div class=" row mt-5 mb-5">
        <div class="col-sm-6 col-md-3 mb-3">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fas fa-user-graduate"></i>
                </div>
                <div class="counter-content">
                    <h3 class="text-white">Students</h3>
                    <span class="counter-value">1614</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-3">
            <div class="counter red">
                <div class="counter-icon">
                    <i class="fas fa-user"></i>
                </div>
                <div class="counter-content">
                    <h3 class="text-white">Participants</h3>
                    <span class="counter-value">3029</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-3">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="counter-content">
                    <h3 class="text-white">Leadership</h3>
                    <span class="counter-value">246</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-3">
            <div class="counter red">
                <div class="counter-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="counter-content">
                    <h3 class="text-white">Families</h3>
                    <span class="counter-value">3185</span>
                </div>
            </div>
        </div>
    </div>


</div>