{% load static %}

<style>
    .global {

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, rgba(211, 242, 233, 0.93) 0%, rgba(211, 242, 233, 0.93) 100%), url(../../ltstatic/partials/dreams-world-map-scaled.jpg) !important;
    }

    .global h3 {
        color: #0a7b79;
        font-weight: bolder !important;
    }

    .big-heading {
        color: #7ca8a1;
    }

    .global a {
        text-decoration: none;



    }

    .global .img1 {
        width: 100% !important;
        height: 100% !important;
    }

    .global h6 {
        padding-top: 2%;
        padding-bottom: 2%;
        color: #7ca8a1;
    }
</style>

<section class="global-sec">
    <div class="container-fluid global pt-5 pb-5" id="location">


        <h1 class="text-center">OUR GLOBAL PRESENCE</h1>

        <br>

        <h3 class="big-heading text-center mb-4">Presence is more than just being there.</h3>


        <div class="container global-con-1">
            <div class="row">
                <div class="col-lg-3 col-md-6 global-col-1">
                    <h3>INDIA</h3>
                    <a href="{% url 'locations' 'bangalore' %}">
                        <h6>Bangalore, Karnataka</h6>
                    </a>
                    <a href="{% url 'locations' 'changancherry' %}">
                        <h6>Chaganacherry, Kerala</h6>
                    </a>
                    <a href="{% url 'locations' 'mannanam' %}">
                        <h6>Mannanam, Kerala</h6>
                    </a>
                    <a href="{% url 'locations' 'thiruvananthapuram' %}">
                        <h6>Tiruvananthapuram, Kerala</h6>
                    </a>
                    <a href="{% url 'locations' 'thiruvallam' %}">
                        <h6>Thiruvallam, Kerala</h6>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 global-col-1">
                    <h3>USA</h3>
                    <a href="{% url 'locations' 'bastrope' %}">
                        <h6>Bastrop, Louisiana</h6>
                    </a>
                    <a href="{% url 'locations' 'dalias' %}">
                        <h6>Dallas, Texas</h6>
                    </a>
                    <a href="{% url 'locations' 'lagrande' %}">
                        <h6>LaGrande, Oregon</h6>
                    </a>
                    <a href="{% url 'locations' 'mcallen' %}">
                        <h6>McAllen, Texas</h6>
                    </a>
                    <a href="{% url 'locations' 'monroe' %}">
                        <h6>Monroe, Louisiana</h6>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 global-col-1">
                    <h3>Germany</h3>
                    <a href="{% url 'locations' 'cologne' %}">
                        <h6>Cologne</h6>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center global-col-2">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1ZvktJaPvuWkrNNxCkQBO41ZUtrxfuBI&ehbc=2E312F"
            width="350" height="250"></iframe>
                </div>

            </div>
        </div>

    </div>
</section>