{% load static %}

<!--Testimonials-->
<div class="container mt-5">
    <div class="row">
        <h1 class="text-center text-green text-uppercase mb-5 text-break">testimonials</h1>
        
        <div class="col-md-4">
            <section class="t-bq-section blog-home2" id="jasper">
                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper" style="min-height: 351px;">
                        <div class="t-bq-quote-jasper-pattern">
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial/Janet.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text text-justify" cite="Strugatsky Brothers">
                                I’ve witnessed the program change lives in a way that I have never seen any
                                program with
                                similar goals could ever even imagine. Everyone should have a chance to see that they
                                can do
                                anything, and I will help in any way I can to make that happen.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Canaan Charrior</cite></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="col-md-4">
            <section class="t-bq-section blog-home2" id="jasper">
                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper" style="min-height: 351px;">
                        <div class="t-bq-quote-jasper-pattern">
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial/Kaici-Gordon_2.jpeg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text text-justify" cite="Strugatsky Brothers">
                                Really innovative concept.. I was looking forward for such curated
                                content and i got more than i was expecting. I am so far very thrilled with overall
                                experience and improvement.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Robin Sehon</cite></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="col-md-4">
            <section class="t-bq-section blog-home2" id="jasper">
                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper" style="min-height: 351px;">
                        <div class="t-bq-quote-jasper-pattern">
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial/Hope-Lenior.png' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text text-justify" cite="Strugatsky Brothers">
                                I was organizing my closet and came across my DREAMS tshirt. This
                                reminded me of how much fun I had with your students and how your volunteer team made me
                                feel extremely welcome. Thank you for allowing me to be a part of the DREAMS.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Hope LeNoir</cite></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="col-md-12 end-0">
            <a href="{% url 'testimonials' %}" class="end-0 text-decoration-none  float-end">Readmore..</a>
        </div>
    </div>
</div>