{% load static %}

<!--Testimonials-->
<section class="testimonials-sec mt-5">
  <div class="container testimonials" id="container-body">
    <br/>
    <div class="row testi-row">
      <div class="col">

        <h1 class="text-center">TESTIMONIALS</h1>

      </div>
    </div>

    <div class="mt-5">

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="single-box d-flex">
            <div class="img-area ">
              <img src="{% static 'testimonial/Janet.jpg' %}" class="img1" alt="testi1" height="26px" width="10%">
            </div>
            <div class="img-text">
              <h2>Canaan Charrior</h2>
              <p class="fs-6">I’ve witnessed the program change lives in a way that I have never seen any
                program with
                similar goals could ever even imagine. Everyone should have a chance to see that they can do
                anything, and I will help in any way I can to make that happen.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-box">
            <div class="img-area"><img src="{% static 'testimonial/Kaici-Gordon_2.jpeg' %}" width="100" class="img1"
                height="100" alt="testi1"></div>
            <div class="img-text">
              <h2>Robin Sehon</h2>
              <p style="text-align:justify;" class="fs-6">Really innovative concept.. I was looking forward for
                such
                curated
                content and i got more than i was expecting. I am so far very thrilled with overall
                experience
                and improvement.
              </p>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6">
          <div class="single-box">
            <div class="img-area"><img src="{% static 'testimonial/Hope-Lenior.png' %}" class="img1" alt="testi1">
            </div>
            <div class="img-text">
              <h2>Hope LeNoir</h2>
              <p style="text-align:justify;" class="fs-6">I was organizing my closet and came across my DREAMS
                tshirt.
                This
                reminded me of how much fun I had with your students and how your volunteer team made me
                feel
                extremely welcome. Thank you for allowing me to be a part of the DREAMS.</p>
            </div>
          </div>
        </div>
        <p style=" text-align: right;font-size: 15px;">
          <a href="{% url 'testimonials' %}" class="text-decoration-none text-h3 ">Read more</a>
        </div>
      </div>

    </div>
  </div>
</section>