<footer class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12 fs-4 d-flex justify-content-evenly mb-4 text-white">
                <div>
                    <a href="https://www.instagram.com/letus.dream/" class="text-decoration-none">
                        <i class="fab fa-instagram text-white"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UCNw5z9O3LZ7OJlySigI9dlw/featured">
                        <i class="fab fa-youtube text-white"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/ludreams.ludreams/">
                        <i class="fab fa-facebook text-white"></i>
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/company/let-us-dream/">
                        <i class="fab fa-linkedin text-white"></i>
                    </a>
                </div>
                <div><a href="https://twitter.com/LetUsDream5?s=08">
                    <i class="fab fa-twitter text-white"></i>
                </a>
                </div>
        </div>

        <div class="col-12 fs-6">
            Designed, Developed and Maintained by
            <a class="text-decoration-none text-white" href="https://christinfotech.org/" target="_blank">
                CHRIST Infotech
            </a>
        </div>
    </div>
</footer>