<footer class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xm-12 col-lg-12">
                <ul class="social-icons">
                    <li><a href="https://www.instagram.com/letus.dream/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCNw5z9O3LZ7OJlySigI9dlw/featured"><i
                            class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/ludreams.ludreams/"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/let-us-dream/"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://twitter.com/LetUsDream5?s=08"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-12 col-xm-6 justify-content-center">
        <ul class="menu">
            <li>
                <a class="text-decoration-none" href="{% url 'main' %}">Home</a>
            </li>
            <li>
                <a class="text-decoration-none" href="{% url 'about-us' %}">About Us</a>
            </li>
            <li>
                <a class="text-decoration-none" href="{% url 'Conferences' %}">Conferences</a>
            </li>
            <li>
                <a class="text-decoration-none" href="{% url 'yclp-course' %}">Courses</a>
            </li>
            <li>
                <a class="text-decoration-none" href="{% url 'conatctUs' %}">Contact</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12 col-xm-6 justify-content-center">
        Designed, Developed and Maintained by
        <a class="text-decoration-none text-white" href="https://christinfotech.org/" target="_blank">
            CHRIST Infotech
        </a>
    </div>
</footer>