<footer class="row m-0 d-flex justify-content-center">

    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col-12 fs-6 p-2" style="border-bottom: 1px solid white; border-top: 1px solid white">
                    &copy; Let Us Dream
                </div>

                <div class="col-12 mt-1" style="border-bottom: 1px solid white">
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <div class="fw-bolder text-center fs-5">
                                About Us
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Overview</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Sustainability</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Media</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-2">
                            <div class="fw-bolder text-center fs-5">
                                DREAMS
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">DREAMS Program</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">DREAMS Band</a>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <div class="fw-bolder text-center fs-5">
                                Clubs
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Overview</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Professional Club</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Conversation Club</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Youth Leadership Network</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Grow & Glow Clubs</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Community Hubs</a>
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <div class="fw-bolder text-center fs-5">
                                Conferences
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Overview</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Annual Conferences</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Triennial Conferences</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div class="fw-bolder text-center fs-5">
                                Research
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Research</a>
                            </div>
                            <div class="fs-6 text-center">
                                <a href="" class="text-decoration-none text-white">Publications</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="fw-light fs-6 text-start">
                        Connect with Let Us Dream
                    </div>
                    <div class="fs-4 text-start">
                        <a href="https://www.instagram.com/letus.dream/" class="text-decoration-none">
                            <i class="fab fa-instagram text-white"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCNw5z9O3LZ7OJlySigI9dlw/featured">
                            <i class="fab fa-youtube text-white"></i>
                        </a>
                        <a href="https://www.facebook.com/ludreams.ludreams/">
                            <i class="fab fa-facebook text-white"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/let-us-dream/">
                            <i class="fab fa-linkedin text-white"></i>
                        </a>
                        <a href="https://twitter.com/LetUsDream5?s=08">
                            <i class="fab fa-twitter text-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6  d-flex justify-content-end align-content-center fs-6">
                    <div class="text-end text-white">
                            Designed, Developed & Maintained by,
                        <br/>
                        <a class="mt-3" href="http://christinfotech.org/" target="_blank">
                            <span class="text-white">CHRIST Infotech</span>
                        </a>
                        <span class="fst-italic">
                            (Software Research & Development Center)
                        </span>
                        <br/>
                        <span class="fst-italic">
                            <a href="https://lavasa.christuniversity.in/" class=" text-white" target="_blank">CHRIST University</a>, 
                            Pune - Lavasa, India
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>