{% load static %}
<header class="menu fixed-top m-0 px-4 px-sm-0">

    <nav class="navbar navbar-expand-lg" id="navbar">

        <a href="{% url 'main' %}" class="d-block d-md-none" >
            <img src="{% static 'logo/logo.png' %}" class="" alt="LET US DREAM" height="100px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bar navbar-toggler-icon"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <a href="{% url 'main' %}" class="d-none d-md-block ">
                <img src="{% static 'logo/logo.png' %}" class="" alt="LET US DREAM" height="100px">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">About Us</a>
                    <ul class="dropdown-menu shadow">
                        <li><a href="{% url 'about-us' %}" class="dropdown-item">Overview</a></li>
                        <li><a href="{% url 'leadership' %}" class="dropdown-item">Leadership</a></li>
                        <li><a href="{% url 'sustainability' %}" class="dropdown-item">Sustainability</a></li>
                        <li><a href="{% url 'media' %}" class="dropdown-item">Media</a></li>
                        <li><a href="{% url 'events' %}" class="dropdown-item">Events</a></li>
                        <li><a href="{% url 'conatctUs' %}" class="dropdown-item">Contact Us</a></li>
                        <!-- <li><a href="{% url 'conatctUs' %}" class="dropdown-item">Blog</a></li> -->
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">DREAMS</a>
                    <ul class="dropdown-menu shadow">
                        <li>
                            <a href="{% url 'dreams' 'program' %}" class="dropdown-item">DREAMS Intervention Program (DIP)</a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">
                        Conferences
                    </a>
                    <ul class="dropdown-menu shadow mld" aria-labelledby="MyAccountDDM" id="AppDropDownId">
                        <li>
                            <a href="{% url 'Conferences' %}" class="dropdown-item">Overview</a>
                        </li>
                        <li>
                            <a href="{% url 'annualConference' %}" class="dropdown-item">
                                Annual Conferences
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'trriennial-conference' %}" class="dropdown-item">
                                Triennial Conferences
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'conclave' %}" class="dropdown-item">
                                Conclave
                            </a>
                        </li>
                        <li>
                            <a href="https://cmt.letusdream.org/" target="_blank" class="dropdown-item">
                                Register
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'run-lud-conference' %}" class="dropdown-item">
                                Conference Resources
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">Clubs</a>
                    <ul class="dropdown-menu shadow">
                        <li>
                            <a href="{% url 'club-overview' %}" class="dropdown-item">Overview</a>
                        </li>
                        <li>
                            <a href="{% url 'conversation-club' %}" class="dropdown-item">Conversation Club</a>
                        </li>
                        <li>
                            <a href="{% url 'professional-club' %}" class="dropdown-item">Professional Club</a>
                        </li>
                        <li>
                            <a href="{% url 'youthleadership-club' %}" class="dropdown-item">
                                Global Youth Leardership Network
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'community-club' %}" class="dropdown-item">Community Hubs</a>
                        </li>
                        <li>
                            <a href="{% url 'growandglow-club' %}" class="dropdown-item"> Grow & Glow Club</a>
                        </li>
                    </ul>
                </li>
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">Productions</a>
                    <ul class="dropdown-menu shadow">
                        <li><a href="{% url 'dreams' 'band' %}" class="dropdown-item">DREAMS Band</a></li>
                        <li><a href="{% url 'human' %}" class="dropdown-item">The HUMAN</a></li>
                        <li><a href="{% url 'sonic-sanctuaries' %}" class="dropdown-item">Sonic Sanctuaries</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">
                        Courses
                    </a>
                    <ul class="dropdown-menu shadow">
                        <li>
                            <a href="{% url 'yclp-course' %}" class="dropdown-item">
                                Young Community Leadership Program (YCLP)
                            </a>
                        </li>
                        <li><a href="{% url 'llfp' %}" class="dropdown-item">Leadership Fellowship (LLFP)</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">Research</a>
                    <ul class="dropdown-menu shadow">

                        <li><a href="{% url 'research' %}" class="dropdown-item">Research</a></li>
                        <li><a href="{% url 'publications' %}" class="dropdown-item">Publications</a></li>

                    </ul>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                       href="#">Locations</a>
                    <ul class="dropdown-menu shadow">
                        <li class="dropstart">
                            <a href="" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">India</a>
                            <ul class="dropdown-menu shadow">

                                <li><a href="{% url 'locations' 'bangalore' %}"
                                       class="dropdown-item">Bangalore</a>
                                </li>
                                <li><a href="{% url 'locations' 'changancherry' %}"
                                       class="dropdown-item">Changancherry</a></li>
                                <li><a href="{% url 'locations' 'mannanam' %}"
                                       class="dropdown-item">Mannanam</a>
                                </li>
                                <li><a href="{% url 'locations' 'thiruvananthapuram' %}"
                                       class="dropdown-item">Thiruvananthapuram</a></li>
                                <li><a href="{% url 'locations' 'thiruvallam' %}"
                                       class="dropdown-item">Thiruvallam</a></li>
                                <li><a href="{% url 'locations' 'chennai' %}" class="dropdown-item">Chennai</a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropstart">
                            <a href="" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">USA</a>
                            <ul class="dropdown-menu shadow">
                                <li><a href="{% url 'locations' 'bastrop' %}"
                                       class="dropdown-item">Bastrope</a>
                                </li>
                                <li><a href="{% url 'locations' 'dallas' %}" class="dropdown-item">Dallas</a>
                                </li>
                                <li><a href="{% url 'locations' 'lagrande' %}"
                                       class="dropdown-item">LaGrande</a>
                                </li>
                                <li><a href="{% url 'locations' 'mcallen' %}" class="dropdown-item">McAllen</a>
                                </li>
                                <li><a href="{% url 'locations' 'monroe' %}" class="dropdown-item">Monroe</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropstart">
                            <a href="" class="dropdown-item dropdown-toggle"
                               data-bs-toggle="dropdown">Germany</a>
                            <ul class="dropdown-menu shadow">
                                <li><a href="{% url 'locations' 'cologne' %}" class="dropdown-item">Cologne</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>

    </nav>
</header>
