{% extends 'base.html' %}
{% load static %}

{% block title %}
    Community Hubs
{% endblock title %}

{% block extraStyles %}
    <link rel="stylesheet" href="{% static 'clubs/clubs.css' %}" type="text/css">
{% endblock extraStyles %}

{% block content %}
    <div class="container margin-top-170">
        <nav aria-label="breadcrumb" class="animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0 bg-white">
                <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a>
                </li>
                <li class="breadcrumb-item"><a class="text-black text-decoration-none">Clubs</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #0a7b79;">Community Hubs</li>
            </ol>
        </nav>

        <div class="col-12 mt-5">
            <div class="fs-1 fw-bolder text-center">
                Community Hubs
            </div>
        </div>

        <!-- About section -->
        <div class="row mt-5">
            <div class="col-md-8">
                <div class="fw-bolder fs-2 mb-3">
                    About
                </div>
                <div class="lh-lg">
                    With the focus to ‘connect, learn, and grow together, these clubs are to maintain a strong,
                    connected, and engaged team throughout the year, fostering continuous learning, personal growth, and
                    a sense of community among team members. By organizing monthly sessions, we aim to replicate the
                    immersive learning experiences of LUD annual conferences and extend this engagement into a
                    year-round initiative.
                </div>
            </div>

            <!-- Image section for About -->
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <div class="row d-flex justify-content-evenly mt-3">
                    <div class="text-center fw-bolder fs-2 mb-3">
                        Leadership
                    </div>
                    <div class="col-6">
                        <img src="{% static 'clubs/leadership/SwathiShree.png' %}" class="img-thumbnail rounded" alt="">
                        <div class="mt-3 text-center">
                            <div class="fw-bolder">Swathi Shree</div>
                            <div class="leadership-description fst-italic">
                                MSc Psychology HRDM
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Objectives section -->
        <div class="row mt-5">
            <div class="col-md-8">
                <div class="fw-bolder fs-2 mb-3">
                    Objectives
                </div>
                <div class="lh-lg">
                    <ul>
                        <li>
                            Create a platform for team members to share their expertise, insights, and experiences,
                            fostering a collaborative learning environment.
                        </li>
                        <li>
                            Recognize and celebrate individual and team achievements, fostering a positive and
                            motivating atmosphere within the group.
                        </li>
                        <li>
                            Create a space encouraging innovative thinking and creativity, allowing team members to
                            contribute fresh ideas and perspectives.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Leadership section -->
            <div class="col-md-4">
                <div class="text-center fw-bolder fs-2">
                    Latest Updates
                </div>
                <div class="club-news p-3">
                    <div class="fw-bold">
                        Latest News Update
                    </div>
                    <small class="fst-italic">
                        20th January 2024 | Bangalore, India
                    </small>
                </div>
            </div>
        </div>

        <!-- Latest Updates section -->
        <div class="row mt-5 py-5">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <!-- Contact section above footer -->
    <div class="col text-center py-5">
        <div class="text-center fw-bolder fs-2">
            Contact
        </div>
        <div class="text-center mt-4 fw-bold fs-6">
            <i class="fa-solid fa-envelope"></i> clubs@letusdream.org
        </div>
    </div>
{% endblock content %}
