{% extends 'base.html' %}
{% load static %}

{% block title %}
Professional Club
{% endblock title %}

{% block extraStyles %}
    <link rel="stylesheet" href="{% static 'clubs/clubs.css' %}" type="text/css">
{% endblock extraStyles %}

{% block content %}
    <div class="container margin-top-170">
        <nav aria-label="breadcrumb" class="animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0 bg-white">
                <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-black text-decoration-none">Clubs</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #0a7b79;">Professional Club</li>
            </ol>
        </nav>
        
        <div class="col-12">
            <div class="fs-1 fw-bolder text-center mt-5">
                Welcome to the Professional Club!
            </div>

            <div class="lh-lg mt-3 text-center">
                The Professional Club is a dynamic support network designed for individuals seeking personal and professional growth through mutual 
                mentorship and collaborative learning. Established in 2018, the club has evolved into a vibrant community that encourages members to share 
                their experiences, enhance their skills, and navigate the complexities of their professional journeys.

            </div>
        </div>

        <!-- About section -->
        <div class="row mt-2">
            <!-- Image section for About -->
             <div class="col-12">
                <div class="text-center mb-3">
                    <img src="{% static '/clubs/professional1.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

         <!-- Objectives section -->
         <div class="row mt-1">
            <div class="col-12">
                <div class="text-center mb-5">
                    <img src="{% static '/clubs/professional2.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

        <!-- How it works section -->
        <div class="row mt-1">
            <div class="col-12">
                <div class="text-center mb-5">
                    <img src="{% static '/clubs/professional3.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

        <!-- Get involved -->
        <div class="row mt-5">
            <div class="col">
                <div class="fw-bolder fs-2 mb-3 text-center">
                    Get Involved
                </div>
                <div class="lh-lg text-center">
                    We invite all professionals looking to grow personally and professionally to join the Professional Club. Whether you’re a seasoned 
                    expert or just starting in your career, our club offers a space to learn, share, and thrive together.

                </div>
            </div>

        </div>

        <!-- Leadership section -->
        
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="text-center fw-bolder fs-2">
                    Leadership Team
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col text-center">
                    <img src="{% static '/clubs/leadership/Mr. Rajesh P I.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Ms. Satya</div>
                        <small class="fst-italic">Senior Lead</small>
                    </div>
                </div>
                <div class="col text-center">
                    <img src="{% static '/clubs/leadership/Col Ranjeev Babu.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Col Ranjeev Babu</div>
                        <small class="fst-italic">Senior Lead</small>
                    </div>
                </div>
                <div class="col text-center">
                    <img src="{% static '/clubs/leadership/Ms. Satya.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Mr. Rajesh P I</div>
                        <small class="fst-italic">Youth Lead</small>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contact section above footer -->
        <div class="row m-0 d-flex justify-content-center">
            <div class="col-12 my-5">
                <div class="text-center fw-bolder fs-2">
                    Contact
                </div>
                <div class="text-center mt-4 fw-bold fs-6">
                    <i class="fa-solid fa-envelope"></i> clubs@letusdream.org
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
