{% extends 'base.html' %}
{% load static %}

{% block title %}
    Community Hubs
{% endblock title %}

{% block extraStyles %}
    <link rel="stylesheet" href="{% static 'clubs/clubs.css' %}" type="text/css">
{% endblock extraStyles %}

{% block content %}
    <div class="container margin-top-170">
        <nav aria-label="breadcrumb" class="animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0 bg-white">
                <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a>
                </li>
                <li class="breadcrumb-item"><a class="text-black text-decoration-none">Clubs</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #0a7b79;">Grow & Glow Club (G & G Club)
                </li>
            </ol>
        </nav>

        <div class="col-12">
            <div class="fs-1 fw-bolder text-center mt-5">
                Welcome to the Grow & Glow Club!
            </div>

            <div class="lh-lg mt-3 text-center">
                The  Grow & Glow Club is a unique initiative designed to provide a space for casual connection and personal reflection among members of Let 
                Us Dream. Understanding the challenges of maintaining balance in our busy lives, this club focuses on wellness, mindfulness, and the core 
                values that unite us.

            </div>
        </div>

        <div class="col mt-5 text-center">
            <div class="fw-bolder fs-2 mb-3 text-center">
                Our Purpose
            </div>
            <div class="lh-lg mt-3 text-center">
                The G & G Club aims to create a supportive environment where members can unwind, share experiences, and engage in open conversations without
                the pressures of tasks or reporting. This initiative emphasizes the importance of mental well-being and personal growth, encouraging members 
                to reconnect with themselves and the mission of Let Us Dream.

            </div>
        </div>


        <!-- What We Offer -->
        <div class="row mt-2">
            <!-- Image section for About -->
             <div class="col-12">
                <div class="text-center mb-3">
                    <img src="{% static 'clubs/G and G club1.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

        <div class="col mt-1 text-center">
            <div class="fw-bolder fs-2 mb-3 text-center">
                Who Can Join?
            </div>
            <div class="lh-lg mt-3 text-center">
                The Grow & Glow Club is primarily for those who have graduated and are involved in planning and organizing Let Us Dream conferences. This community is 
                designed for members to reconnect with their purpose and remain grounded in the values of LUD.

            </div>
        </div>
       

        <!-- Get involved -->
        <div class="row mt-5">
            <div class="col">
                <div class="fw-bolder fs-2 mb-3 text-center">
                    Join Us!
                </div>
                <div class="lh-lg text-center">
                    <span>Embrace the opportunity to prioritize your well-being and personal growth with the Grow & Glow Club. Together, we can create a vibrant space 
                        for connection, reflection, and empowerment, reinforcing the heart of Let Us Dream.</span>
        
                    <span>Let’s take the time to glow and grow together!</span>

                </div>
            </div>

            
        </div>

        <!-- Leadership section -->
        
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="text-center fw-bolder fs-2">
                    Leadership Team
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                <div class="col text-center">
                    <img src="{% static '/clubs/leadership/Ms. Phinu Mary Jose.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Ms. Phinu Mary Jose</div>
                        <small class="fst-italic">Senior Lead</small>
                    </div>
                </div>
                <div class="col text-center">
                    <img src="{% static '/clubs/leadership/Ms. Medha Varghese.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Ms. Medha Varghese</div>
                        <small class="fst-italic">Youth Lead</small>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contact section above footer -->
        <div class="row m-0 d-flex justify-content-center">
            <div class="col-12 my-5">
                <div class="text-center fw-bolder fs-2">
                    Contact
                </div>
                <div class="text-center mt-4 fw-bold fs-6">
                    <i class="fa-solid fa-envelope"></i> club@letusdream.org
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
