{% extends 'base.html' %}
{% load static %}

{% block title %}
Community Hubs
{% endblock title %}

{% block extraStyles %}
    <link rel="stylesheet" href="{% static 'clubs/clubs.css' %}" type="text/css">
{% endblock extraStyles %}

{% block content %}
    <div class="container margin-top-170">
        <nav aria-label="breadcrumb" class="animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0 bg-white">
                <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-black text-decoration-none">Clubs</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #0a7b79;">Self-Help Club</li>
            </ol>
        </nav>
        
        <div class="col-12">
            <div class="fs-1 fw-bolder text-center">
                Self-Help Club
            </div>
        </div>
        
        <!-- About section -->
        <section class="row mt-5">
            <div class="col-md-6">
                <div class="fw-bolder fs-2 mb-3">
                    About
                </div>
                <div class="lh-lg">
                    Focusing on health and happiness, this club targets personal development and self-discovery. Participants explore inspirational ideas from diverse sources. The focal point is on celebrating the beauty of caring and being mindful of living happier and healthier lives.
                </div>
            </div>

            <!-- Image section for About -->
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="https://images.unsplash.com/photo-1531844251246-9a1bfaae09fc?q=80&w=1832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-thumbnail rounded" width="350px" height="250px" alt="Self-Help Club Image">
            </div>
        </section>

        <!-- Objectives section -->
        <section class="row mt-5">
            <div class="col-md-6">
                <div class="fw-bolder fs-2 mb-3">
                    Objectives
                </div>
                <div class="lh-lg">
                    ● Prioritize discussions and activities that contribute to physical and mental well-being, fostering a holistic approach to health and happiness.
                    <br/>
                    ● Discuss and encourage the adoption of positive habits that contribute to overall well-being, both physically and emotionally.
                    <br/>
                    ● Create awareness around mental health and provide a safe space for open discussions on mental well-being.
                </div>
            </div>

            <!-- Latest News section -->
            <div class="col-md-6">
                <div class="text-center fw-bolder fs-2">
                    Latest News
                </div>
                <div class="club-news p-3">
                    <div class="fw-bold">
                        Latest News Update
                    </div>
                    <small class="fst-italic">
                        20th January 2024 | Bangalore, India
                    </small>
                </div>
            </div>
        </section>

        <!-- Contact section -->
        <section class="row mt-5">
            <div class="col-12 my-5">
                <div class="text-center fw-bolder fs-2">
                    Contact
                </div>
                <div class="text-center mt-4 fw-bold fs-6">
                    <i class="fa-solid fa-envelope"></i> clubs@letusdream.org
                </div>
            </div>
        </section>
    </div>
{% endblock content %}