{% extends 'base.html' %}
{% load static %}

{% block title %}
    GYLN (Global Youth Leadership Network)
{% endblock title %}

{% block extraStyles %}
    <link rel="stylesheet" href="{% static 'clubs/clubs.css' %}" type="text/css">
{% endblock extraStyles %}

{% block content %}
    <div class="container margin-top-170">
        <nav aria-label="breadcrumb" class="animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0 bg-white">
                <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a>
                </li>
                <li class="breadcrumb-item"><a class="text-black text-decoration-none">Clubs</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #0a7b79;">GYLN (Global Youth
                    Leadership Network)
                </li>
            </ol>
        </nav>

        <div class="col-12">
            <div class="fs-1 fw-bolder text-center mt-5">
                Welcome to the Global Youth Leadership Network!
            </div>

            <div class="lh-lg mt-3 text-center">
                The Global Youth Leadership Network (GYLN) is an innovative platform designed to empower emerging youth leaders from various DREAMS Chapters 
                across the globe. Founded in November 2020, GYLN serves as a nurturing space for personal growth, leadership development, and meaningful 
                networking among aspiring individuals.

            </div>
        </div>

        <!-- About section -->
        <div class="row mt-2">
            <!-- Image section for About -->
             <div class="col-12">
                <div class="text-center mb-3">
                    <img src="{% static '/clubs/GYLN1.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

         <!-- Objectives section -->
         <div class="row mt-1">
            <div class="col-12">
                <div class="text-center mb-5">
                    <img src="{% static '/clubs/GYLN2.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

        <!-- How it works section -->
        <div class="row mt-1">
            <div class="col-12">
                <div class="text-center mb-5">
                    <img src="{% static '/clubs/GYLN3.png' %}" alt="Clubs Overview Image" class="img-fluid" id="expandableImage" style="cursor:pointer;">
                </div>
            </div>
        </div>

        <!-- Get involved -->
        <div class="row mt-5">
            <div class="col">
                <div class="fw-bolder fs-2 mb-3">
                    Get Involved
                </div>
                <div class="lh-lg">
                    <span>We invite all young leaders who are passionate about making a difference to join the Global Youth Leadership Network. Whether you are just starting your 
                    leadership journey or are a seasoned advocate for change, GYLN offers a welcoming community for growth, collaboration, and inspiration.</span>
                    <span>Join us in our mission to empower youth globally. Together, we can lead the way toward a brighter future!</span>

                </div>
            </div>
        </div>

        <!-- Leadership section -->
        
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="text-center fw-bolder fs-2">
                    Leadership Team
                </div>
            </div>
            <div class="row justify-content-center g-4">
                <div class="col-md-3 text-center">
                    <img src="{% static '/clubs/leadership/Mr. Tirukovela Srikar.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Mr. Tirukovela Srikar
                        </div>
                        <small class="fst-italic">Senior Lead</small>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <img src="{% static '/clubs/leadership/Mr. Ayush Paul.png' %}" class="img-thumbnail rounded" alt="" style="width: 150px; height: auto;">
                    <div class="mt-3 text-center">
                        <div class="fw-bolder">Mr. Ayush Paul</div>
                        <small class="fst-italic">Youth Lead</small>
                    </div>
                </div>
            </div>
        </div>
        


        <!-- Contact section above footer -->
        <div class="row m-0 d-flex justify-content-center">
            <div class="col-12 my-5">
                <div class="text-center fw-bolder fs-2">
                    Contact
                </div>
                <div class="text-center mt-4 fw-bold fs-6">
                    <i class="fa-solid fa-envelope"></i> clubs@letusdream.org
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
