{% extends 'base.html' %}
{% load static %}

{% block title %}
Newsletter
{% endblock %}


{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/media-view-photo.css' %}" type="text/css">
{% endblock extraStyles %}

{% block links %}


{% endblock links %}
{% block content %}
<nav class="cus-breadcrumb" aria-label="breadcrumb animated slideInDown">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        </li>
        <li class="breadcrumb-item  active " aria-current="page">Sustainability</li>
    </ol>
</nav>




<div class="container view-container blog-home2">
    <h1>Comming Soon</h1>
    
    
</div>

{% endblock %}