{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact US
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/2025/contactUs.css' %}" type="text/css">
{% endblock links %}

{% block content %}
    <nav class="cus-breadcrumb breadcrumb-style" aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb container mb-0">
            <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="text-black text-decoration-none">About Us</a></li>
            <li class="breadcrumb-item  active " aria-current="page">Contact Us</li>
        </ol>
    </nav>

    <div class="container my-5">
        <h1 class="text-center mb-5">
            &Prime;Join Our Community - Connect with Us&Prime;
        </h1>


        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 mb-3">
                <iframe class=""
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d182377.38723339717!2d77.61630833403241!3d12.994592804847882!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15b277a93807%3A0x88518f37b39dabd0!2sChrist%20University!5e0!3m2!1sen!2sin!4v1687845812683!5m2!1sen!2sin"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">

                </iframe>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">

                <div class=" text-center bg-light-blue p-5">
                    "Unite our passions for a greater cause. Join hands with Let Us
                    Dream, making a positive impact together. Together, we can change lives!"
                </div>
                <div class="row bg-light m-0 p-3 d-flex justify-content-center align-items-center">
                    <div class="col text-center">
                        <i class="fa-solid fa-envelope m-2"></i>
                        <a class="text-decoration-none text-black text-break" href="mailto:office@letusdream.org">
                            office@letusdream.org
                        </a>
                    </div>
                    <div class="col text-center  text-break">
                        <i class="fa-solid fa-phone m-2"></i>
                        +91 99722 22553
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-globe m-2"></i>
                        <a href="http://letusdream.org" class="text-decoration-none text-black  text-break"
                           target="_blank" rel="noopener noreferrer">
                            letusdream.org
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
             <div class="col-6 col-md-3 text-center mb-3">
                <i class="fa fa-phone fs-1 mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase">Call Us</h4>
                <p class="text-center">+91 99722 22553</p>
            </div>
             <div class="col-6 col-md-3 text-center mb-3">
                <i class="fa fa-globe fs-1 mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase">Website</h4>
                <a href="https://letusdream.org" class="text-decoration-none text-dark">
                    letusdream.org
                </a>
            </div>
             <div class="col-6 col-md-3 text-center mb-3">
                <i class="fa fa-map-marker fs-1 mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase">Location</h4>
                <p class="text-center">Bangalore</p>
            </div>
             <div class="col-6 col-md-3 text-center mb-3">
                <i class="fa fa-envelope fs-1 mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase">Email</h4>
                <a href="mailto:office@letusdream.org" class="text-decoration-none text-dark">
                    office@letusdream.org
                </a>
            </div>
        </div>

    </div>
{% endblock %}