{% extends 'base.html' %}
{% load static %}

{% block title %}
ABOUT US
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/2024/leadership.css' %}" type="text/css">
{% endblock extraStyles %}

{% block content %}

<div class="m-5">
    <nav class="cus-breadcrumb" aria-label="breadcrumb animated slideInDown ">
        <ol class="breadcrumb text-uppercase mb-0 bg-white">
            <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="text-black text-decoration-none">ABOUT US</a></li>
            <li class="breadcrumb-item  active " aria-current="page">Leadership</li>
        </ol>
    </nav>
</div>

<div class="container mb-3 mt-5 ">

    <div class="fw-bolder fs-2 p-3 text-center">
        Strategic Team
    </div>

    <div class="row m-auto p-2 text-center text-white">

        <div class="col-6 col-sm-2 p-2 lud-blue-light-2-bg">
            <div class="col-12 fs-4 text-center">
                DREAMS
            </div>
            <div class="row m-auto mt-3">
                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/DREAMS_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Mr Adarsh Jose
                    </p>
                </div>

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/DREAMS_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Banu H V
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-2 p-2 lud-green-light-2-bg">
            <div class="col-12 fs-4 text-center">
                Clubs
            </div>
            <div class="row m-auto mt-3">
                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Clubs_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break ">
                        Dr Pauline Leonard
                    </p>
                </div>

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Clubs_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Swathishree B V
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-2 p-2 lud-blue-light-2-bg">
            <div class="col-12 fs-4 text-center">
                Conference
            </div>
            <div class="row m-auto mt-3">

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Conference_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Dr Jimmy Cherian
                    </p>
                </div>

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Conference_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Shrushti Mahajan
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-2 p-2 lud-green-light-2-bg">
            <div class="col-12 fs-4 text-center">
                Productions
            </div>
            <div class="row m-auto mt-3">
                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Productions_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Dr Deepakkumar S
                    </p>
                </div>

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Productions_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Kalika Mathur
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-2 p-2 lud-blue-light-2-bg">
            <div class="col-12 fs-4 text-center">
                Courses
            </div>
            <div class="row m-auto mt-3">
                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Courses_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Col Ranjeev K Babu, VSM
                    </p>
                </div>

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Courses_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Devika M
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-2 p-2 lud-green-light-2-bg">
            <div class="col-12 fs-4 text-center">
                Research
            </div>
            <div class="row m-auto mt-3">
                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Research_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Dr. Carl L. Thameling
                    </p>
                </div>

                <div class="col-6">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Research_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Mr Jestin Joseph
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row m-auto p-2 text-center pb-3">

        <div class="col-6 col-sm-3 fs-4 p-3 text-center lud-green-light-bg">
            <div class="col">
                Media
            </div>
            <div class="row m-auto mt-3 ">
                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Media_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Meethu Mary George
                    </p>
                </div>

                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Media_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Aadya Gupta
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-3 fs-4 p-3 text-center lud-green-light-bg">
            <div class="col-12">
                Partnership
            </div>
            <div class="row m-auto mt-3">
                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Partnership_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Mr David S R
                    </p>
                </div>

                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Partnership_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Samiksha Periwal
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-3 fs-4 p-3 text-center lud-green-light-bg">
            <div class="col-12">
                Operations
            </div>
            <div class="row m-auto mt-3">
                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Operations_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Mr Yogesh L
                    </p>
                </div>
                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Operations_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">
                        Ms Swarnika R
                    </p>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-3 fs-4 p-3 text-center lud-green-light-bg">
            <div class="col-12">
                Finance
            </div>
            <div class="row m-auto mt-3">
                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Finance_1.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">Mr Akshat Jain</p>
                </div>
                <div class="col">
                    <div class="">
                        <img src="{% static 'Aboutus/leadership/Finance_2.png'%}" class="img-fluid mb-1">
                    </div>
                    <p class="text-center fst-italic text-break">Ms Jasmine Kaur Sahni</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container mb-5 mt-3 p-1">

    <div class="row text-center m-0 ">
        <div class="col p-1 pb-3">
            <div class="row m-auto mt-3">
                <div class="col">
                    <div class=" px-4">
                        <img src="{% static 'Aboutus/leadership/Founder.png'%}" class="img-fluid mb-1" style="height: 200px;">
                    </div>
                    <div class="mb-0 fs-6 fw-bolder">Fr Lijo Thomas</div>
                    <div class="fs-6">Founder/Director</div>
                </div>

                <div class="col">
                    <div class=" px-4">
                        <img src="{% static 'Aboutus/leadership/Tressurar.png'%}" class="img-fluid mb-1" style="height: 200px;">
                    </div>
                    <div class="mb-0 fs-6 fw-bolder">Ms Jasmine Kaur Sahni</div>
                    <div class="fs-6 ">Tressurar, Board</div>
                </div>

                <div class="col">
                    <div class=" px-4">
                        <img src="{% static 'Aboutus/leadership/Trustee.png'%}" class="img-fluid mb-1" style="height: 200px;">
                    </div>
                    <div class="mb-0 fs-6 fw-bolder">Fr Tomy Kattampally</div>
                    <div class="fs-6">Managing Trustee</div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}