{% extends 'base.html' %}
{% load static %}

{% block title %}
    Media
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/2025/leadership.css' %}" type="text/css">
{% endblock links %}

{% block content %}


    <nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb  breadcrumb-style">
        <ol class="breadcrumb container mb-0">
            <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="text-black text-decoration-none">ABOUT US</a></li>
            <li class="breadcrumb-item  active" aria-current="page">Media</li>
        </ol>
    </nav>

    <div class="container my-5">
        <h1 class="mt-4 text-center">MEDIA</h1>
        <div class="text-center mb-4 fst-italic fs-4">
            Social Networks aren't about websites. They're about experiences
        </div>


        <div class="row mt-5">
            <h2 class="mb-3">Publications</h2>
            <hr/>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <div class="text-center bg-light fw-bold mb-3">
                        Nov 05, 2023
                    </div>
                    <a href="{% static 'Publications/SilverJubile.pdf' %}"
                       class="text-decoration-none text-black" target="_blank">
                        <img src="{% static 'Publications/SilverJubileThumpnail.png' %}"
                             alt="" class="img-fluid rounded">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <div class="text-center bg-light fw-bold mb-3">
                        Nov 05, 2023
                    </div>
                    <a href="{% static 'Publications/Proceedings.pdf' %}"
                       class="text-decoration-none text-black" target="_blank">
                        <img src="{% static 'Publications/ProceedingsThumpnail.png' %}"
                             alt="" class="img-fluid rounded">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <div class="text-center bg-light fw-bold mb-3">
                        Nov 05, 2023
                    </div>
                    <a href="https://drive.google.com/file/d/1mgFBqXMw9gSV8D5vAzKGG6W_TGu2_LhK/view?pli=1"
                       class="text-decoration-none text-black" target="_blank">
                        <img src="{% static 'Publications/DreamsThumpnail.png' %}"
                             alt="" class="img-fluid rounded">
                    </a>
                </div>
            </div>
        </div>

        <!-- ===== Press Release Section ===== -->
        <div class="mb-4">
            <div class="card-header">
                <h2 class="mb-0">Press Release</h2>
            </div>
            <div class="card-body">
                <div class="container-fluid p-3 rounded">
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Dec 25, 2024
                            </div>
                            <img src="{% static 'Aboutus/Media/Press/lud news.png' %}" class="img-fluid rounded"
                                 style="margin-top: 80px;">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Jul 25, 2015
                            </div>
                            <img src="{% static 'Aboutus/Media/Press/tumb3.jpg' %}" class="img-fluid rounded"
                                 style="margin-top: 80px;">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Jul 27, 2016
                            </div>
                            <img src="{% static 'Aboutus/Media/Press/tumb1.jpg' %}" class="img-fluid rounded"
                                 style="margin-top: 80px;">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Nov 02, 2017
                            </div>
                            <img src="{% static 'Aboutus/Media/Press/tumb2.png' %}" class="img-fluid rounded"
                                 style="margin-top: 80px;">
                        </div>
                    </div>
                </div>
                <p class="text-end mt-3"><a href="" class="fw-bold text-h3 text-decoration-none">Read more</a>
                </p>
            </div>
        </div>

        <!-- ===== Videos Section ===== -->
        <div class="mb-4">
            <div class="card-header">
                <h2 class="mb-0">Videos</h2>
            </div>
            <div class="card-body">
                <div class="container-fluid text-h3 bg-green">
                    <div class="row text-center">
                        <div class="col-lg-4 col-md-6 pb-3">
                            <iframe src="https://www.youtube.com/embed/cq7T8uUdPDQ" class="img1 m-3"
                                    target="_blank"></iframe>
                        </div>
                        <div class="col-lg-4 col-md-6 pb-3">
                            <iframe src="https://www.youtube.com/embed/cW_X3EKxkwg" class="img1 m-3"
                                    target="_blank"></iframe>
                        </div>
                        <div class="col-lg-4 col-md pb-3">
                            <iframe src="https://www.youtube.com/embed/n1lFnIgQSq8" class="img1 m-3"
                                    target="_blank"></iframe>
                        </div>
                    </div>
                </div>
                <p class="text-end mt-3"><a href="" class="fw-bold text-h3 text-decoration-none">View more</a>
                </p>
            </div>
        </div>

        <!-- ===== Photo Gallery Section ===== -->
        <div class="mb-4">
            <div class="card-header">
                <h2 class="mb-0">Photo Gallery</h2>
            </div>
            <div class="card-body">
                <div class="container-fluid p-3 rounded">
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <img src="{% static 'Aboutus/Media/photoGallery/thum1.jpg' %}"
                                 class="img-fluid rounded mb-2"
                                 alt="Bangalore Gallery">
                            <p class="fw-bold text-center media-cus-p fs-6">Bangalore Gallery</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <img src="{% static 'Aboutus/Media/photoGallery/thum2.jpg' %}"
                                 class="img-fluid rounded  mb-2"
                                 alt="Chaganacherry Gallery">
                            <p class="fw-bold text-center media-cus-p fs-6">Chaganacherry Gallery</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <img src="{% static 'Aboutus/Media/photoGallery/thum3.jpg' %}"
                                 class="img-fluid rounded mb-2"
                                 alt="Mannanam Gallery">
                            <p class="fw-bold text-center media-cus-p fs-6">Mannanam Gallery</p>
                        </div>
                    </div>
                </div>
                <p class="text-end mt-3"><a href="" class="fw-bold text-h3 text-decoration-none">See more</a>
                </p>
            </div>
        </div>

        <!-- ===== Newsletters Section ===== -->
        <div class="mb-4">
            <div class="card-header">
                <h2 class="mb-0">Newsletters</h2>
            </div>
            <div class="card-body">
                <div class="container-fluid p-3 rounded">
                    <div class="row text-center justify-content-center">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Sept 28, 2023
                            </div>
                            <a href="" target="_blank" class="d-block mt-5 pt-3">
                                <img src="{% static '2025/newsletter/NewsBulletin_Changanassery.png' %}"
                                     class="img-fluid rounded"
                                     style="margin-top: 25px;">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 position-relative">
                            <div
                                    class="bg-info-gradiant   mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                    style="z-index: 1;">
                                Oct 21, 2020
                            </div>
                            <a href="" target="_blank" class="d-block mt-5 pt-3">
                                <img src="{% static 'Aboutus/Media/Newsletter/dec2024.png' %}"
                                     class="img-fluid rounded"
                                     style="margin-top: 25px;">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Nov 2024
                            </div>
                            <a href="{% static '2024/newsletters/DREAMSJNC2024Newsletter.pdf' %}"
                               target="_blank"
                               class="d-block mt-5 pt-3">
                                <img src="{% static '2024/newsletters/thumbnails/dreamsjnc24.png' %}"
                                     class="img-fluid rounded"
                                     style="margin-top: 25px;">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 position-relative">
                            <div class="bg-info-gradiant mt-5 text-dark rounded position-absolute top-0 start-50 translate-middle-x"
                                 style="z-index: 1;">
                                Sept 28, 2023
                            </div>
                            <a href="" target="_blank" class="d-block mt-5 pt-3">
                                <img src="{% static 'Aboutus/Media/Newsletter/Newsletter-11.jpg' %}"
                                     class="img-fluid rounded"
                                     style="margin-top: 25px;">
                            </a>
                        </div>
                    </div>
                </div>
                <p class="text-end mt-3"><a href="" class="fw-bold text-h3 text-decoration-none">Read more</a>
                </p>
            </div>
        </div>

    </div>
    </div>
    </div>

{% endblock %}