{% extends 'base.html' %}
{% load static %}

{% block title %}
Media-Photos
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/media-view-photo.css' %}" type="text/css">
{% endblock extraStyles %}

{% block links %}
<!--Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<!--  Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" type="text/css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
{% endblock links %}

{% block content %}
<nav class="cus-breadcrumb" aria-label="breadcrumb animated slideInDown">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none">ABOUT US</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'media' %}">Media</a>
        </li>
        <li class="breadcrumb-item  active " aria-current="page">Press Release</li>
    </ol>
</nav>



<div class="container view-container blog-home2 mb-5">
    <h1>PRESS RELEASE</h1>
    <div class="image-container">

        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press10.jpg' %}" alt=""></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Feb<span class="d-block">10</span>2025</div>
        </div>
        <div class="card">
            <div class="image h-100">
                <a href="{% static '2024/Conference/news/ConversationsToday-December2024.pdf' %}" target="_blank">
                    <img src="{% static 'Aboutus/Media/Press/lud news.png' %}" alt="">
                </a>
            </div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Dec
                <span class="d-block"></span>2024
            </div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press2.jpg' %}" alt=""></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Jul<span class="d-block">25</span>2015</div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press3.jpg' %}" alt=""></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Jul<span class="d-block">27</span>2016</div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press6.jpg' %}" alt="img1"></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Jul<span class="d-block">27</span>2016</div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press7.png' %}" alt=""></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Nov<span class="d-block">02</span>2017</div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press8.png' %}" alt=""></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Nov<span class="d-block">02</span>2017</div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press5.jpeg' %}" alt=""></div>
            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                Jul<span class="d-block">25</span>2018</div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press1.jpg' %}" alt=""></div>
        </div>
        <div class="card">
            <div class="image h-100"><img src="{% static 'Aboutus/Media/Press/Press4.jpeg' %}" alt=""></div>
        </div>
    </div>

    <div class="popup-image">
        <span>&times;</span>
        <img src="{% static 'Aboutus/Media/Press/Press6.jpg' %}" alt="img1">
    </div>
</div>

<script>
    document.querySelectorAll('.image-container img').forEach(image => {

        image.onclick = () => {
            document.querySelector('.popup-image').style.display = "block";
            document.querySelector('.popup-image img').src = image.getAttribute('src')
        }
    })

    document.querySelector('.popup-image span').onclick = () => {
        document.querySelector('.popup-image').style.display = "none";

    }
</script>

{% endblock %}