{% extends 'base.html' %}
{% load static %}
{% block title %}
Photo Gallery
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Photo Gallery</title>

  <!--Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

  <!--  Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <style>
    body{
        font-family: 'Montserrat', sans-serif;
    }
    h1 {
      text-align: center;
      font-weight: bolder;
      color: #0a7b79;
    }

    .card {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      margin-bottom: 30px;
    }

    .card::before {
      position: absolute;
      content: "";
      width: 80%;
      height: 220%;
      background: rgba(211, 242, 233, 0.7);
      top: -50%;
      left: -100%;
      z-index: 1;
      transform: rotate(25deg);
      transform-origin: center top 0;
      transition: 0.5s;
    }

    .card:hover:before {
      left: 10%;
    }

    .card img {
      width: 100%;
      height: 100% !important;
    }

    .card-text {
      width: 100%;
      padding: 0 20px;
      position: absolute;
      top: -100%;
      color: #546789;
      left: 0;
      z-index: 2;
      transition: 1.1s;
    }

    .card-text h3 {
      font-family: "Montserrat", sans-serif;
    }

    .card:hover .card-text {
      top: 80px;
    }

    .row {
      padding-bottom: 5% !important;
    }

    .img1 {
      width: 100% !important;
      height: 100% !important;
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
      z-index: 999;
      overflow: hidden;
    }

    .overlay:target {
      margin: 80px auto;
      visibility: visible;
      opacity: 1;
    }

    .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 70%;
      position: relative;
      transition: all 5s ease-in-out;
    }

    .popup h2 {
      margin-top: 0;
      color: #333;
      padding-bottom: 20px;
      margin-left: 20px;
      font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .popup .close:hover {
      color: #06d85f;
    }

    .popup .content {
      max-height: 30%;
      border-radius: 20px;
      overflow: auto;
    }

    /** code by webdevtrick ( https://webdevtrick.com ) **/

    .myimages {
      display: flex;
      overflow: hidden;
      height: 550px;
      background: #fff;
      z-index: 99999;
      overflow: hidden;
    }

    .myimages img {
      max-width: 100%;
      vertical-align: middle;
      border: 2px solid white;
      box-sizing: border-box;
      transition: opacity 0.2s;
    }

    .myimages:hover img {
      opacity: 0.5;
    }

    .myimages img:hover {
      opacity: 1;
    }

    .first-column {
      animation: var(--animation, none) 16s infinite linear;
    }

    .first-column:hover {
      animation-play-state: paused;
    }

    .first-column:nth-of-type(odd) {
      align-self: flex-end;
      --direction: 50%;
    }

    @keyframes slide {
      to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%));
      }
    }

    @media screen and (max-width: 700px) {
      .popup {
        width: 70%;
      }

      .overlay {
        height: 550px;
      }

      .myimages {
        width: 100%;
        height: 250px;
      }
    }
  </style>
</head>

<body>

  <!-- <nav aria-label="breadcrumb bg-white animated slideInDown" class="ml-4" style="margin-top: 9%">
    <ol class=" breadcrumb text-uppercase bg-white mb-0">
      
    </ol>
  </nav> -->

  <nav aria-label="breadcrumb animated slideInDown" style="margin-top: 9%; margin-left:15%;">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
      <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
      <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'media' %}">Media</a></li>
      <li class="breadcrumb-item  active" aria-current="page" style="color: #0a7b79;">Photo Gallery</li>
    </ol>
</nav>

  <h1>PHOTO GALLERY</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <a href="#popup1">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Bangolere.jpg' %}" />
            <div class="card-text">
              <h3>Banglore</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="#popup2">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Chaganacherry.jpg' %}" class="img1" />
            <div class="card-text">
              <h3>Chaganacherry</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="#popup3">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Mannanam.jpg' %}" class="img1" />
            <div class="card-text">
              <h3>Mannanam</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="#popup4">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Thiruvananthapuram.jpg' %}" class="img1" />
            <div class="card-text">
              <h3>Thiruvananthapuram</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="#popup5">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Thiruvallam.jpg' %}" class="img1" />
            <div class="card-text">
              <h3>Thiruvallam</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#popup6">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Bastrop.jpg' %}" />
            <div class="card-text">
              <h3>Bastrop</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#popup7">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Dallas.jpg' %}" />
            <div class="card-text">
              <h3>Dallas</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#popup8">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Lagrande.jpg' %}" />
            <div class="card-text">
              <h3>Lagrande</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#popup9">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Mcallen.jpg' %}" />
            <div class="card-text">
              <h3>Mcallen</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#popup10">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Monroe.jpg' %}" />
            <div class="card-text">
              <h3>Monroe</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="col-md-4 col-sm-6">
        <a href="#popup11">
          <div class="card">
            <img src="{% static 'Aboutus/Media/Chaganacherry.jpg' %}">
            <div class="card-text">
              <h3>Banglore</h3>
              <h5>Gallery</h5>
            </div>
          </div>
        </a>
      </div> -->
    </div>
  </div>
  <!-- popup 1 -->
  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Banglore Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Banglore/Banglore1.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Banglore/Banglore3.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Banglore/Banglore5.jpg' %}" alt="image" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Banglore/Banglore7.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Banglore/Banglore9.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Banglore/Banglore11.jpg' %}" alt="image" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=8" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Banglore/Banglore12.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Banglore/Banglore13.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Banglore/Banglore14.jpg' %}" alt="image" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=12" alt="image"></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- popup 2 -->
  <div id="popup2" class="overlay">
    <div class="popup">
      <h2>Chaganacherry Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Chaganacherry/Chaganacherry1.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Chaganacherry/Chaganacherry2.jpg' %}" alt="image" width="571px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Chaganacherry/Chaganacherry3.jpg' %}" alt="image" width="571px" />
            <img src="{% static 'Aboutus/Chaganacherry/Chaganacherry4.jpg' %}" alt="image" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=7" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=8" alt="image"></a> -->
          </div>
          <!-- <div class="first-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=9" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=10" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=11" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=12" alt="image"></a>
          </div>
          <div class="first-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- popup 3 -->
  <div id="popup3" class="overlay">
    <div class="popup">
      <h2>Mannanam Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Mannanam/Mannanam1.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Mannanam/Mannanam2.jpg' %}" alt="image" width="571px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Mannanam/Mannanam3.jpg' %}" alt="image" width="641px" />
            <img src="{% static 'Aboutus/Mannanam/Mannanam4.jpg' %}" alt="image" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=7" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=8" alt="image"></a> -->
          </div>
          <!-- <div class="first-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=9" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=10" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=11" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=12" alt="image"></a>
          </div>
          <div class="first-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- popup 4 -->
  <div id="popup4" class="overlay">
    <div class="popup">
      <h2>Thiruvananthapuram Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Thiruvananthapuram/Thiruvananthapuram1.jpg' %}" alt="image" width="480px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Thiruvananthapuram/Thiruvananthapuram1.jpg' %}" alt="image" width="480px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=6" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=7" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=8" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Thiruvananthapuram/Thiruvananthapuram1.jpg' %}" alt="image" width="480px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=10" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=11" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=12" alt="image"></a> -->
          </div>
          <!-- <div class="first-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div>  -->
        </div>
      </div>
    </div>
  </div>
  <!-- popup 5 -->
  <div id="popup5" class="overlay">
    <div class="popup">
      <h2>Thiruvallam Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam1.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam2.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam3.jpg' %}" alt="image" width="548px" />

            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam4.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam5.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam6.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam7.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam8.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam9.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam10.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam11.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Thiruvallam/Thiruvallam12.jpg' %}" alt="image" />
          </div>
          <!-- <div class="first-column">
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- popup 6 -->
  <div id="popup6" class="overlay">
    <div class="popup">
      <h2>Bastrop Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Bastrop/Bastrop1.jpeg' %}" alt="image" width="487px" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop2.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop3.jpeg' %}" alt="image" />

            <img src="{% static 'Aboutus/Bastrop/Bastrop4.jpeg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Bastrop/Bastrop5.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop6.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop7.jpeg' %}" alt="image" />

            <img src="{% static 'Aboutus/Bastrop/Bastrop8.jpeg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Bastrop/Bastrop9.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop10.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop11.jpeg' %}" alt="image" />

            <img src="{% static 'Aboutus/Bastrop/Bastrop12.jpeg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Bastrop/Bastrop13.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop14.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Bastrop/Bastrop15.jpeg' %}" alt="image" />

            <img src="{% static 'Aboutus/Bastrop/Bastrop16.jpeg' %}" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- popup 7 -->
  <div id="popup7" class="overlay">
    <div class="popup">
      <h2>Dallas Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Dallas/Dallas1.jpg' %}" alt="image" width="487px" />
            <img src="{% static 'Aboutus/Dallas/Dallas2.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas3.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Dallas/Dallas4.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Dallas/Dallas5.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas6.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas7.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Dallas/Dallas8.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Dallas/Dallas9.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas10.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas11.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Dallas/Dallas12.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Dallas/Dallas13.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas14.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Dallas/Dallas15.jpeg' %}" alt="image" />

            <img src="{% static 'Aboutus/Dallas/Dallas16.jpeg' %}" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- popup 8 -->
  <div id="popup8" class="overlay">
    <div class="popup">
      <h2>Lagrande Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Lagrande/Lagrande1.jpg' %}" alt="image" width="487px" />
            <img src="{% static 'Aboutus/Lagrande/Lagrande2.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Lagrande/Lagrande3.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Lagrande/Lagrande4.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Lagrande/Lagrande5.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Lagrande/Lagrande6.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Lagrande/Lagrande7.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Lagrande/Lagrande8.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Lagrande/Lagrande9.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Lagrande/Lagrande10.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Lagrande/Lagrande11.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Lagrande/Lagrande12.jpg' %}" alt="image" width="487px" />
          </div>
          <!-- <div class="first-column">
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- popup 9 -->
  <div id="popup9" class="overlay">
    <div class="popup">
      <h2>Mcallen Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Mcallen/Mcallen1.jpg' %}" alt="image" width="480px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=4" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Mcallen/Mcallen1.jpg' %}" alt="image" width="480px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=6" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=7" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=8" alt="image"></a> -->
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Mcallen/Mcallen1.jpg' %}" alt="image" width="480px" />
            <!-- <a href="#"><img src="https://picsum.photos/300/300?random=10" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=11" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=12" alt="image"></a> -->
          </div>
          <!-- <div class="first-column">
            <a href="#"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div>  -->
        </div>
      </div>
    </div>
  </div>
  <!-- popup 10 -->
  <div id="popup10" class="overlay">
    <div class="popup">
      <h2>Monroe Gallery</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">
          <div class="first-column">
            <img src="{% static 'Aboutus/Monroe/Monroe1.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe2.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe3.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Monroe/Monroe4.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Monroe/Monroe5.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe6.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe7.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Monroe/Monroe8.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Monroe/Monroe9.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe10.jpg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe11.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Monroe/Monroe12.jpg' %}" alt="image" />
          </div>
          <div class="first-column">
            <img src="{% static 'Aboutus/Monroe/Monroe13.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe14.jpeg' %}" alt="image" />
            <img src="{% static 'Aboutus/Monroe/Monroe15.jpg' %}" alt="image" />

            <img src="{% static 'Aboutus/Monroe/Monroe16.jpg' %}" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- popup 11 -->
  <!-- <div id="popup11" class="overlay">
    <div class="popup">
      <h2>Here i am</h2>
      <a class="close" href="">&times;</a>
      <div class="content">
        <div class="myimages">

          <div class="first-column">
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=1" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=4" alt="image"></a>
          </div>
          <div class="first-column">
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=5" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=6" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=7" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=8" alt="image"></a>
          </div>
          <div class="first-column">
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=9" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=10" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=11" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=12" alt="image"></a>
          </div>
          <div class="first-column">
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=13" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=14" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=15" alt="image"></a>
            <a href="#" target="_blank"><img src="https://picsum.photos/300/300?random=16" alt="image"></a>
          </div>




        </div>
      </div>
    </div>
  </div> -->
</body>
<script>
  $(document).ready(function () {
    [...document.querySelectorAll(".first-column")].map((column) => {
      column.style.setProperty("--animation", "slide");
      column.style.setProperty("height", "200%");
      column.innerHTML = column.innerHTML + column.innerHTML;
    });
  });
</script>

</html>
{% endblock %}