.cover{
    padding: 20px;
    background-color: #e2f1ac;
}

.card-cover{
    padding:  20px;
    background-color: #c7e1f4;
}

.card-cover-light{
    background-color: rgba(215, 238, 255, 0.66);
}

.bg-custom-dark{
    background-color: #f8f9fa;
}

.breadcrumb-style{
    padding: 10px;
    background-color: rgba(225, 225, 225, 0.38);
}