.bg-bluelight{
    background-color: #96d2f3;
}

.bg-lightgreen{
    background-color: #bcf4d3;
}

.btn-bg{
    background-color: #61a1d3 !important;
}

.margin-left-20{
    margin-left: 10px !important;
}

.font-big{
    font-size: 90px !important;
    line-height: 55px !important;
}

.breadcrumb-style{
    padding: 10px;
    background-color: rgba(225, 225, 225, 0.38);
}