{% extends 'base.html' %}
{% load static %}

{% block title %}
PUBLICATIONS
{% endblock %}


{% block extraStyles %}

<link rel="stylesheet" href="{% static 'css/publications.css' %}" type="text/css">

<link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

{% endblock extraStyles %}

{% block content %}
<section class="section">
    <nav aria-label="breadcrumb animated slideInDown" style="margin-top: 9%; margin-left:15%;">
        <ol class="breadcrumb text-uppercase mb-0 bg-white">
            <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a>
            </li>
            <li class="breadcrumb-item"><a class="text-black text-decoration-none">RESEARCH</a></li>
            <li class="breadcrumb-item  active" aria-current="page" style="color: #0a7b79;">PUBLICATIONS</li>
        </ol>
    </nav>

    <h1 class="text-green heading-h3 text-center fw-bold fs-2 text-uppercase mb-2 mt-5 py-3">Publications</h1>

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-12 m-5">
                <div class="table-responsive">
                    <table id="myTable" class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Title</th>
                                <th scope="col">Citation</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    2024
                                </td>
                                <td>
                                    Technology-Integrated After-School Program: A Case Study of the DREAMS Intervention.
                                </td>
                                <td>
                                    Joseph, J., Thomas, L., Gomes, R. F., & Yogesh, L. (2024). Technology-Integrated
                                    After-School Program: A Case Study of the DREAMS Intervention. In G. Prakasha, M.
                                    Lapina, D. Balakrishnan, & M. Sajid (Eds.), Educational Perspectives on Digital
                                    Technologies in Modeling and Management (pp. 263-281). IGI Global.
                                    https://doi.org/10.4018/979-8-3693-2314-4.ch013.
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://doi.org/10.4018/979-8-3693-2314-4.ch013">
                                        link
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2024
                                </td>
                                <td>
                                    A Pilot Study of the DREAMS Program - A Community Collaborative Intervention for the
                                    Psychosocial Development of Middle School Students.
                                </td>
                                <td>
                                    Thomas, L. (2024). A Pilot Study of the DREAMS Program: A Community Collaborative
                                    Intervention for the Psychosocial Development of Middle School Students. Journal of
                                    School Administration Research and Development, 9(1), 46-55.
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://doi.org/10.32674/jsard.v9i1.5670">
                                        link
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2024
                                </td>
                                <td>
                                    Let Us Dream’s Migration to a Global Virtual Conference: Delivering a Social
                                    Entrepreneurial Event.
                                </td>
                                <td>
                                    Thomas, L., Curl, A. L., Thameling, C. L., Vijaya, R., & Custer, S. (2023). Let Us
                                    Dream’s Migration to a Global Virtual Conference: Delivering a Social
                                    Entrepreneurial Event. Event Management, 28(2), 215-228. DOI:
                                    https://doi.org/10.3727/152599523X16990639314800
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://doi.org/10.3727/152599523X16990639314800">
                                        link
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2024
                                </td>
                                <td>
                                    Developing Authentic Thought Leaders Through the DREAMS Model of Social Action.
                                </td>
                                <td>
                                    Lijo Thomas, Anuradha Sathiyaseelan and B. Sathiyaseelan, Chapter 15, "Models for
                                    Social Responsibility Action by Higher Education Institutions"
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://novapublishers.com/shop/models-for-social-responsibility-action-by-higher-education-institutions/">
                                        link
                                    </a>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    2022
                                </td>
                                <td>
                                    University-Community Collaboration for a Sustainable School-Based Program for the
                                    Holistic Education and Wellness of Adolescents
                                </td>
                                <td>
                                    Thomas, L. (2022). University-Community Collaboration for a Sustainable School-Based
                                    Program for the Holistic Education and Wellness of Adolescents. ECS Transactions,
                                    107(1), 14855.
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://iopscience.iop.org/article/10.1149/10701.14855ecst">
                                        link
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2022
                                </td>
                                <td>
                                    Virtual Community Mentoring Models for Middle School Underachievers Psychosocial
                                    Development and Well-Being During COVID-19
                                </td>
                                <td>
                                    Gomes, R. F., & Thomas, L. (2022). Virtual Community Mentoring Models for Middle
                                    School Underachievers Psychosocial Development and Well-Being During COVID-19.
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://jl4d.org/index.php/ejl4d/article/view/614">
                                        link
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2022
                                </td>
                                <td>
                                    DREAMS After-School Programme for the Holistic Development of Children Amid Covid-19
                                </td>
                                <td>
                                    Thomas, L., Prakasha, G. S., & Joseph, J. (2022). DREAMS After-School Programme for
                                    the Holistic Development of Children Amid Covid-19. International Journal of Virtual
                                    and Personal Learning Environments (IJVPLE), 12(1), 1-14.
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.igi-global.com/article/dreams-after-school-programme-for-the-holistic-development-of-children-amid-covid-19/310008">
                                        link
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2021
                                </td>
                                <td>
                                    Principles of PERMA Intervention: An Ability Well-Being Model for Underachievers
                                </td>
                                <td>
                                    Roseline Florence Gomes, Dr. Lijo Thomas
                                </td>
                                <td>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2021
                                </td>
                                <td>
                                    The PERMA Program: An Ability Well-Being Model for Middle School Underachievers
                                    Abstract
                                </td>
                                <td>
                                    M Roseline Florence Gomes, Dr. Lijo Thomas
                                </td>
                                <td>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2014
                                </td>
                                <td>
                                    Evaluation of the dreams program: An intervention model for the success of low
                                    performing middle school students. University of Louisiana at Monroe.
                                </td>
                                <td>
                                    Fr Lijo Thomas
                                </td>
                                <td>
                                    <a class="text-decoration-none" target="_blank"
                                        href="https://www.proquest.com/openview/4c3c6c108e286a23f306482b9f710449/">
                                        link
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    let table = new DataTable('#myTable', {
        order: [[0, 'desc']]  // Sort the first column (index 0) in descending order
    });
</script>

{% endblock %}