{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container-lg ">
            <img src="{% static 'locations/bangalore/Banglore-Level-3 (1).jpg' %}" width="100%">
        </div>
        <div class="container ">
            <div class="row mb-5">
                <div class="mt-5 col d-flex align-items-center justify-content-center">
                    <div class="">
                        <button type="button" class="btn btn-primary"
                                style="background-color: #2b87da; border-radius: 20px; border-color: white">
                            Register and get involve
                        </button>
                    </div>
                </div>
                <div class="mt-5 col justify-content-center">
                    <img src="{% static 'locations/bangalore/BANGLORE (1).png' %}" width="330px" alt="">
                </div>
                <div class="mt-5 col d-flex align-items-center justify-content-center">
                    <div>
                        <button type="button" class="btn btn-primary"
                                style="background-color: #2b87da; border-radius: 20px; border-color: white">
                            Our Locations
                        </button>
                    </div>
                </div>
            </div>
            <div class="col" style="border: 1px solid #d9d9d9; border-radius: 5px;">
                <ul class="nav nav-tabs mb-3 " id="tabList" style="background-color: #d9d9d9">
                    <li class="nav-item d-flex flex-fill" role="presentation">
                        <button class="nav-link active d-flex flex-fill" id="dreamsProgram-tab" data-bs-toggle="tab"
                                data-bs-target="#dreamsProgram"
                                type="button" role="tab" aria-controls="dreamsProgram" aria-selected="true"
                                style="color: #666;">DREAMS
                            Program
                        </button>
                    </li>
                    <li class="nav-item d-flex flex-fill" role="presentation">
                        <button class="nav-link d-flex flex-fill" id="dreamsBand-tab" data-bs-toggle="tab"
                                data-bs-target="#dreamsBand"
                                type="button" role="tab" aria-controls="dreamsBand" aria-selected="true"
                                style="color: #666">DREAMS Band
                        </button>
                    </li>
                    <li class="nav-item d-flex flex-fill" role="presentation">
                        <button class="nav-link d-flex flex-fill" id="dreamsProclub-tab" data-bs-toggle="tab"
                                data-bs-target="#dreamsProclub"
                                type="button" role="tab" aria-controls="dreamsProclub" aria-selected="true"
                                style="color: #666">DREAMS Pro
                            Club
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane show active p-3" id="dreamsProgram" role="tabpanel"
                         aria-labelledby="dreamsProgram-tab">
                        <p>
                            <span style="font-weight: 400;color: #666;vertical-align: baseline">
                                The DREAMS chapter in Bengaluru was introduced in
                            February 2017 under the initiative taken by Ms. Mihika Rajesh, along with her friends
                            Ms.Yashikaa Shekar, Ms Milonee Sanghavi, Mr. Saurab Dheer, Ms. Anusha Nag, Ms. Avina Dubey
                            and a couple of other student volunteers from the Department of Psychology and School of
                            Education, central campus, CHRIST (Deemed to be University). They were led under the
                            visionary leadership, guidance, and training by Rev. Father Lijo Thomas to organize and
                            implement the intervention program.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                To lay a foundation, 25 students from Christ School were
                            recruited with the help of the school counselor. With the consent of their parents and the
                            school authorities, the first summer camp was hosted at the Bengaluru chapter from 16th to
                            20th April 2017, for five days. The quarterly follow-up sessions for those students were
                            conducted on Saturdays, from 1.30 PM till 5 PM.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                In 2018, the program was extended to Christ School
                            (state syllabus), Carmel School, and Kristavidyalaya (kannada medium), Bengaluru. Dr.
                            Anuradha Sathiyaseelan, along with the above-mentioned students have co-founded the
                            chapters.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                The student mentors have undergone leadership training
                            in an outbound training program for a period of two days. They were provided training on
                            mentoring and leadership development.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                In 2019 under the leadership of Dr Sathyaseelan B Young
                            Community Leadership Program (YCLP) course was introduced for the systematic training and
                            development of the youth mentors. Later this course was approved by the academic council of
                            Christ university as a four credit certificate program. This certificate course is offered
                            to interested students without any fees. Monthly training programs under YCLP includes
                            seminars, symposium, and practice sessions in the schools. These students have also
                            undergone 2 days outbound leadership training program.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                At present, the program is actively operating across
                            three locations in Bengaluru under the leadership of Dr. Anuradha Sathiyaseelan, Dr.
                            Amaresha S. Dr. Sathiyaseelan B, Ms.Sajina from Christ University and Prof. Roseline Gomas,
                            Ms. Jasmine and Ms. Avanti from the community. The Chapter is planning to extend it further
                            to various schools and colleges in the city.
                            </span>
                        </p>
                        <p>
                            <b>Leadership:</b>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Dr. Anuradha Sathiyaseelan, Dr Ameersha S, Dr Sathiyashelan B, Ms.Sajina begum
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Prof. Rosline Gomas (Community Lead)
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Ms Jasmine (community coordinator)
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Ms Avanthi (Community Coordinator)
                            </span>
                        </p>
                        <p>
                            <img src="{% static 'locations/bangalore/img.png' %}">
                        </p>

                    </div>
                    <div class="tab-pane fade p-3" id="dreamsBand" role="tabpanel"
                         aria-labelledby="dreamsBand-tab">
                        <p>
                            <span style="font-weight: 400;color: #666;">
                                The DREAMS Band strives towards making a positive difference in the community by utilizing their musical skills. The band was established in 2017 in Bengaluru under the leadership of Mr. Nikhil Sebastian and a few student volunteers. The first concert of the band was organized on 2nd February 2018 at Christ University Central Campus, for a specially invited audience including Dr. Fr. Thomas C Mathew, then Vice-Chancellor and a few other distinguished guests. The band has performed on different platforms at Bengaluru and Pune. The performances of the band have gained wide recognition in and out of the campus.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                They have released a virtual music album and are currently working on a new album project and a global virtual band performance for harmony and holistic healing of the world. Those who are interested in being a part of the band may contact the leadership.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Nikhil Sebastian  <b>(Music Director)</b>
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Abhishikth George John <b>(Virtual Project Head)</b>
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Adonis Moyo <b>(Team Lead)</b>
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Anshul Dawar <b>(Album Lead)</b>
                            </span>
                        </p>
                        <p>
                            Sudha Bhujel <b>(Band Manager)</b>
                        </p>
                    </div>
                    <div class="tab-pane fade p-3" id="dreamsProclub" role="tabpanel"
                         aria-labelledby="dreamsProclub-tab">
                        <p>
                            <span style="font-weight: 400;color: #666;">
                                The first DREAMS Pro Club was initiated in Bangalore under the leadership of Col. Ranjeev K Babu who believed in the need of a support/mutual mentoring group for the holistic development of young professionals. As the co-founder of this club he brought in a few of his friends to this exclusive – invitation based professional/leadership development club. On September 6th, 2019 along with Mr. Rajesh PI (Theater artist/trainer), Mr. Antony Raju (NGO consultant) and Dr. Deepthi (Community Medicine) under the leadership of Col Ranjeev K Babu (corporate trainer and founder/director of Leadership Tribe Pvt. Ltd.) started the first club meeting at Christ University Campus.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                The monthly one hour club meetings of sharing and discussions are conducted on personal/professional topics, which are previously decided. More new members joined the team and it started its virtual meetings based on the needs of the situation.
                            </span>
                        </p>
                        <p>
                            <br>
                            <br>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                <b>DREAMS Pro-club</b> is a support group for the personal and professional development of young professionals. Small groups of 10-12 working professionals meet once every month to discuss and implement strategies for their professional growth. The club helps in inculcating values of identity and community belonging among the members. The program aims at enhancing communication skills, generating positive attitudes about self and others, developing leadership, cooperation and community engagement.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                In 2019 under the leadership of Dr Sathyaseelan B Young
                            Community Leadership Program (YCLP) course was introduced for the systematic training and
                            development of the youth mentors. Later this course was approved by the academic council of
                            Christ university as a four credit certificate program. This certificate course is offered
                            to interested students without any fees. Monthly training programs under YCLP includes
                            seminars, symposium, and practice sessions in the schools. These students have also
                            undergone 2 days outbound leadership training program.
                            </span>
                        </p>
                        <p>
                            <br>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Leadership:
                            </span>
                        </p>
                        <p>
                            <span style="font-weight: 400;color: #666">
                                Col. Ranjeev K Babu (Project Head)
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-5" style="background-image: url('{% static 'background/bg.png' %}')">
                <div class="row">
                    <div class="text-center fw-bolder mt-5 fs-1">OUR IMPACT</div>
                </div>
                <div class="row mt-auto mb-5 center-block">
                    <div class="col text-center p-3">
                        Block 1
                    </div>
                    <div class="col text-center p-3">
                        Block 2
                    </div>
                </div>
                <div class="row mt-auto mb-5
                     center-block">
                    <div class="col text-center p-3">
                        Block 3
                    </div>
                    <div class="col text-center p-3">
                        Block 4
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}