{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{month|capfirst}} | {{year}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>

  <div class="container">
    <div class="m-0 row mb-5">
      <div class="col d-flex justify-content-center align-items-center mt-5">
        <img src="{% static 'newsletters/dec2024/logo.png' %}" alt="" class="img-fluid col-2">
        <div class="col-sm-12 col-md-5 text-break" style="margin-left: 30px !important;">
          <div class=" p-4 text-white" style="background-color: darkblue;">
            <div class="fw-bold fs-1">
              Let Us Dream Newstetter
            </div>
            <div class="fst-italic fs-4">
              {{month|capfirst}} | {{year}}
            </div>
          </div>
          <small class=" float-end">
            <a href="https://letusdream.org/" class="text-decoration-none text-dark" target="_blank">Visit Let Us Dream
              for more details</a>
          </small>
        </div>
      </div>
    </div>

    <div class="row" style="border-top: 1px solid black;">
      <div class="col-sm-12 col-md-3">
        <nav id="navbar-newsletter" class="d-flex flex-column gap-3 simple-list-example-scrollspy">
          <div class="mt-4 fw-bold fs-4">
            Table of Contents
          </div>
          <hr />
          <a class="nav-link" href="#item-1">1. Hyderabad Conference</a>
          <a class="nav-link" href="#item-2">2. Pune Conference</a>
          <a class="nav-link" href="#item-3">3. Bangalore Conference</a>
          <a class="nav-link" href="#item-4">4. Chennai Conference</a>
          <a class="nav-link" href="#item-5">5. Louisiana Conference</a>
          <a class="nav-link" href="#item-6">6. New York Conference</a>
          <a class="nav-link" href="#item-7">7. Trivandrum Conference</a>
          <hr />
          <a class="nav-link" href="#item-8">Join the Let Us Dream Board</a>
          <hr />
        </nav>
      </div>

      <div class="col-sm-12 col-md-9">
        <div data-bs-spy="scroll" data-bs-target="#navbar-newsletter" data-bs-offset="0" data-bs-smooth-scroll="true"
          class="scrollspy-example" tabindex="0">

          <!-- section 1 -->
          <div id="item-1">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              1. Hyderabad Conference, India 
            </div>
            <hr />

            <div class="row mt-4">
              <img src="{% static 'newsletters/dec2024/Hydrabad.jpg' %}" class="img-fluid col-sm-12 col-md-6">

              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  The Let Us Dream Annual Conference at St. Francis Degree College for Women
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong><a href="https://www.sfc.ac.in/">St. Francis Degree College for Women</a> 
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong> 21st September, 2024
                </div>
              </div>
            </div>

            <div class="mt-3 lh-lg ">
              <p>The Let Us Dream (LUD) Annual Conference 2024, hosted by St. Francis Degree College for Women, was a
                beacon of innovation and collaboration. Over 500 participants, including students, educators, and
                changemakers, gathered under the theme “Building a Holistic Community: Strategies and Solutions.”
              </p>

              <p> The event featured thought-provoking <strong>panel discussions</strong> on <strong>Education</strong>:
                Ethical AI integration and curriculum reforms, <strong>Health</strong>: Women’s mental health and
                maternal
                care, <strong>Social</strong>: Empowerment of marginalized communities and grassroots development.</p>

              <p>Changemakers like Father Jose, Jaya Bharathi (MOWO Movement), Dr. Sajadullah, and Subhalakshmi shared
                inspiring stories of resilience and transformation. Dr. Sr. Alphonsa, Principal of St. Francis College,
                emphasized equipping students to address societal challenges. The event was supported by collaborations
                with premier institutions across Hyderabad, further enriching its impact.</p>

              <p>Founded in 2017, Let Us Dream drives global sustainable and inclusive development efforts. The 2024
                conference reinforced a collective commitment to fostering compassion and holistic growth, inspiring
                participants to dream, collaborate, and act for meaningful change.</p>

            </div>
          </div>

          <!-- section 2 -->
          <div id="item-2">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              2. Pune Conference, India
            </div>
            <hr />
            <div class="row mt-4">
              <!-- Image on the Left -->
              <img src="{% static 'newsletters/dec2024/pune.jpg' %}" class="img-fluid col-sm-12 col-md-6">

              <!-- Details on the Right -->
              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  Let Us Dream Annual Community Conference 2024 at Savitribai Phule Pune University
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong> <a href="http://www.unipune.ac.in/">Savitribai Phule Pune University</a>
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong>28th September, 2024
                </div>
              </div>
            </div>
            <div class="mt-3 lh-lg">
              <p>The Inaugural Let Us Dream Annual Community Conference 2024, hosted at Savitribai Phule Pune
                University,united changemakers, thought leaders, and advocates to address critical health, social
                challenges,
                and education issues. This landmark event emphasized the power of collaboration and community-driven
                solutions to foster impactful development.</p>

              <p>The <strong>Health Panel</strong> tackled essential topics, including digital accessibility, fitness,
                and diabetes prevention. Among the notable speakers, Mrs. Tejasvini, CEO of Sugamya Digital Solutions,
                inspired
                attendees with her remarkable advocacy for digital literacy and healthcare despite being visually
                impaired. Mr. Bhagwat shared expert insights on physiotherapy, while Dr. Ravindra highlighted the
                importance of mindful living and healthy dietary habits.</p>

              <p>Addressing social challenges, the <strong>Social Issues Panel</strong> sheds light on pressing concerns
                such as human trafficking and inclusivity. Dr. Mathew detailed Maharashtra’s anti-trafficking measures,
                Ms. Suhasini
                emphasized the need for survivor rehabilitation, and Mr. Tushar championed equitable education
                opportunities for individuals with disabilities.</p>

              <p>The <strong>Education Panel </strong> underscored the significance of inclusive and accessible learning
                environments. Dr.Pharande shared experiences from his impactful work in Jammu and Kashmir, Dr. Sadakale
                advocated for the
                transformative potential of rural education, and Ms. Patwardhan highlighted vocational training as a
                vital tool for empowering communities.</p>

              <p>By fostering meaningful discussions and actionable strategies, the conference served as a vibrant
                platform for collaboration, advancing the shared vision of holistic and sustainable community
                development. It
                marked a significant step toward addressing societal challenges with innovative and inclusive
                approaches.
              </p>
            </div>
          </div>

          <!-- section 3 -->
          <div id="item-3">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              3. Bangalore Conference, India
            </div>
            <hr />
            <div class="row mt-4">
              <!-- Image on the Left -->
              <img src="{% static 'newsletters/dec2024/banglore.jpg' %}" class="img-fluid col-sm-12 col-md-6">

              <!-- Details on the Right -->
              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  Youth and Employability Conference 2024
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong><a href="https://www.sfscollege.in/">St. Francis De Sales (Autonomous) College</a> 
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong> 19th October, 2024
                </div>
              </div>
            </div>


            <div class="mt-3 lh-lg">
              <p> The Youth and Employability Conference 2024, hosted by St. Francis De Sales (Autonomous) College in
                collaboration with Jyoti Nivas College and Christ (Deemed to be University), focused on preparing the
                next generation for the challenges of the modern workforce. The conference brought together thought
                leaders, educators, and industry experts to explore innovative strategies for enhancing workforce
                readiness.
              </p>
            </div>

            <div class="mt-3 lh-lg">
              <p>Renowned changemakers included Ms. Suja Warriar, Director of Academia at Wequity, who emphasized the
                importance of sustainability and diversity in education; Ms. Suma Merlin, Assistant Professor at St.
                Francis De Sales College, who advocated for experiential learning; and Mr. Venu Doddavarapu, Founder of
                Theatre for Liberation, who highlighted the value of social-emotional learning frameworks like the Delhi
                Government's Happiness Curriculum.
              </p>
            </div>

            <div class="mt-3 lh-lg">
              <p>Key themes of the conference revolved around skill development, fostering industry-academia
                collaboration, and driving entrepreneurial innovation. These discussions aimed to bridge the gap between
                education and employability, equipping youth with the skills and mindset needed to thrive in an
                ever-changing job market.
              </p>

              <p>The event underscored the host institutions’ dedication to empowering young individuals with actionable
                insights and transformative ideas, paving the way for a sustainable and inclusive future.
              </p>
            </div>
          </div>

          <!-- section 4 -->
          <div id="item-4">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              4. Chennai Conference, India
            </div>
            <hr />
            <div class="row mt-4">
              <!-- Image on the Left -->
              <img src="{% static 'newsletters/dec2024/chennai.jpg' %}" class="img-fluid col-sm-12 col-md-6">

              <!-- Details on the Right -->
              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  Let Us Dream Annual Community Conference 2024 for Fostering Collaboration for a Sustainable Future
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong><a href="https://wcc.edu.in/">Women’s Christian College (WCC)</a> 
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong> 23rd November, 2024
                </div>
              </div>
            </div>

            <div class="mt-3 lh-lg">
              <p>
                The Let Us Dream Annual Community Conference 2024, hosted by Women’s Christian College (WCC), celebrated
                collaboration and sustainability, bringing together over 608 participants, including students,
                researchers, NGO leaders, and thought experts. The event provided a platform for transformative
                discussions under the theme <i> “A Holistic Approach to Sustainable Well-Being.”</i>
              </p>

              <p>Interactive panel discussions, inspiring dialogues, and impactful workshops explored real-world
                challenges and sustainability initiatives. Students from 13 colleges actively participated, alongside
                contributions from over 80 NGOs, fostering collaborative efforts and practical solutions. Stories of
                resilience and innovation showcased the importance of compassion and holistic growth in driving
                community change.</p>

              <p>Keynote changemakers such as Arun Fernandez, founder of Blink Foundation, and Ponni Bharatanatyam, a
                celebrated dancer and trainer, highlighted the transformative power of community-driven action and
                sustainability.
              </p>

              <p>WCC Principal Dr. Lilian I. Jasper, emphasized the conference’s role in empowering students to become
                socially responsible leaders equipped to address pressing societal challenges. The event reinforced the
                vision of a sustainable future driven by collective action and meaningful collaboration.
              </p>
            </div>
          </div>

          <!-- section 5 -->
          <div id="item-5">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              5. Louisiana Conference, USA
            </div>
            <hr />
            <div class="row mt-4">
              <!-- Image on the Left -->
              <img src="{% static 'newsletters/dec2024/Louisiana.jpg' %}" class="img-fluid col-sm-12 col-md-6">

              <!-- Details on the Right -->
              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  Inaugural Let Us Dream Conference at Grambling State University
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong> <a href="https://www.gram.edu/">Grambling State University</a>
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong> 31st October, 2024
                </div>
              </div>
            </div>

            <div class="mt-3 lh-lg">
              <p>Grambling State University hosted the inaugural Let Us Dream Conference 2024 at the Fredrick C. Hobdy
                Assembly Center, uniting students, educators, and community leaders in a powerful celebration of social
                justice, cultural competence, and community empowerment.
              </p>

              <p>The event featured dynamic panel discussions, cultural performances, and poignant tributes, including a
                heartfelt homage to the late Tori Smith, LUD 2024 social committee chair. Madison Mason’s evocative
                poem, What a Beautiful Gift It Is to <i>Let Us Dream</i>, resonated deeply with attendees, inspiring
                resilience and hope.
              </p>

              <p>Founder Fr. Lijo Thomas highlighted the importance of weaving community stories into actionable models
                for meaningful change. Grambling President Martin Lemelle Jr. and other university leaders emphasized
                the value of cross-cultural exchanges and global awareness in fostering inclusive communities. Panel
                discussions explored initiatives to promote equity, inclusion, and safety in education. At the same
                time, Deputy Sheriff Gary Guice introduced the Dream Program, empowering overlooked students to discover
                their voices and achieve their full potential.</p>

              <p>The conference served as a testament to the transformative power of collective dreaming, laying the
                groundwork for inclusive, empowered, and forward-looking communities.
              </p>
            </div>
          </div>

          <!-- section 6 -->
          <div id="item-6">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              6. New York Conference, USA
            </div>
            <hr />
            <div class="row mt-4">
              <!-- Image on the Left -->
              <img src="{% static 'newsletters/dec2024/new york3.png' %}" class="img-fluid col-sm-12 col-md-6">

              <!-- Details on the Right -->
              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  Inaugural Let Us Dream Conference at Binghamton University
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong> <a href="https://www.binghamton.edu/">Binghamton University</a>
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong> 8th November, 2024
                </div>
              </div>
            </div>
            <img src="{% static 'newsletters/dec2024/new york2.png' %}" class="img-fluid col-sm-12 col-md-6 mt-3">

            <div class="mt-3 lh-lg">
              <p> Today, the <i>Let Us Dream Conference 2024</i> occurred at the Binghamton University Downtown Center,
                centered on
                "Empowering Community Betterment." This inspiring event brought together students, local organizations,
                and community leaders to share stories of leadership and foster meaningful collaboration.</p>

              <p>Fr. Lijo Thomas, founder and director of <i>Let Us Dream</i>, shared his vision for the conference:
                “The idea
                came about to bring local community service initiatives together to share their stories with the next
                generation and connect universities with community organizations. It’s a space for people with bigger
                hearts for their community—not for themselves—who are focused on making others’ lives easier and
                happier.”</p>

              <p> The conference served as a hub for community engagement, spotlighting organizations like the
                Children’s
                Home, the Center of Treatment Innovation, and the Lee Barta Community Center. A standout feature was
                Nathan’s Butterflies, an organization founded by Ben Cucci following the loss of his brother at a young
                age.</p>

              <p> Ben, alongside President Frances Bidwell, has worked tirelessly to raise awareness about youth grief.
                Bidwell reflected, “He knew he felt better with a kind act and wanted his grieving family to feel better
                too. Eight years into this, Ben, now a freshman at Vestal High School, has continued to grow civic
                engagement among diverse groups of children and families.”</p>

              <p>Ben’s dedication was honored with the prestigious "Changemaker" award, recognizing exceptional
                contributions to non-profit service. As the youngest of ten award recipients this year, his story of
                resilience and leadership resonated deeply with attendees.</p>

              <p>The event highlighted the transformative power of compassion and collaboration, inspiring participants
                to
                pursue meaningful contributions to their communities.
              </p>
            </div>
          </div>

          <!-- section 7 -->
          <div id="item-7">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              7. Trivandrum Conference, India
            </div>
            <hr />
            <div class="row">
              <!-- Image on the Left -->
              <img src="{% static 'newsletters/dec2024/Trivandrum.jpg' %}" class="img-fluid col-sm-12 col-md-6">
              <!-- Details on the Right -->
              <div class="col-sm-12 col-md-6">
                <div class="fs-2 fw-bolder">
                  Let Us Dream Annual Community Conference 2024 at Christ Nagar College, Maranalloor
                </div>
                <div class="mt-3 fs-6">
                  <strong>Venue:</strong> <a href="https://cnc.ac.in/">CHRIST Nagar College</a> 
                </div>
                <div class="mt-3 fs-6">
                  <strong>Date:</strong> 16th November, 2024
                </div>
              </div>
            </div>

            <div class="mt-3 lh-lg">
              <p>The Let Us Dream Annual Community Conference 2024 at Christ Nagar College brought together
                changemakers, thought leaders, and advocates for a day of impactful discussions and collaborative
                action. Centered on fostering social progress and holistic well-being, the conference provided a
                platform to address pressing community challenges. The event opened with an inspiring welcome by Ms.
                Deepthi Rani SS, who acknowledged the presence of esteemed guests, including Raju Narayana Swamy IAS.
                Fr. Lijo Thomas, founder of the Let Us Dream initiative, delivered a heartfelt speech highlighting the
                transformative power of collective efforts in societal change. Mr. Jimmy Manuel, Chair of the
                conference, shared his connection to the initiative, inspiring the audience to take actionable steps
                toward community betterment.
              </p>

              <p>In his keynote address, Raju Narayana Swamy IAS underscored the importance of equality, gender
                inclusivity, and creativity as pillars for strengthening democracy. The conference featured two
                engaging panels addressing social and health-related issues. Sheeja Sandra of Snehasandram Charitable
                Trust spoke about her work with specially-abled individuals, while Prabin PB of the Nadi Foundation
                emphasized youth empowerment and mental health. Jekcy C. Joy of Green Worms highlighted sustainable
                waste management strategies, and Niteesh Sundareshan of Varsya Eco Solutions stressed the need for
                eco-friendly packaging. Health experts Dr. Ajan M. J. and Dr. Athira Menon explored community health
                and holistic approaches to reproductive health, offering practical solutions to improve well-being.
              </p>

              <p>The conference concluded on a high note, inspiring attendees with stories of resilience and
                innovation. It catalyzed meaningful collaborations, motivating participants to take community-driven
                initiatives forward. Reflecting on the event’s success, Fr. Lijo Thomas remarked, “The conference is a
                reminder that by coming together, we can create meaningful change.” The Let Us Dream Annual Community
                Conference 2024 left a lasting impression, empowering individuals to pursue projects prioritizing
                inclusivity, sustainability, and societal progress.
              </p>
            </div>
          </div>

          <div id="item-8">
            <div class="mt-4 mb-3 fs-2 fw-bold">
              Join the Let Us Dream Board
            </div>
            <hr />
            <div class="mt-3 lh-lg">
              Let Us Dream invites its membership to consider service on the Board of Directors. Nominations will be
              open till 31st January 2025. LUD encourages nominations from folks who represent diverse voices,
              perspectives, and sectors, and who will help further the Association’s mission. We are specifically
              looking for nominees interested in serving on one of the following committees: Conference, Governance,
              Awards, Cross-Cultural Equity, and Membership. Please visit our website for more information on the
              scope
              of these.
            </div>
            <div class="mt-3 lh-lg">
              Currently, 3 (up to 5) at-large positions are open for the upcoming term. To learn more about the
              nomination process, please visit our website: <a href="https://letusdream.org/"
                target="_blank">https://letusdream.org/</a> To nominate yourself or a
              colleague, please submit the form link by 31st Jan, 2025.
            </div>

            <div class="row m-0 mt-3">
              <div class="col-sm-12 col-md-6 mt-3 d-flex justify-content-center align-items-center">
                <img src="{% static 'newsletters/dec2024/join.png' %}" class="img-fluid">
              </div>
              <div class="col-sm-12 col-md-6 mt-3 lh-lg">
                We are especially looking for members to support and lead the following committees:
                Conferences, Governance, Awards, Cross-Culture Equity, & Membership
                <br />
                Let Us Dream seeks nominations of candidates who represents diverse voices,
                perspectives, & sectors to help further the Association's missions
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="mt-5" style="background-color: rgb(16, 119, 16);">
      <div class="d-flex justify-content-center align-items-center text-white p-5">
        letusdream © {{month|capfirst}} | {{year}}
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
</body>

</html>