{% extends 'base.html' %}
{% load static %}

{% block title %}
Triennial Conference 2023
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/triennialConference.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/triennialConference2023.css' %}" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/stannes-college.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300&display=swap" rel="stylesheet">
<style>
    .cardBorder {
        border-left: 3px solid #0c52a1 !important;
        padding-left: 8px;
    }

    /* transition-duration: 0.5s, 0.5s; */
</style>
{% endblock extraStyles %}


{% block content %}
<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'main' %}Conferences">Conferences</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'main' %}trriennial-conference">Triennial Conferences</a></li>
        <li class="breadcrumb-item  active" aria-current="page">2023 Conference</li>
    </ol>
</nav>

<div class="container mt-5 text-center">
    <div class="display-4 font fw-bolder text-h3">
        Empowered Communities: Strengthening Connections For a Sustainable Future
    </div>
    <div class="fs-3 font fw-bold mt-2"><em>LET US DREAM</em> 2023 Triennial International Conference</div>
    <div class="fs-4 text-font mt-2">CHRIST University, Bangalore | November 17 to November 19, 2023</div>
    <h4></h4>
</div>


<div class="container mt-5 ">
    <div class="row g-5 ">
        <div class="col-sm-12 col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button> -->
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'conference/triennial/2023/triennial2023.png' %}" class="d-block w-100"
                            alt="">

                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'conference/triennial/2023/LUD2023_img.jpg' %}" class="d-block w-100"
                            alt="">

                    </div>
                    <!-- <div class="carousel-item">
                        <img src="{% static 'conference\stannescollege\posters\5.png' %}" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'conference\stannescollege\posters\6.png' %}" class="d-block w-100"
                            alt="...">
                    </div> -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <div class="col-lg-12">
                <div class="fw-bolder font fs-2 mb-4">
                    Empowered Communities: Strengthening Connections For a Sustainable Future
                </div>

                <p class="mb-4 fw-semibold text-font">
                    With the theme of Empowered Communities, the <em>LET US DREAM</em> conference brings together individuals
                    with transformative stories of social intervention. Driven by a shared commitment of establishing a
                    sustainable community, we invite people who have adopted responsible practices in the social,
                    educational, health, environmental, and economic sectors. Contemporary narratives about
                    transitioning aspirations of upliftment to actions of volunteerism will contribute to new
                    perspectives
                    in community building and service learning.

                </p>
                <p class="mb-4 fw-semibold text-font">
                    The ultimate objective is to empower all sectors of society, which necessitates involving a broad
                    ecosystem comprising NGOs, educational institutions, post-secondary institutions, service
                    organizations, corporations, and volunteers. <em>LET US DREAM</em> 2023 aims to provide opportunities for
                    sharing authentic stories of inspiring pursuits and discover ways to improve the quality of life in
                    diverse communities. <em>LET US DREAM</em> a better reality and come together to establish and strengthen
                    connections while working collectively to better ourselves and future generations.
                </p>

            </div>
            <div class="fw-bolder fs-5 mb-4" style="text-align: left;">More Details</div>

            <div class="row m-auto">
                <div class="col">
                    <a href="{% static 'conference/triennial/2023/LUD2023.pdf' %}" class="btn btn-outline-success">
                        Event Brochure
                    </a>
                </div>
                <div class="col">
                    <a href="#schedule" class="btn btn-outline-success">
                        Event Schedule
                    </a>
                </div>
            </div>

            <div class="mt-5">
                <a href="https://www.dlearners.in/letusdream/" target="_blank"><button
                        class="btn-2 m-1"><span>Participate
                        </span></button></a>
            </div>

            <!-- Scoail Media -->
            <div class="container body-icons-container justify-content-center mt-5">
                <!-- Whatsapp -->
                <a class="text-decoration-none" href="https://www.instagram.com/letus.dream/">
                    <div class="icon ">
                        <i class="fab fa-instagram"></i>
                    </div>
                </a>
                <a class="text-decoration-none"
                    href="https://www.youtube.com/channel/UCNw5z9O3LZ7OJlySigI9dlw/featured">
                    <div class="icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                </a>
                <a class="text-decoration-none" href="https://www.facebook.com/people/Let-Us-Dream/100083580219431/">
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </a>
                <a class="text-decoration-none" href="https://twitter.com/LetUsDream5?s=08">
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                </a>
                <a class="text-decoration-none" href="https://www.linkedin.com/company/let-us-dream/">
                    <div class="icon">
                        <i class="fab fa-linkedin"></i>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

<div class="container">

    <nav class="mt-5">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                <div class="col-12 fw-bold font fs-4">
                    Conference Chairs
                </div>
            </button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                <div class="col-12 font fw-bold fs-4">
                    Core Team
                </div>
            </button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                <div class="col-12 fw-bold font fs-4">
                    Youth Leadership
                </div>
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0">
            <!-- Conference Chairs -->
            <div class="row mt-3">
                <div class="col-12 mt-4 table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th>
                                    Tracks
                                </th>
                                <th class="text-center">
                                    Chairs
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-bold">
                                    Education
                                </td>
                                <td class="row m-auto">
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'conference/triennial/2023/Profiles/Jimmy.jpeg' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Jimmy Cherian
                                        </div>
                                        <div class="text-center">
                                            Founder & President<br />
                                            Creating Futures<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'conference/triennial/2023/Profiles/Cheyrl.jpg' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Dr. Cheyrl Mansfield Ensley
                                        </div>
                                        <div class="text-center">
                                            Head & Associate Professor<br />
                                            Grambling State University<br />
                                            Grambling, Louisiana
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <!-- <div class="d-flex justify-content-center fw-bold mt-3">
                                            Dr Jimmy Cheriyan
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            CHRIST (Deemed to be University)<br />
                                            Bangalore, India
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold">
                                    Health
                                </td>
                                <td class="row m-auto">
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Ms. Aparna Singh
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            CHRIST (Deemed to be University)<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Tracy Lyman
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            Binghamton University<br />
                                            Binghamton, United States
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <!-- <div class="d-flex justify-content-center fw-bold mt-3">
                                            Dr Jimmy Cheriyan
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            CHRIST (Deemed to be University)<br />
                                            Bangalore, India
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold">
                                    Social
                                </td>
                                <td class="row m-auto">
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'conference/triennial/2023/Profiles/Anupa.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Anupa Gnanakan
                                        </div>
                                        <div class="text-center">
                                            Director – Education<br />
                                            ACTS Group of Institutions<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'conference/triennial/2023/Profiles/Michael.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Mr Michael Kaufmann
                                        </div>
                                        <div class="text-center">
                                            Director, Sam and Myra Ross Institute<br />
                                            Green Chimneys Children’s Services<br />
                                            New York, United States
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'conference/triennial/2023/Profiles/Shinto.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Shinto Joseph
                                        </div>
                                        <div class="text-center">
                                            Director - South East Asia Operations<br />
                                            LDRA India<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold">
                                    Host University
                                </td>
                                <td class="row m-auto">
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Nijumon K John
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            CHRIST (Deemed to be University)<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Nikhil pai
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            CHRIST (Deemed to be University)<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex justify-content-center fw-bold mb-2 mt-1">
                                            Co Chair
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <img class="border border-info-subtle rounded" height="100px"
                                                src="{% static 'Aboutus/aboutUs/aboutus-ld5.png' %}">
                                        </div>
                                        <div class="d-flex justify-content-center fw-bold mt-3">
                                            Fr Jeff Shown
                                        </div>
                                        <div class="text-center">
                                            Associate Professor<br />
                                            CHRIST (Deemed to be University)<br />
                                            Bangalore, India
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <!-- Core Team -->
            <div class="row mt-3">
                <div class="col-12">
                    <div class="col-12 mt-4 table-responsive">
                        <table class="table align-middle">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr. Susanne Mayo -Theo</span><small
                                                    class="ml-1 fs-8">, Louisiana, USA</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                            <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Fr.Joseph Jayraj</span><small class="ml-1 fs-8">,
                                                    Chennai, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Micky Joseph</span><small class="ml-1 fs-8">,
                                                    Chennai, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Arun Fernandez</span><small class="ml-1 fs-8">,
                                                    Chennai, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr. Phinu Jose</span><small class="ml-1 fs-8">,
                                                    Bangalore, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">David Selvaraj</span><small class="ml-1 fs-8">,
                                                    Bangalore, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Jimmy Mannal</span><small class="ml-1 fs-8">,
                                                    Trivandram, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Godvin V P</span><small class="ml-1 fs-8">,
                                                    Trivandram, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Rahul R L</span><small class="ml-1 fs-8">,
                                                    Trivandram, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr Fr Joji Reddy SJ</span><small
                                                    class="ml-1 fs-8">, Hyderabad, India</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Lisa Elam</span><small class="ml-1 fs-8">,
                                                    Louisiana, USA</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr Lindsey Vincent</span><small
                                                    class="ml-1 fs-8">, Louisiana, USA</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr Laura Bronstein</span><small
                                                    class="ml-1 fs-8">, NewYork, USA</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Michael Kuffmann</span><small class="ml-1 fs-8">,
                                                    NewYork, USA</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Debbie Collett OBrien</span><small
                                                    class="ml-1 fs-8">, NewYork, USA</small></div>
                                            <!-- <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr Fr Lijo Thomas</span><small
                                                    class="ml-1 fs-8">, Bangalore, India</small></div>
                                            <div class="">Director & Dean</div>
                                            <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cardBorder">
                                            <div><span class="fw-bold">Dr Pauline Leonoard </span><small
                                                    class="ml-1 fs-8"></small></div>
                                            <div class="">Cordinator</div>
                                            <div class="">Let Us Dream</div>
                                        </div>
                                    </td>
                                    <!-- <td>
                                         <div ><span class="fw-bold">Dr. Susanne Mayo -Theo </span><small class="ml-1 fs-8">,Louisiana,USA</small></div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            <!-- Youth Leadership -->
            <div class="row mt-3">
                <div class="col-12">
                    <div class="col-12 mt-4 table-responsive text-center">
                        Comming Soon
                        <!-- <table class="table align-middle">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Dr. Fr. Lijo Thomas</div>
                                        <div class="">Director & Dean</div>
                                        <div class="">CHRIST (Deemed to be University) Pune Lavasa</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" id="schedule">
    <div class="row m-auto">
        <div class="col-12 text-center font fw-bold fs-4 mt-5">
            Conference Schedule
        </div>
        <div class="col-12 mt-4 table-responsive text-center">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Sl No</th>
                        <th scope="col">Time</th>
                        <th scope="col">Particulars</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>10:00 - 10:30 AM</td>
                        <td>Introduction & Welcome, Opening Address, Remark, Closing</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>10:30 - 11:15 AM</td>
                        <td>Keynote Speaker</td>

                    </tr>
                    <tr class="table-light">
                        <th scope="row">3</th>
                        <td>11:15 - 11:30 AM</td>
                        <td>Tea break</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>11:30 - 12:30 PM</td>
                        <td>Panel Discussion</td>
                    </tr>

                    <tr class="table-light">
                        <th scope="row">5</th>
                        <td>12:30 - 01:30 PM</td>
                        <td>Lunch, Stall Visit</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>01:30 - 03:00 PM</td>
                        <td>Audience Engagement, Immersive Learning</td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">7</th>
                        <td>03:00 - 3:30 PM</td>
                        <td>Coffee Break, Stall Visit</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>03:30 - 04:00 PM</td>
                        <td>Change Makers</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>04:00 - 04:20 PM</td>
                        <td>LUD Expressions </td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>04:20 - 04:30 PM</td>
                        <td>Closing Note </td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">11</th>
                        <td>04:30 - 05:00 PM</td>
                        <td>Networking, Stall Visit</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>05:00 - 06:00 PM</td>
                        <td>Cultural Events </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-muted text-font">
              Note: Schedule remains the same for all three days
            </p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row m-auto">
        <div class="col-12 d-flex justify-content-center">
            <a href="https://www.dlearners.in/letusdream/" target="_blank">
                <button class="btn-2 m-1">
                    <span>Participate </span>
                </button>
            </a>
        </div>

        <div class="col-12 mt-5 fw-bold font fs-3 text-center">
            Our  Collaborations
        </div>
        <div class="col-12">
            <img src="{% static 'conference/triennial/2020/Conference-Logos1.png' %}" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}