{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static  'css/style.css' %}" rel="stylesheet" />
    <link href="{% static  'css/header.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>LET US DREAM | {% block title %}{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(window).on('scroll', function () {
            console.log("HII")
            if ($(window).scrollTop()) {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            }
        })
    </script>
</head>
<style>

</style>

<body>
    <header class="menu-wrapper">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href=" {% url 'main' %}">
                    <img src="{% static 'logo/let-us-dream-Empowering-Communities-01.png' %}" class="logo-img"
                        alt="LET US DREAM">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-stream navbar-toggler-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent"">
                <ul class=" navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            href="#">About Us</a>
                        <ul class="dropdown-menu shadow">
                            <li> <a href="{% url 'about-us' %}" class="dropdown-item">About Us</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">Media</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            href="#">DREAMS</a>
                        <ul class="dropdown-menu shadow">
                            <li> <a href="{% url 'about-us' %}" class="dropdown-item">DREAMS Program</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">DREAMS Band</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">DREAMS Pro Club</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">Leadership NetWork (GYLN)</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            href="#">Conferences</a>
                        <ul class="dropdown-menu shadow">
                            <li> <a href="{% url 'about-us' %}" class="dropdown-item">About Conference</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">Annual Conference</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">Triennial Conference</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            href="#">Courses</a>
                        <ul class="dropdown-menu shadow">
                            <li> <a href="{% url 'about-us' %}" class="dropdown-item">YCLP Course</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            href="#">Research</a>
                        <ul class="dropdown-menu shadow">
                            <li> <a href="{% url 'about-us' %}" class="dropdown-item">Research</a></li>
                            <li> <a href="{% url 'media' %}" class="dropdown-item">Publications</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            href="#">Locations</a>
                        <ul class="dropdown-menu shadow">
                            <li class="dropstart">
                                <a href="" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">India</a>
                                <ul class="dropdown-menu shadow">
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Bangalore</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Changancherry</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Mannanam</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Thiruvananthapuram</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Thiruvallam</a></li>
                                </ul>
                            </li>
                            <li class="dropend">
                                <a href="" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">USA</a>
                                <ul class="dropdown-menu shadow">
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Bastrope</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Dalias</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">LaGrande</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">LaGrande</a></li>
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Monroe</a></li>
                                </ul>
                            </li>
                            <li class="dropstart">
                                <a href="" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Germany</a>
                                <ul class="dropdown-menu shadow">
                                    <li> <a href="{% url 'media' %}" class="dropdown-item">Cologne</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    </ul>
                </div>

            </div>

        </nav>
    </header>

    <div class="mt-5">
        {% block content %}
        {% endblock content %}
    </div>

    <footer>

        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="social-icons">
                        <li><a href=""></a><i class="fab fa-instagram"></i></i></li>

                    </ul>
                </div>
                <div class="col">
                    <ul class="social-icons">

                        <li><a href=""></a><i class="fab fa-youtube"></i></li>

                    </ul>
                </div>
                <div class="col">
                    <ul class="social-icons">

                        <li><a href=""></a><i class="fab fa-facebook"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Conferences</a></li>
            <li><a href="">Courses</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Login</a></li>
        </ul>

        <p class="md-12 xm-6">
            <a href="">Terms&Conditions</a> | <a href="">Privacy Policy</a> | <a href="">API Policy</a> | <a
                href="">Cookies</a>
        </p>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>