{% extends 'base.html' %}
{% load static %}

{% block title %}
Dream Band
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/dreamsBand.css' %}" type="text/css">
{% endblock extraStyles %}

{% block links %}
<!--Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<!--  Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
    type="text/css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/f8cd4d7fce.js" crossorigin="anonymous"></script>

{% endblock links %}

{% block content %}
<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'main' %}#dreamProgram">PRODUCTIONS</a></li>
        <li class="breadcrumb-item  active" aria-current="page">Dreams Band</li>
    </ol>
</nav>

<div class="container">
    <div class="row">

        <div class="col-lg">
            <h1 class="big-heading ">ABOUT DREAMS BAND</h1>
            <br>
            <p class="text-justify pt-5 pl-5 pr-5">Music the ultimate expression of self. Music is the closest
                thing
                today to divinity. It casts the beauty of the soul and magnifies everything it touches. Not only
                a form of self-expression, but also the harbinger of peace and prosperity. Music is the soul’s
                way of connecting with God.
                Born out of the beautiful vision of the DREAMS program, the DREAMS Band brings together a group
                of talented and determined individuals in various location of the DREAMS.

            </p>


        </div>
    </div>




    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 ">

            <p class="text-justify p-5">
                Project, who wish to make positive changes around them through the power of music. At the core of
                the DREAMS Band lies the conviction in the ability of music to transform, educate, and inspire human
                beings. Through songs with motivational lyrics and upbeat music, the band attempts to uplift the
                spirits of the people, and nurtures a musical garden for holistic development.
                <br>
                Written, composed, performed, and managed by the children in the band, the songs share stories of
                values, and success. The children are also supported and guided by the local musicians. The Band
                performs one day musical retreats apart from the regular concerts of 1-2 hours’ duration.
            <p class="text-center">
                <button type="button" class="btn-1 m-2">Join Us</button>
                <buton type="button" class="btn-1 m-2" style="display:inline-block;">Our Location</button>
            </p>

            </p>
        </div>




        <div class="col-lg-5 col-md-12 col-sm-12 d-flex aligns-items-center justify-content-center h-100">

            <img src="{% static 'DreamsProgram\StickerLogo.png' %}"
                class="d-flex aligns-items-center justify-content-center" height="400" width="400">

        </div>

    </div>
</div>
<div class="container-fluid bg-green">
    <div class="container p-3 text-center  ">
        <div class="row">
            <h1 class="big-heading mt-3">IMAGE GALLERY</h1>
        </div>
    </div>
    <div class="myimages">
        <div class="first-column">
            <a href="{% static 'conference/BRU_1511.webp' %}">
                <img src="{% static 'conference/BRU_1511.webp' %}" alt="image"></a>
            <a href="{% static 'conference/67967044_2022-02-21_12-37-57.jpg' %}">
                <img src="{% static 'conference/67967044_2022-02-21_12-37-57.jpg' %}" alt="image"></a>
            <a href="{% static 'conference/1472919242_2016-11-25_10-32-50.jfif' %}">
                <img src="{% static 'conference/1472919242_2016-11-25_10-32-50.jfif' %}" alt="image"></a>
            <a href="{% static 'conference/maxresdefault.jpg' %}">
                <img src="{% static 'conference/maxresdefault.jpg' %}" alt="image"></a>
        </div>
        <div class="first-column">
            <a href="{% static 'conference/triennial/2020/DREAMA-BAND345-scaled.jpg' %}"><img
                    src="{% static 'conference/triennial/2020/DREAMA-BAND345-scaled.jpg' %}" alt="image"></a>
            <a href="{% static 'conference/EO87EO87ERNVAAA6mI8.jfif' %}"><img
                    src="{% static 'conference/EO87ERNVAAA6mI8.jfif' %}" alt="image"></a>
            <a href="{% static 'conference/EL-g_muUUAIh6Fv.jpg' %}"><img
                    src="{% static 'conference/EL-g_muUUAIh6Fv.jpg' %}" alt="image"></a>
            <a href="{% static 'conference/triennial/2020/DREAMS-BAND234-scaled.jpg' %}"><img
                    src="{% static 'conference/triennial/2020/DREAMS-BAND234-scaled.jpg' %}" alt="image"></a>
        </div>
        <div class="first-column">
            <a href="{% static 'DreamsProgram/_DSC0650.JPG' %}"><img src="{% static 'DreamsProgram/_DSC0650.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/_DSC0629.JPG' %}"><img src="{% static 'DreamsProgram/_DSC0629.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/_DSC0630.JPG' %}"><img src="{% static 'DreamsProgram/_DSC0630.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/_DSC0680.JPG' %}"><img src="{% static 'DreamsProgram/_DSC0680.JPG' %}"
                    alt="image"></a>
        </div>
        <div class="first-column">
            <a href="{% static 'DreamsProgram/IMG_5896.JPG' %}"><img src="{% static 'DreamsProgram/IMG_5896.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/IMG_6021.JPG' %}"><img src="{% static 'DreamsProgram/IMG_6021.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/IMG_8682.JPG' %}"><img src="{% static 'DreamsProgram/IMG_8682.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/DSCN2056.JPG' %}"><img src="{% static 'DreamsProgram/DSCN2056.JPG' %}"
                    alt="image"></a>
        </div>
        <div class="first-column">
            <a href="{% static 'DreamsProgram/_MG_0109.JPG' %}"><img src="{% static 'DreamsProgram/_MG_0109.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/IMG_4983.JPG' %}"><img src="{% static 'DreamsProgram/IMG_4983.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/IMG_4858.JPG' %}"><img src="{% static 'DreamsProgram/IMG_4858.JPG' %}"
                    alt="image"></a>
            <a href="{% static 'DreamsProgram/_MG_0301.JPG' %}"><img src="{% static 'DreamsProgram/_MG_0301.JPG' %}"
                    alt="image"></a>
        </div>
    </div>
</div>



<div class="container  p-3 text-center">
    <div class="row">
        <h1 class="big-heading mt-5">VIDEO GALLERY</h1>
    </div>

</div>


<div class="container">
    <div class="gallery">
        <div class="video-box cus-he">
            <iframe src="https://www.youtube.com/embed/Ux9nD9YuGv0" class="cus-he"></iframe>
        </div>
        <div class="video-box cus-he">
            <iframe src="https://www.youtube.com/embed/E9i2R2aZ-x8" class="cus-he"></iframe>
        </div>
        <div class="video-box  cus-he">
            <iframe src="https://www.youtube.com/embed/m4I74ChX-J8" class="cus-he"></iframe>
        </div>
        <div class="video-box active cus-he">
            <iframe src="https://www.youtube.com/embed/FlVEeAIWCo0" class="cus-he"></iframe>
        </div>
        <div class="video-box cus-he">
            <iframe src="https://www.youtube.com/embed/LfzJvlfVmOc" class="cus-he"></iframe>
        </div>
        <div class="video-box cus-he">
            <iframe src="https://www.youtube.com/embed/FlVEeAIWCo0" class="cus-he"></iframe>
        </div>
        <div class="video-box cus-he">
            <iframe src="https://www.youtube.com/embed/LfzJvlfVmOc" class="cus-he"></iframe>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <h4 class="text-center text-green text-uppercase mb-3">testimonials</h4>
        <div class="col-6">
            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                    class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                    <span class="d-block"></span></div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\AbhishikithGeorge.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                DREAMS Band is a group of budding musicians coming together for one vision and mission
                                to empower the society and holistically grow others around using music as an effective
                                tool. The band is a balance between a professional and a college band. The freedom to
                                express and space to grow are the two most important factors I have personally
                                experienced being a part of the band for the last 4 years. The band really has an impact
                                on people as the songs the band performs and the performances are very life-centric.
                                Each performance for me was reliving the success through struggles in life, or
                                cherishing the past memories.
                                One of the most memorable moments of my time with the band was my first day in the band.
                                To have got selected as a keyboardist for the band was a huge surprise in my life and a
                                turning point to an in depth exploration in the field of music. As soon as I entered the
                                jam room I could see a few musicians I really looked up to and the space made me feel
                                very comfortable and I felt belonged. I found a bunch of friends who later in life
                                turned out to be a strong support system and family away from home.
                                The vision and mission of the band is what attracted me. Coming from a family involved
                                in ministry I grew up understanding the importance of bringing a change in the society
                                using my passion for music. The Band has absolutely put me in the most uncomfortable
                                situations to mold me to become a good leader and teacher. The functioning in the band
                                really made me capable of multiple responsibilities which includes coordination and
                                other soft skills very essential for working under any institution.

                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Abhishikth George John
                                        </cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Music Coordinator/ Choir Director <br>
                                            CHRIST (Deemed to be University) Central Campus

                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-6">
            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                    class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                    <span class="d-block"></span></div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\IbinRigia.jpeg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                Being part of the dreams band for me was a journey of self-discovery and holistic
                                growth. It didn't only help me improve my musical abilities, but it also helped me to
                                enhance my other skills like teamwork, leadership, decision-making, and social skills.
                                Being in the same room with hardworking and dedicated individuals had a positive impact
                                on me, and i was fortunate to have been able to learn so much from all the band members
                                who were part of dreams band over the years. The most wonderful thing about the dreams
                                band is that they never look for the best musicians. They instead look for the most
                                dedicated and focused ones who are looking to grow holistically and are passionate about
                                the goal of the Let us dream project. This is what sets it apart from any other band out
                                there.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Mr. Ibin Rigia
                                        </cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Mental health advocate| Mental health professional |Music enthusiast| Musician|

                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% include 'partials/_globalPresence.html' %}

<script>
    $(document).ready(function () {

        [...document.querySelectorAll('.first-column')].map(column => {
            column.style.setProperty('--animation', 'slide');
            column.style.setProperty('height', '200%');
            column.innerHTML = column.innerHTML + column.innerHTML;
        });

    });

    $(document).ready(function() {
        var maxLength = 250;

        $('#testimonial blockquote').each(function() {
            var content = $(this).text();
            if (content.length > maxLength) {
                var truncatedContent = content.substring(0, maxLength) + '...';
                $(this).text(truncatedContent);
                $(this).append('<a href="{% url "testimonials"  %}#dreamsBand " class="read-more text-decoration-none float-end">Read More</a>');
            }
        });

        $('.testimonial').on('click', '.read-more', function() {
            var fullContent = $(this).siblings('p').text();
            $(this).siblings('blockquote').text(fullContent);
            $(this).remove();
        });
    });
</script>

{% endblock %}