{% extends 'base.html' %}
{% load static %}

{% block title %}
Dream Pro Club
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/dreamsProClub.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/view_testimonials.css' %}" type="text/css">
{% endblock extraStyles %}

{% block links %}
<!--Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<!--  Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
    type="text/css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/f8cd4d7fce.js" crossorigin="anonymous"></script>

{% endblock links %}

{% block content %}
<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'main' %}#dreamProgram">CLUBS</a></li>
        <li class="breadcrumb-item  active" aria-current="page">Dreams Pro Club</li>
    </ol>
</nav>
<div class="container">
    <div class="row p-5">
        <div class="col-md-7 col-sm-12 ">
            <div class="about-dream">
                <h1 class=" justify-content text-center text-justify">Dreams Pro Club</h1>
                <p>DREAMS Pro Club is a support group to help in personal and professional development of the young
                    professionals. A team consisting of 10-12 working professionals meet once every month to discuss
                    strategies to understand and support personal and interpersonal life situations.
                    <br>
                    <br>
                    The Club helps inculcate the values of identity and community belonging in the members. Apart
                    from enhancing communication skills and problem-solving skills, it also focuses on generating
                    positive attitudes about self and the other, developing leadership, cooperation, and community
                    engagement.
                </p>
                <a href="{% url 'registration_user' %}"> <button type="button" class="btn-2 m-3 ">Join
                        Us</button></a>
            </div>


        </div>
        <div class="col-md-5 col-sm-12">
            <section class="slider-section">
                <div id="carousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>


                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active carousel-img">
                            <img src="{% static 'DreamsProgram/Letusdream-proclub-89038-min-scaled.jpg' %}" alt=""
                                height="400" class="w-100">
                        </div>

                        <div class="carousel-item carousel-img">
                            <img src="{% static 'DreamsProgram/Letusdream-proclub-15773-min-scaled.jpg' %}" alt=""
                                height="400" class="w-100">
                        </div>

                        <div class="carousel-item carousel-img">
                            <img src="{% static 'DreamsProgram/Letusdream-proclub-O6PHIU0-min-scaled.jpg' %}" alt=""
                                height="400" class="w-100">
                        </div>

                    </div>

                    <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </section>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-lg-5 col-md-5 d-flex aligns-items-center justify-content-center h-100">
            <img src="{% static 'Research\Dreams-RESEARCH.png' %}" alt="" height="400" width="400">
        </div>
        <div class="col-lg-7 col-md-7 p-3">

            <h3 class="big-heading fs-1 text-h1-cen fw-bold">Dreams</h3>
            <p>Volunteers from the local community including business owners involved in voluntary community
                developmental projects, non-profit organizations, philanthropists, social workers, educators or
                educational administrators, retired personnel, students, or anyone interested in contributing to
                their community development can be a part of the conference and engage in fruitful dialogues with
                visionaries through the conference.</p>
            <button type="button" class="btn-2 m-1">Join Us</button>
            <button type="button" class="btn-2 m-1">Our Location</button>

        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <h4 class="text-center text-green text-uppercase mb-3">testimonials</h4>
        <div class="col-6">
            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                    class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                    <span class="d-block"></span></div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\RajeshPI.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                My experience with the Dreams Professional Club has been tremendous. I have been
                                associated with it right from the beginning. No matter what, I make it a point to attend
                                all meetings. I must have missed it only a handful of times. I have found the meetings
                                to be very useful. Since we are all people from different backgrounds, there is so much
                                diversity and a wide array of perceptions here. The way each person approaches a
                                challenge or an issue is vastly different, because each person's background, thought
                                process, style of approach is so different and it gives everyone great learning
                                opportunities. There is a lot of safety in this space and one can speak one's mind
                                without worrying whether one is judged or not. When everyone is sharing their life
                                experiences and not some arbitrary theory, the conversations get very interesting
                                because they come from a space of great authenticity and vulnerability.
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Rajesh P.I</cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Founder & Artistic Director, The Actors
                                            Collective
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-6">

            <section class="t-bq-section blog-home2" id="jasper">

                <div class="t-bq-wrapper t-bq-wrapper-boxed">
                    <div class="t-bq-quote t-bq-quote-jasper">
                        <div class="t-bq-quote-jasper-pattern">
                            <!-- <div
                                    class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                    Aug<span class="d-block">27</span>2020</div> -->
                            <div class="t-bq-quote-jasper-qmark">
                                &#10077;
                            </div>
                        </div>

                        <div class="t-bq-quote-jasper-userpic">
                            <img src="{% static 'testimonial\ColRanjeevKBabu.jpg' %}" alt="">
                        </div>

                        <div class="t-bq-quote-jasper-base" id="testimonial">

                            <blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
                                As a member of the DREAMS Professional Club, I have had the privilege of attending
                                monthly meetings with individuals from diverse professional backgrounds, cultural
                                orientations, and from across the globe. Despite geographical differences, we are united
                                by a singular purpose of engaging in thought-provoking discussions. It has been
                                fascinating to see how our diverse experiences and perspectives have enriched the
                                conversations and contributed to our collective growth. The club has provided an
                                excellent opportunity for cross-cultural exchange, and I have personally gained a lot
                                from my esteemed fellow members. Overall, being part of the DREAMS Professional Club has
                                been an enriching experience that has broadened my horizons and expanded my professional
                                network and net-worth!
                            </blockquote>
                            <div class="t-bq-quote-jasper-meta">
                                <div class="t-bq-quote-jasper-meta-info">
                                    <div class="t-bq-quote-jasper-author"><cite>Colonel Ranjeev K Babu,VSM
                                    </cite></div>
                                    <div class="t-bq-quote-jasper-source"><span>Agile Trainer l ICAgile Authorized Instructor 

                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% include 'partials/_globalPresence.html' %}

<script>
    $(document).ready(function() {
        var maxLength = 250;

        $('#testimonial blockquote').each(function() {
            var content = $(this).text();
            if (content.length > maxLength) {
                var truncatedContent = content.substring(0, maxLength) + '...';
                $(this).text(truncatedContent);
                $(this).append('<a href="{% url "testimonials"  %}#proclub " class="read-more text-decoration-none float-end">Read More</a>');
            }
        });

        $('.testimonial').on('click', '.read-more', function() {
            var fullContent = $(this).siblings('p').text();
            $(this).siblings('blockquote').text(fullContent);
            $(this).remove();
        });
    });
</script>

{% endblock %}