{% extends 'base.html' %}
{% load static %}

{% block title %}
Dream Pro Club
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Pro Club</title>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


    <!--  Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

    .about-dream {
        text-align: left !important;
        margin: 5% 5% 0 2%;
    }

    .about-dream p span {
        text-align: left !important;
        color: #0a7b79;
        font-weight: 900;
    }

    p {
        text-align: left;
    }

    .big-heading {
        font-weight: bolder;
    }

    .btn-2 {
        background: transparent;
        border: 2px solid #0a7b79;
        width: 200px;
        padding: 15px 0;
        text-align: center;
        border-radius: 25px;
        font-weight: bold;
        color: #0a7b79;
    }

    .btn-2:hover {
        border: 2px solid #d3f2e9;
        background: #d3f2e9;
    }

    .carousel-img {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .carousel-video-inner {
        text-align: center;
    }

    .cover {
        object-fit: cover;
        width: 100%;
    }

    .img1 {
        height: 100%;
        width: 100%;
    }

    .text-black {
        text-decoration: none !important;
    }
</style>

<body>

    <nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
        <ol class="breadcrumb text-uppercase mb-0 bg-white">
            <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                    href="{% url 'main' %}#dreamProgram">Dreams</a></li>
            <li class="breadcrumb-item  active" aria-current="page">Dreams Pro Club</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="about-dream">
                    <p><span>ABOUT</span></p>
                    <h3 class="big-heading">Dreams Pro Club</h3>
                    <p>DREAMS Pro Club is a support group to help in personal and professional development of the young
                        professionals. A team consisting of 10-12 working professionals meet once every month to discuss
                        strategies to understand and support personal and interpersonal life situations.
                        <br>
                        <br>
                        The Club helps inculcate the values of identity and community belonging in the members. Apart
                        from enhancing communication skills and problem-solving skills, it also focuses on generating
                        positive attitudes about self and the other, developing leadership, cooperation, and community
                        engagement.
                    </p>
                   <a href="{% url 'registration_user' %}"> <button type="button" class="btn-2">Join Us</button></a>
                </div>


            </div>
            <div class="col-md-7 col-sm-12">
                <section class="slider-section">
                    <div id="carousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active carousel-img">
                                <img src="{% static 'DreamsProgram/Letusdream-proclub-89038-min-scaled.jpg' %}" alt=""
                                    height="616" width="616">
                            </div>

                            <div class="carousel-item carousel-img">
                                <img src="{% static 'DreamsProgram/Letusdream-proclub-15773-min-scaled.jpg' %}" alt=""
                                    height="616" width="616">
                            </div>

                            <div class="carousel-item carousel-img">
                                <img src="{% static 'DreamsProgram/Letusdream-proclub-O6PHIU0-min-scaled.jpg' %}" alt=""
                                    height="616" width="616">
                            </div>

                        </div>

                        <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                        <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12" style="padding-top: 5%;">
                <p><img src="{% static 'Research\Dreams-RESEARCH.png' %}" alt="" height="500" width="500"></p>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12" style="padding:10% 10%;">

                <h3 class="big-heading">Dreams</h3>
                <p>Volunteers from the local community including business owners involved in voluntary community
                    developmental projects, non-profit organizations, philanthropists, social workers, educators or
                    educational administrators, retired personnel, students, or anyone interested in contributing to
                    their community development can be a part of the conference and engage in fruitful dialogues with
                    visionaries through the conference.</p>
                <button type="button" class="btn-2">Join Us</button>
                <button type="button" class="btn-2">Our Location</button>

            </div>
        </div>
    </div>
    <br><br><br>
    {% include 'partials/_globalPresence.html' %}

    <script>


    </script>
</body>

</html>
{% endblock %}