{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="container-lg ">
            <img src="{% static 'background/dreams-programe-white.jpg' %}" width="100%">
        </div>
        <div class="container ">
            <div class="row mb-5">
                <div class="mt-5 col d-flex align-items-center justify-content-center">
                    <div class="">
                        <div class="left">
                            <button class="button" style="vertical-align:middle">
                                <span>
                                    Join Us
                                </span>
                            </button>
                        </div>
                        <div class="img">
                            <img src="{% static "logo/Dreams-programme-wheel.png" %}" width="300" height="300">
                        </div>

                        <div class="right">
                            <button class="button" style="vertical-align:middle">
                <span>
                    Our Locations
                </span>
                            </button>
                        </div>
                        <div class="left">
                            <h1 style="text-align: center;">
                                About
                                <strong>
                                    DREAMS
                                </strong>
                                Program
                            </h1>
                            <p style="text-align: justify;">
                                <span>
                                    The
                                    <span style="color: #00ccff;">
                                        DREAMS Program
                                    </span>
                                    is a three-year curriculum based community mentoring project for schools and colleges. It started </span><span>as a motivational music band at UC College, Aluva, India in 1998 and in 2003 at Dharmarama College, Bangalore. The program later evolved as a summer camp for the high school students of Changanacherry, Kerala. In 2012 it established itself as a one-year program with a few follow up sessions in Monroe, Louisiana, USA. In the subsequent years, the program design was developed into a three-year after-school program with nine credit hours (eight days/year) for the middle school underperforming/under-serving teenagers.
                            </span>
                            </p>
                            <p style="text-align: justify;">
                        </div>
                        <div class="right">
                            <p style="text-align: justify;">
                                <span>The project was researched longitudinally at the University of Louisiana, Monroe, USA, on its impact on the middle school participants.
                                </span>
                            </p>
                            <p style="text-align: justify;">
                                <span>The focus on the holistic development of young adults is achieved through an active engagement between the youth, the community, and the local community volunteers. Apart from the focus on promoting individual strengths and psycho-social skills, the program also focuses on bringing the community back to schools and colleges.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}