{% extends 'base.html' %}
{% load static %}

{% block title %}
YCLP

{% endblock title %}

{% block content %}

<style>

 
    h1,
    .h1 {
        font-size: calc(1.375rem + 1.5vw);
    }

    @media (min-width: 1200px) {

        h1,
        .h1 {
            font-size: 2.5rem;
        }
    }

    h2,
    .h2 {
        font-size: calc(1.325rem + 0.9vw);
    }

    @media (min-width: 1200px) {

        h2,
        .h2 {
            font-size: 2rem;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: justify;
    }

    .site-heading {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        line-height: 1;

    }

    .site-heading .site-heading-upper {
        display: block;
        font-size: 3rem;
        font-weight: 800;
    }

    .site-heading .site-heading-lower {
        font-size: 2rem;
        font-weight: 100;
        line-height: 4rem;
    }

    .page-section {
        margin-top: 5rem;
        margin-bottom: 5rem;
        line-height: 25px;
    }

    .section-heading {

        text-transform: uppercase;
    }

    .section-heading .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }

    .bg-faded {
        background-color: #d3f2e9;
    }

    .button {
        display: inline-block;
        border-radius: 100px;
        background-color: #d3f2e9;
        font-weight: bold;
        border: 2px solid #d3f2e9;
        color: #0a7b79;
        text-align: center;
        font-size: 20px;
        padding: 14px 28px;
        width: 300px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;

        margin-bottom: 10px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover {
        background-color: transparent;
        color: #0a7b79;
        border: 2px solid #0a7b79;
    }

    .button:hover span {
        padding-right: 25px;

    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .text-green {
        color: #0a7b79;
    }

    @media (min-width: 992px) {
        .product-item .product-item-title {
            position: relative;
            z-index: 1;
            margin-bottom: -3rem;
        }

        .product-item .product-item-img {
            position: relative;
            z-index: 0;
            max-width: 60vw;
        }

        .product-item .product-item-description {
            position: relative;
            z-index: 1;
            margin-top: -3rem;
            max-width: 50vw;
        }

        .site-heading {
            margin-top: 5rem;
            margin-bottom: 5rem;
            text-transform: uppercase;
            line-height: 1;

        }

        .site-heading .site-heading-upper {
            display: block;
            font-size: 3rem;
            font-weight: 800;
        }

        .site-heading .site-heading-lower {
            font-size: 2rem;
            font-weight: 100;
            line-height: 4rem;
        }

    }

    @media (max-width: 441px) {
        .section-heading .section-heading-upper {

            font-size: 0.85rem;

        }

        .section-heading .section-heading-lower {
            display: block;
            font-size: 2rem;
            font-weight: 100;
        }

    }
</style>

<nav aria-label="breadcrumb animated slideInDown" style="margin-top: 9%; margin-left:15%;">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item  active" aria-current="page" style="color: #0a7b79;">Leardership
    </ol>
</nav>

<div class="container ">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="site-heading text-center text-faded  d-lg-block ">
                <span class="site-heading-upper text-green  mb-3">THE YOUNG COMMUNITY LEADERSHIP PROGRAM</span>  
            </h1>
            <center><h2><span class="site-heading-lower">COURSE PLAN 2020 – 22</span></h2></center>
            
            
        </div>
    </div>
</div>

<div class="conatainer-fluid my-2 d-flex justify-content-center">
    <button type="button" class="button"><span>Download brochure</span></button>
</div>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">THE YOUNG COMMUNITY LEADERSHIP PROGRAM</span>
                        <span class="section-heading-lower">Course Description</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="https://letusdream.org/wp-content/uploads/2020/09/courses.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">The Young Community Leadership Program (YCLP) is to prepare young aspiring leaders
                        with the
                        skills and experience needed to generate transformative social change. The interdisciplinary
                        program emphasizes highly applied coursework, relationship building, and hands-on practical
                        experiences which are essential components for developing strong leadership, mentoring and
                        coaching skills. The program involves enhancing the community leadership and mentoring skills
                        among students of undergraduate programs through planning and organizing peer mentoring programs
                        in identified schools.
                        <br>
                        The students will be trained to be sensitive to the psycho-social and leadership needs of the
                        teenage students in schools and help them develop those skills through diverse interventions
                        such as training, mentoring, games, music, theater, activities, etc. for three years with a set
                        curriculum. In addition, students will be introduced a community intervention model (DREAMS) and
                        they will be trained how to initiate and implement an action plan to make some substantial and
                        sustainable positive difference in the life of those lower performing teenagers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">THE YOUNG COMMUNITY LEADERSHIP PROGRAM (YCLP)</span>
                        <span class="section-heading-lower">Course Objectives</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="https://letusdream.org/wp-content/uploads/2020/09/course-details.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0"> To develop leadership, mentoring, organizational, entrepreneurial skills through
                        community based
                        initiatives
                        To develop psycho-social and leadership skills development and growth assessment<br>
                        To respond positively to alleviate social issues through community collaboration
                        <br>
                        To utilize skills and talents in developing lower performing students’ psycho-social and
                        leadership
                        skills
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">THE YOUNG COMMUNITY LEADERSHIP PROGRAM (YCLP)</span>
                        <span class="section-heading-lower">Course Learning Outcomes</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="https://letusdream.org/wp-content/uploads/2020/09/course-structure.jpg" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Mentoring and leadership skills that help to make positive changes in school
                        students and in the
                        community
                        <br>Organizing and managing skills in community development initiatives
                        <br>Design of community intervention programs and evaluate impact of the interventions
                        <br>
                        Apply the DREAMS Model for community development initiatives.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">THE YOUNG COMMUNITY LEADERSHIP PROGRAM (YCLP)</span>
                        <span class="section-heading-lower">Certification</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                src="https://letusdream.org/wp-content/uploads/2020/09/Expected-outcome3.jpg" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">The students from CHRIST (Deemed to be University) shall receive the certification
                        of the Young
                        Community Leadership Program (YCLP) along with their final graduation certificate. Students from
                        outside will be awarded a separate certificate upon the successful completion of the program
                        from
                        LET US DREAM.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}