{% extends 'base.html' %}
{% load static %}

{% block title %}
PDF Viewer
{% endblock title %}

{% block extraStyles %}
<!-- Include Turn.js from a CDN -->
<!-- Flipbook StyleSheets -->
<style>
    .logoBar .fbTopBar{
        display: none !important;
    }

</style>
{% endblock extraStyles %}

{% block content %}

<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0">
        <li class="breadcrumb-item">
            <a class="text-black text-decoration-none" {% if bgcolor %}style="color:white !important" {% endif %}
                href="{% url 'main' %}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-black text-decoration-none" {% if bgcolor %}style="color:white !important" {% endif %}
                href="{% url 'main' %}Conferences">
                Conferences
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-black text-decoration-none" {% if bgcolor %}style="color:white !important" {% endif %}
                href="{% url 'main' %}trriennial-conference">
                Triennial Conferences
            </a>
        </li>
        <li class="breadcrumb-item  active" {% if bgcolor %}style="color:white !important" {% endif %}
            aria-current="page">
            2023 Conference
        </li>
    </ol>
</nav>

<div class="container mt-3">
    <div class="row m-auto justify-content-center " >
        <iframe style='width:992px;height:800px;' class="justify-content-center" src='https://online.pubhtml5.com/eegbs/iihk/' seamless='seamless'
            scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true'></iframe>
    </div>
</div>






{% endblock content %}