<<<<<<< HEAD
.registration-sec {
=======
.registration-section {
    font-family: 'Montserrat', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.registration {
    width: 400px;
    height: min-content;
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
}

.registration form .form-group {
    margin-bottom: 12px;
}

.registration form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}










/*Login Page*/
.login-section {
>>>>>>> 9a72e22fc0d0cdc5d7530418bd4c96d8ba516126
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

<<<<<<< HEAD
.registration {
    width: 400px;
=======
.login {
    width: 360px;
>>>>>>> 9a72e22fc0d0cdc5d7530418bd4c96d8ba516126
    height: min-content;
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
}

<<<<<<< HEAD
.registration form .form-group {
    margin-bottom: 12px;
}

.registration form input[type="submit"] {
=======
.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
>>>>>>> 9a72e22fc0d0cdc5d7530418bd4c96d8ba516126
    font-size: 20px;
    margin-top: 15px;
}

<<<<<<< HEAD
.report-section {
=======
.wrapper {
    position: relative;
}

i.fa-solid {
    position: absolute;
    top: 25%;
    left: 3%;
}

.fs-6 {
    font-size: 13px !important;
}

.wrapper input{
    text-indent:20px;
}



/*View-dt.html*/

.view-dt-section {
>>>>>>> 9a72e22fc0d0cdc5d7530418bd4c96d8ba516126
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
}

<<<<<<< HEAD
thead input {
=======
.view-dt-section thead input {
>>>>>>> 9a72e22fc0d0cdc5d7530418bd4c96d8ba516126
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

<<<<<<< HEAD
div.dataTables_wrapper div.dataTables_length select {
=======
.view-dt-section div.dataTables_wrapper div.dataTables_length select {
>>>>>>> 9a72e22fc0d0cdc5d7530418bd4c96d8ba516126
    height: auto;
}