
.registration-section {
 
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.registration {
    width: 400px;
    height: min-content;
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
}

.registration form .form-group {
    margin-bottom: 12px;
}

.registration form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}










/*Login Page*/
.login-section {

    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}


.registration {
    width: 400px;
}
.login {
    width: 360px;

    height: min-content;
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
}


.registration form .form-group {
    margin-bottom: 12px;
}



.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {

    font-size: 20px;
    margin-top: 15px;
}




.wrapper {
    position: relative;
}

i.fa-solid {
    position: absolute;
    top: 25%;
    left: 3%;
}

.fs-6 {
    font-size: 13px !important;
}

.wrapper input{
    text-indent:20px;
}





.view-dt-section {

    font-family: 'Montserrat', sans-serif;
    margin: 2em;
}



.view-dt-section thead input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}


.view-dt-section div.dataTables_wrapper div.dataTables_length select {
    height: auto;
}