body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: #7ca8a1;
    font-weight: bolder;
    text-transform: uppercase;
}

.text-green{
    color: #0a7b79 !important;
}

.card {
    position: relative;
    overflow: hidden;
}

/* .card::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 220%;
    background: rgba(211, 242, 233, 0.7);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: 0.5s;
} */

/* .card:hover:before {
    left: 10%;
} */

.card img {
    width: 100%;
    height: 100% !important;
}

.card-text {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #0a7b79;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}

/* .card:hover .card-text {
    top: 80px;
} */

.row {
    padding-bottom: 2% !important;
}



.big-heading {
    color: #0a7b79;
    text-align: center;
    font-weight: bolder;
}

h5 {
    color: #0a7b79;
    font-weight: bolder !important;
}

.text-black {
    text-decoration: none !important;
}

.cus-row {
    margin-top: 3%;
}

.feed-area{
    width: 100% !important;
    height: 500px  !important;
    text-align: center !important; 
    object-fit: cover !important;
  }

  .anualcon-cus-img{
    margin-top: auto;
    /* padding-bottom: 40px; */
}

   .font-weight-medium {
    font-weight: 500;
  }
   .text-themecolor {
    color: #316ce8;
  }
  
  a.link {
    color: #3e4555;
  }
  
 a.link:hover {
    color: #316ce8;
  }
  
 /* .on-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
 .on-hover:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  } */
  
/* .date-pos {
    right: 10px;
    top: 10px;
  }
  
  .date-pos span {
    font-size: 30px;
    line-height: 30px;
  } */
  .bg-info-gradiant {
      background: #188ef4;
      background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
      background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
      background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  }

  @media  (max-width:424px) {
    .anualcon-cus-img{
        margin-top: auto;
        padding-top: 30px;
        /* padding-bottom: 50px; */
    }
  }