.bg-bluelight{
    background-color: #96d2f3;
}

.bg-lightgreen{
    background-color: #bcf4d3;
}

.btn-bg{
    background-color: #61a1d3 !important;
}

.margin-left-20{
    margin-left: 10px !important;
}
