@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    /* bg color */
    --bg-primary: #d3f2e9;
    --bg-secondary: #262626;
    /* text color */
    --text-white: #fff;
    --text-blue: #3b90bb;
    --text-green: #3ec922;
    --text-black: #000;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;


}

.menu-wrapper button:focus,
.menu-wrapper .navbar-toggler:focus {
    outline: 0;

    box-shadow: none;
}

.menu-wrapper {
    font-family: 'Muli', sans-serif;
    background-color: var(--bg-primary);

    z-index: 999;

}

.menu-wrapper .navbar-brand {
    float: left;
}

.menu-wrapper .navbar-brand img {
    height: 100px;
    width: 134px;
    transition: .5s ease-in-out;
}

.menu-wrapper .navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    padding: 10px 100px 10px 20px;
    margin: 0px 10px 25px 0px;
    background-color: #ffffff;
    box-shadow: 1px 5px 10px 1px #000;
}


.menu-wrapper .navbar-nav .nav-item {

    margin: 0 10px;
}

.menu-wrapper .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    display: inline-block;
}

.menu-wrapper .dropdown-menu .dropdown-item {
    margin-bottom: 0px;
}

.menu-wrapper .dropdown-menu:hover {
    padding: 5% 5%;
}

.menu-wrapper .dropdown-menu .dropdown-item:hover {
    color: #3ec922;
    background-color: #82d8d8;
    border-radius: 20px;
    transition: 0.5s;
}

.menu-wrapper .navbar-collapse {
    padding-left: 20px;
    flex-grow: 0;
    margin-left: 50px;
}

.menu-wrapper nav.black .navbar-brand img {
    height: 80px;
    width: 110px;
}

.menu-wrapper nav.black {
    height: 80px;
    padding: 10px 150px;
    transition: .5s ease;
}

.menu-wrapper .navbar-nav .nav-item :hover {
    /* font-size: 1rem; */
    color: #3b90bb;
    transition: 0.5s;

}

/* footer */
footer {
    position: relative;
    width: 100%;
    background: #3b90bb;
    min-height: 200px;
    padding: 50px 50px;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social-icons,
footer .menu {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icons li,
footer .menu li {
    list-style: none;
}

footer .social-icons li i {
    font-size: 20px;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icons li i:hover {
    transform: translateY(-10px);
    color: #82d8d8;
    ;
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    transition: 0.5s;
}

footer .menu li a:hover {
    opacity: 1;
    font-size: 1.4em;
    transition: 0.5s;
}

footer div {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: .9em;
    font-weight: 300;
}

footer div a {
    color: #262626;
    padding: 5px;
    text-decoration: none;
}

footer div a:hover {
    color: #fff;
}





@media (max-width:991px) {
    .menu-wrapper .navbar-nav .nav-item {
        margin: 5px 10px;
    }

    nav.black {
        height: 80px;
        padding: 10px 50px;
        transition: .5s ease;
    }

    .menu-wrapper nav.black {
        padding: 10px 50px;
    }

    .navbar-toggler {
        margin-left: 20px;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        padding: 10px 20px;
        margin: 0px 10px 25px 0px;
        background-color: #fff;

    }

    .menu-wrapper .navbar {
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        padding: 10px 20px 10px 20px;
        margin: 0px 10px 25px 0px;
        background-color: #ffffff;
        box-shadow: 1px 10px 18px #000;
    }

    .collapse {
        background-color: #fff;
    }

    .menu-wrapper .navbar-brand img {
        height: 60px;
        width: 80px;
        transition: .5s ease-in-out;
    }

    footer .social-icons li i {
        font-size: 15px;
    }
}