
.banner {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
}

#slideImg {
  width: 100%;
  height: 100%;
  animation: zoom 3s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }

  15% {
    transform: scale(1);
  }

  85% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

.overlay {
  width: 100%;
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
}

.content {
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: #ffffff;
}

.content h3 {
  width: 80%;
  margin: 20px auto 50px;
  font-weight: 100;
  line-height: 25px;
}

.btn-1 {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 0 15px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #d3f2e9;
  background: #d3f2e9;
  color: #0a7b79;
  transition: background 0.5s;
}

.btn-1:hover {
  background: transparent;
  border: 2px solid #fff;
}

.btn-2 {
  background: transparent;
  border: 2px solid #d3f2e9;
  width: 150px;
  padding: 12px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  color: #0a7b79;
  margin-bottom: 15px;
}

.btn-2:hover {
  border: 2px solid #d3f2e9;
  background: #d3f2e9;
}


.img-text {
  width: 100%;
  height: 400px;
  display: block;
  text-align: center;
  padding: 40% 5%;
  background: #d3f2e9;
  /* 0a7b79 */
  color: #0a7b79;
  border-radius: 30px;
}

.img-text h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img-text p {
  font-size: 16px;
}

.single-box {
  position: relative;
  margin-left: 10px;
  margin-bottom: 30px;
}

.img-area {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #7ca8a1;
  overflow: hidden;
  top: 43px;

  border-radius: 50%;
}

.img-area img {
  width: 100%;
}

.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -20px;
}

.carousel-indicators li {
  background: #0a7b79;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators :active {
  background: #0a7b79;
}

.carousel-indicators.img-area {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  overflow: hidden;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.button-testi {
  width: 200px;
  padding: 12px 0;
  text-align: center;
  margin: 0 15px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #d3f2e9;
  background: #d3f2e9;
  color: #0a7b79;
  transition: background 0.5s;
}

.container-fluid h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.img1 {
  width: 100% !important;
  height: 100% !important;
}

.container h1 {
  font-size: 3rem !important;
  font-weight: bolder !important;
}

body h3 {
  color: #7ca8a1;
  font-weight: bolder !important;
}

h6 {
  padding-top: 2%;
  padding-bottom: 2%;
}

h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.9turn,
    rgb(255, 255, 255),
    rgb(0, 0, 0),
    rgb(255, 255, 255)
  );
  border-image-slice: 1;
}

h6 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.text-h1 {
  padding-top: 160px;
}

.text-h3 {
  color: #0a7b79 !important;
}

.row-index {
  margin-top: 5%;
}

.flu-con {
  width: 100% !important;
}

.text-h1-cen {
  color: #7ca8a1 !important;
}

.row-2 {
  margin-left: 5%;
  margin-right: 5%;
}

.card-1 {
  height: 100%;
  width: 100%;
}

.cb-1 {
  overflow-y: auto;
}

.card-t1 {
  text-align: justify;
}

.cf-2 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 8%;
  background-color: #d3f2e9 !important;
}

.cf-2-conference {
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #d3f2e9 !important;
}

.row-3 {
  margin-top: 3%;
}

.cf-3 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.big-h3 {
  padding: 0 7% 0 7%;
}

.row-4 {
  margin-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
}

.mapframe {
  width: 100%;
  height: 60vh;
}

/* counter */

.counter {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 22px 0 0;
  margin: 0 10px;
  position: relative;
}

.counter:before {
  content: "";
  border: 2px solid #575757;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

.counter .counter-icon {
  color: #00a69c;
  font-size: 40px;
  margin: 0 0 22px;
}

.counter .counter-content {
  background-color: #0a7b79;
  padding: 26px 18px 20px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.counter .counter-content:before {
  content: "";
  background-color: #0a7b79;
  width: 25px;
  height: 25px;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  left: 50%;
  top: -13px;
}

.counter h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 8px;
}

.counter .counter-value {
  font-size: 30px;
  font-weight: 500;
}

.counter.red .counter-icon {
  color: #3b90bb;
}

.counter.red .counter-content,
.counter.red .counter-content:before {
  background-color: #3b90bb;
}

.counter.blue .counter-icon {
  color: #027981;
}

.counter.blue .counter-content,
.counter.blue .counter-content:before {
  background-color: rgba(2, 121, 129, 0.9);
}

.counter.purple .counter-icon {
  color: #3e6491;
}

.counter.purple .counter-content,
.counter.purple .counter-content:before {
  background-color: rgba(62, 100, 145, 0.9);
}

@media screen and (max-width: 990px) {
  .counter {
    margin-bottom: 40px;
  }
}

.content-div {
  text-align: center;
  background: #027981;
  color: #fff;
  width: 100%;
}

.content-button {
  background-color: #027981;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
}
.content-button:hover {
  color: #027981;
  background-color: #fff;
  border: 2px solid #027981;
  font-weight: bolder;
}
.tab {
  padding-left: 3%;
}
/* instagram feed */

.feed-area {
  width: 100% !important;
  height: 300px !important;
  text-align: center !important;
  object-fit: cover !important;
}

.blog-home2 .font-weight-medium {
  font-weight: 500;
}
.blog-home2 .text-themecolor {
  color: #316ce8;
}

.blog-home2 a.link {
  color: #3e4555;
}

.blog-home2 a.link:hover {
  color: #316ce8;
}

.blog-home2 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog-home2 .date-pos {
  right: 10px;
  top: 10px;
}

.blog-home2 .date-pos span {
  font-size: 30px;
  line-height: 30px;
}
.blog-home2 .bg-info-gradiant {
  background: #188ef4;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #188ef4 0%,
    #316ce8 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#188ef4),
    to(#316ce8)
  );
  background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* vistor */

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 5;
	text-align: center
}

.counter-box p {
  margin: auto;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 20px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter1 { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}
