.text-green {
    color: #0a7b79;
}

.team-img {
    width: 160px;
    border-style: groove;
    border-radius: 30px;
    padding: 5px
}

.changacherry-loc .button {
    display: inline-block;
    border-radius: 100px;
    background-color: #d3f2e9;
    font-weight: bold;
    border: 2px solid #d3f2e9;
    color: #0a7b79;
    text-align: center;
    font-size: 20px;
    padding: 14px 28px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.changacherry-loc .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.changacherry-loc .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.changacherry-loc .button:hover {
    background-color: transparent;
    color: #0a7b79;
    border: 2px solid #0a7b79;
}

.changacherry-loc .button:hover span {
    padding-right: 25px;

}

.changacherry-loc .button:hover span:after {
    opacity: 1;
    right: 0;
}

.text-green {
    color: #0a7b79;
}

.img-middle {
    justify-content: center;
    align-items: center;
    text-align: center;

}


/*ZoomIn Hover Effect*/
.hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
}

.hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* lined tabs */

.dreams-tab .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.dreams-tab .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.dreams-tab .lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #d3f2e9;
}



.dreams-tab .nav-pills .nav-link {
    color: #555;
}

.dreams-tab .text-uppercase {
    letter-spacing: 0.1em;
}

/* Counter */
.sectionClass div,
.sectionClass h1,
.sectionClass h2,
.sectionClass h3,
.sectionClass h4,
.sectionClass h5,
.sectionClass h6,
.sectionClass form,
.sectionClass p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 13px;
    direction: ltr;
}

.sectionClass {
    padding: 20px 0px 50px 0px;
    position: relative;
    display: block;
}

.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
}


.sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;

    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}


.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}


.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}


#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    width: 25%;
    height: 100%;
    padding: 50px 0px;
    text-align: center;
}

.projectFactsWrap .item:nth-child(1) {
    background: #d3f2e9;
}

.projectFactsWrap .item:nth-child(2) {
    background: #d3f2e9;
}

.projectFactsWrap .item:nth-child(3) {
    background: #d3f2e9;
}

.projectFactsWrap .item:nth-child(4) {
    background: #d3f2e9;
}

.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: #0a7b79;
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    box-shadow: none;
}

.nav-pills .nav-link {
    margin: 0;
    background-color: transparent;
}

.nav-tabs .nav-link:hover {
    background-color: transparent;
}

.projectFactsWrap .item span {
    width: 60px;
    background: #0a7b79;
    height: 2px;
    display: block;
    margin: 0 auto;
}


.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: #0a7b79;
}


.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: #0a7b79;
}

.projectFactsWrap .item:hover span {
    background: #0a7b79;
}

.sectiontitle .heading-h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.90turn, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    border-image-slice: 1;
}

.sectiontitle .heading-h3 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 30px;

}

/* contact us */

.contact_info {
    width: 100%;
    padding-top: 70px;
}

.contact_info_item {
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 32px;
    padding-right: 15px;
}

.contact_info_image {
    width: 35px;
    height: 35px;
    text-align: center;
}

.contact_info_image img {
    max-width: 100%;
}

.contact_info_content {
    padding-left: 17px;
}

.contact_info_title {
    font-weight: 500;
}

.contact_info_text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
    .contact_info_item {
        width: calc((100% - 0px) / 1.5) !important;
    }
}

@media (max-width: 786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}


.btn-2 {
    background: transparent;
    border: 1px solid #0a7b79;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    color: #0a7b79;
}

.btn-2:hover {
    border: 2px solid #d3f2e9;
    background: #d3f2e9;
}

.min-height {
    min-height: 280px;
}

.mask1 {
    background-color: rgba(251, 251, 251, 0.2);
}

.min-hieght-240 {
    min-height: 240px;
}

.single-org i {
    color: #ff5e14;
  }

 .single-yellow i {
    color: #ffd700;
  }
  .single-green i {
    color: #14ffa7;
  }

  .single-blue i {
    color: #007ec7;
  }

  .center {
    text-align: center;
  }