
.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	/* position: relative;
	z-index: 1; */
  transition: -webkit-transform 0s ease;
	transition: transform 0s ease;
	transition: transform 0s ease, -webkit-transform 0s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	/* z-index: -1; */
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}



.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}

.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}


@media(max-width: 767px){
    .home .carousel-control-next, 
    .home .carousel-control-prev{
        display: none;
    }
    .home .carousel-indicators li{
        height: 60px;
        width: 60px;
    }
   
  }

  @media(max-width:1205px){
    .home .carousel{
      display: none;
    }
  }
  

  
  .button {
    display: inline-block;
    border-radius: 100px;
    background-color: #d3f2e9;
    font-weight: bold;
    border: 2px solid #d3f2e9;
    align-items: center;
    color: #0a7b79;
    text-align: center;
    font-size: 15px;
    padding: 14px 28px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Button */

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

 .button:hover {
    background-color: transparent;
    color: #0a7b79;
    border: 2px solid #0a7b79;
}

 .button:hover span {
    padding-right: 25px;

}

 .button:hover span:after {
    opacity: 1;
    right: 0;
}


/* Vision Mission View */



  /* Video Slider */

  .gallery {
    display: flex;
    flex-flow: wrap;
    border: solid rgb(240,240,240);
  }
  .gallery div { 
    flex: 150px;
    position: relative;
    text-align: center;
  }
  .gallery div:nth-of-type(1) {
    flex: 10000 1 300px; 
  }
  .gallery div::before {
    content: "";
    display: block;
    padding-top: 100px;
  }
  .gallery div:nth-of-type(1)::before {
    padding-top: 56.25%;
  }
  .gallery iframe,
  .gallery span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .gallery a {  
    display: inline-block;
    margin-top: 5px;
  }
  .gallery a:last-child {
    margin-bottom: 5px;
  }
  .gallery iframe,
  .gallery img {
    max-width: 100%;
    vertical-align: middle;
  }



  

  .social {
    position: fixed;
    top: 40%;
  }
  .social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(2,121,129);
    width: 300px;
    text-align: right;
    padding: 8px;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
   
  }
  .social ul li:hover {
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
    background: rgba(2,121,129);
    text-decoration: none;
  
  }
  .social ul li:hover a {
    color: #fff;
  }
  .social ul li:hover i {
    color: #fff; 
  }
  .social ul li i {
    padding-right: 0px !important;
    color: #fff;
    text-decoration: none;
    padding: 10px; 
    width: 30px;
    height: 30px;
    font-size: 25px;
  }
  
  


.test-main .container{
    max-width: 1000px;
    background-color: white;
    padding: 0;
}
.test-main .review{
    font-weight: 600;
    padding: 30px 0 ;
}
.test-main .name{
    font-size: 18px;
    color: #0a7b79;
    margin: 0;
}

.test-main .carousel-inner{
    max-width: 1000px;
}
.test-main .fa-minus {
    font-size: 14px;
}
.test-main .carousel-indicators {
    bottom: -20px;
    right: 0;
    margin: 0;
}

.test-main .carousel-indicators [data-bs-target ] {
    height: 10px;
    border: 2px solid black;
    width: 10px;
    background-color: inherit;
    border-radius: 50%;
}
.test-main.carousel-indicators .active{
    border: 2px solid transparent;
    background-color:#0a7b79;
}
.left{
    color: rgb(20, 20, 20);
    font-weight: 600;
}
.right{
    color: rgb(12, 12, 12);
    font-weight: 600;
}
.carousel-control-next, .carousel-control-prev {
    position: relative;

}
@media (max-width:560px) {
    .review{
        font-size: 14px;
        font-weight: 600;
    }
    .name{
        font-size: 13px;
    }
    .job{
        font-size: 10px;
    }
    .right{
        font-size: 12px;
    }
    .left{
        font-size: 12px;
    }
    .carousel-indicators [data-bs-target ] {
        height: 8px;
        border: 1px solid black;
        width: 8px;
        background-color: inherit;
        border-radius: 50%;
    }
    .carousel-indicators .active{
        border: 1px solid transparent;
        background-color:#0a7b79;
    }
}