@import url(&#39;https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800&#39;);


.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
    transition: -webkit-transform 0s ease;
	transition: transform 0s ease;
	transition: transform 0s ease, -webkit-transform 0s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
}
.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}



.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}

.home .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}


@media(max-width: 767px){
    .home .carousel-control-next, 
    .home .carousel-control-prev{
        display: none;
    }
    .home .carousel-indicators li{
        height: 60px;
        width: 60px;
    }
   
  }
  

  .button {
    display: inline-block;
    border-radius: 100px;
    background-color: #d3f2e9;
    font-weight: bold;
    border: 2px solid #d3f2e9;
    align-items: center;
    color: #0a7b79;
    text-align: center;
    font-size: 15px;
    padding: 14px 28px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Button */

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

 .button:hover {
    background-color: transparent;
    color: #0a7b79;
    border: 2px solid #0a7b79;
}

 .button:hover span {
    padding-right: 25px;

}

 .button:hover span:after {
    opacity: 1;
    right: 0;
}


/* Vision Mission View */

.clr{
    clear: both;
}

.testimonial-main{
    width: 100%;
    height: auto;
    width: auto;
}

.testimonial-main h1{
    font-size: 36px;
    color: #000;
    line-height: 27px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.testimonial-main p{
    font-size: 18px;
    color: #3B90BB;
    line-height: 25px;
    text-align: center;
    padding:20px 10%;
}

.testimonial{
    width: 100%;
    height: auto;
}

.testimonial-inner{
    width: 78%;
    height: 200px;
    position: relative;
    background: #082c44;
      /* margin-top: 20px;
    float: right; */
}

.pic{
    width: 250px;
    height: 300px;
    position: absolute;
    top:0;
    left:30px;
}

.pic img{
    width: 100%;
    height: 300px;
}

.description{
    width: 71%;
    height: auto;
    float:right;
}

.description p{
    font-size: 14px;
    color: #f2f2f2;
    line-height: 24px;
    text-align: left;
    padding: 15px 15px;
}

.description h3{
    font-size: 18px;
    color:#fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;

}


.testimonial-inner1{
    width: 78%;
    height: 200px;
    position: relative;
    background: #082c44;
    margin-top: 20px;
    float: right;
}

.pic1{
    width: 250px;
    height: 300px;
    position: absolute;
    bottom:0;
    right:30px;
}

.pic1 img{
    width: 100%;
    height: 300px;
}

.description1{
    width: 71%;
    height: auto;
    float:left;
    padding: 20px 20px;
}

.description1 p{
    font-size: 14px;
    color: #f2f2f2;
    line-height: 24px;
    text-align: left;
    padding: 0 15px;
}

.description1 h3{
    font-size: 18px;
    color:#fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 15px;
    
}

.testimonial-inner2{
    width: 78%;
    height: 300px;
    position: relative;
    background: #082c44;
    margin-top: 20px;
    float: left;
}

.row{
    display: block !important;
}