.form-label {
    margin-bottom: 0rem !important;
}

.required:after {
    content:" *";
    color: red;
}

.border-md {
    border-width: 5px;   
}

.border-md {
    border-width: 2px;
}

.bi{
    color: #7F8487;
}









