/* global css */

.text-h3 {
    color: #0a7b79 !important;
}

.text-h1-cen {
    color: #7ca8a1 !important;
}

.bg-green {
    background-color: #d3f2e9;
}

.bg-greenlight {
    background-color: #daf1f7;
}

.cus-breadcrumb {
    margin-top: 10%;
    margin-left: 15%;
}

.cus-breadcrumb .active {
    color: #0a7b79 !important;
}

.text-brown {
    color: #755400;
}

.text-violet {
    color: #8585bd
}

/* about us */
body {
    font-family: 'Montserrat', sans-serif !important;
}

h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.90turn, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    border-image-slice: 1;
}

.text-green {
    color: #7ca8a1;
}

h1 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 30px;
    color: #0a7b79 !important;
}

p {
    text-align: justify;
}

.aboutus {
    width: 100%;
}

.aboutus .text-green {
    color: #0a7b79;
}

.aboutus .frame {

    display: block;
    margin: auto;
    width: 1000px;
    height: 500px;
    box-shadow: 1px 1px 95px -11px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 1px 1px 95px -11px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 1px 1px 95px -11px rgba(0, 0, 0, 0.76);
}

.aboutus .heading-h1 {
    padding-top: 120px;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 40px;
}

.aboutus .heading-h3 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 30px;

}

.aboutus .about-cus-h1 {
    padding-bottom: 20px;
    margin-top: -120px;
}

.aboutus .about-cus-p {
    color: #666666;
    padding-bottom: 50px;
}

.aboutus .heading-h3:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 50%;
    /* Change this to whatever width you want. */
    padding-top: 20px;
    /* This creates some space between the element and the border. */
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.90turn, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    border-image-slice: 1;
    /* This creates the border. Replace black with whatever color you want. */
}

.aboutus .bottom-img {
    padding-top: 120px;
    width: 100%;
    background: url(../../ltstatic/Aboutus/download.svg);
    opacity: 0.8;

}

.aboutus .pg {
    padding: 50px 50px 20px 50px;
    margin: 10px 30px;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    line-height: 40px;
}

.aboutus .pg p {
    margin-top: 20px;
    padding: 0px 5px 0px;
}

.aboutus .pg .div-link {
    color: #2ea3f2;
    font-weight: 600;
}

.aboutus .card {
    height: 100%;

}

.aboutus .card-body .card-head {
    min-height: 60px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.aboutus .card-body .card-text {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
}

.aboutus .card-last .card-col {
    padding: 30px;



}

.about-cus-con {
    margin-top: 30px;
}

.card-col-last {
    margin-bottom: 45px;
}

.aboutus .img-middle img {
    width: 830px;
    height: 600px;
}

.aboutus .card-last .card {
    padding: 10px;

}

.aboutus .card-last .card-1 {
    background: linear-gradient(180deg, #3197f7 0%, #2377af 100%);
    color: #fff;
}

.aboutus .card-last .card-2 {
    background: linear-gradient(180deg, rgba(64, 178, 35, 0.97) 0%, #167c15 100%);
    color: #fff;
}

.aboutus .card-last .card-3 {
    background: linear-gradient(180deg, #3197f7 0%, #2377af 100%);
    color: #fff;
}

.aboutus .card-last .card-4 {
    background: linear-gradient(180deg, rgba(64, 178, 35, 0.97) 0%, #167c15 100%);
    color: #fff;

}

.aboutus .card-last .card-title {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
}

.aboutus .card-last .card-text {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.aboutus .card-last .card-text ul {
    margin-top: 5px;
    padding: 10px;
    line-height: 30px;
}

.aboutus .underline {
    padding-bottom: 10px;
    text-decoration: none;
    border-bottom: 3px solid #000;

}

.aboutus .card-last .card-body {
    text-align: left;
    line-height: 30px;
}

@media (max-width:991px) {
    .aboutus .main-about {
        margin-top: 60px;
        width: 100%;
        padding-bottom: 80px;
        text-align: left;
    }

    .heading-h1 {
        font-size: 25px;
        padding-top: 100px;

    }

    .aboutus p {
        font-size: 15px;
    }

    .aboutus .frame {
        display: block;
        margin: auto;
        width: 350px;
        height: 175px;
    }

    .aboutus .pg {
        padding: 50px 10px 20px 10px;
        margin: 10px 10px;
    }


    .aboutus .img-middle img {
        width: 300px;
        height: 200px;


    }
}

@media (max-width:394px) {
    .aboutus {
        width: 377px;
    }

    .heading-h1 {
        font-size: 25px;
        padding-top: 100px;

    }

    .aboutus .heading-h1 {
        font-size: 25px;
        padding-top: 100px;

    }

    .aboutus .main-about,
    .aboutus .bottom-img {
        width: 394px;
    }



    .aboutus .img-middle img {
        width: 300px;
        height: 200px;

    }
}





.logo {
    height: 10px;

}

.card-title {
    color: #755400;
}




/* Testimonials */
.testimonials .single-box {
    position: relative;
    margin-left: 10px;
    margin-bottom: 30px;
}

.testimonials .img1 {
    width: 100% !important;
    height: 100% !important;
}

.testimonials .img-area {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #7ca8a1;
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
}

.testimonials .img-area img {
    width: 100%;
}

.testimonials .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -20px;
}

.testimonials .carousel-indicators li {
    background: #0a7b79;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.testimonials .carousel-indicators :active {
    background: #0a7b79;
}

.testimonials .carousel-indicators.img-area {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}



.testimonials .img-text {
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #d3f2e9;
    /* 0a7b79 */
    color: #0a7b79;
    border-radius: 30px;
}

.testimonials .img-text h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.testimonials .img-text p {
    font-size: 14px;
}

.testimonials .container {
    font-size: 12px;
    color: #666666;
}

.button-testi {
    width: 200px;
    padding: 12px 0;
    text-align: center;
    margin: 0 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d3f2e9;
    background: #d3f2e9;
    color: #0a7b79;
    transition: background 0.5s;
}


.testimonials .container-fluid h1 {
    font-weight: bolder;
    font-size: 3rem;
}

.testimonials.img1 {
    width: 100% !important;
    height: 100% !important;
}

.testimonials-sec .testi-row {
    margin-top: 5%;
    color: #7ca8a1;
}

.testimonials-sec .testi-col-1 {
    margin-top: 3%;
}

.container h1 {
    font-size: 3rem !important;
    font-weight: bolder !important;
}

body h3 {
    color: #7ca8a1;
    font-weight: bolder !important;
}

/* globalperesence */


.global-sec .global {
    margin-top: 5%;
    padding-top: 5%;
    background-color: #d3f2e9;
    color: #0a7b79;
}

.global-sec .global-con-1 {
    margin-top: 5%;
    color: #7ca8a1;
}

.global-sec .global-col-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.global-sec .global-col-2 {
    margin-bottom: 10%;
}

.media-cus-p {
    font-size: 10px;
}
