blockquote {
    padding: 0;
    margin: 0;
}

section.t-bq-section {
    padding: 10px;
    margin-bottom: 60px;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
    max-width: 600px;
    margin: 0 auto;
}

.t-bq-wrapper2.t-bq-wrapper-boxed2 {
    margin: 0 auto;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
    max-width: 100%;
}

.t-bq-quote-jasper {
    position: relative;
    box-shadow: 2px 2px 25px #cecece;
    border-radius: 10px;
}

.t-bq-quote-jasper .t-bq-quote-jasper-pattern {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    
    border-radius: 10px 10px 0 0;
}

.t-bq-quote-jasper .t-bq-quote-jasper-pattern .t-bq-quote-jasper-qmark {
    flex-basis: 100px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 60pt;
    color: #999999;
    text-align: center;
    height: 80px;
    line-height: 90pt;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.t-bq-quote-jasper .t-bq-quote-jasper-userpic img {
    position: absolute;
    top: 35px;
    left: calc(50% - 35px);
    width: 100px;
    height: 100px;
    
    background-size: cover;
    border-radius: 50%;
}

.t-bq-quote-jasper .t-bq-quote-jasper-base {
    flex-basis: calc(100% - 80px);
    background: #ffffff;
    padding: 60px 30px 50px 30px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 0 10px 10px;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px dotted #777777;
    text-align: center;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author,
.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
    color: #777777;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-author cite {
    font-style: normal;
}

.t-bq-quote-jasper .t-bq-quote-jasper-meta .t-bq-quote-jasper-source {
    font-size: 9pt;
}

@media screen and (max-width: 768px) {

    .t-bq-quote-jasper .t-bq-quote-jasper-base {
        padding-left: 30px;
    }
}


.blog-home2 .font-weight-medium {
    font-weight: 500;
  }
  .blog-home2 .text-themecolor {
    color: #316ce8;
  }
  
  
  .blog-home2 .date-pos {
    right: 10px;
    top: 10px;
  }
  
  .blog-home2 .date-pos span {
    font-size: 30px;
    line-height: 30px;
  }
  .blog-home2 .bg-info-gradiant {
      background: #188ef4;
      background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
      background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
      background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  }
  