{% extends 'base.html' %}
{% load static %}

{% block title %}
Annual Conferences
{% endblock %}


{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/annualConference.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/media.css' %}" type="text/css">
{% endblock extraStyles %}

{% block links %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<!--  Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
{% endblock links %}


{% block content %}
<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'main' %}about-conference">Conference</a></li>
        <li class="breadcrumb-item  active" aria-current="page">Annual Conferences</li>
    </ol>
</nav>
<br>
<div class="container">
    <div class="row p-5">
        <h1>Annual Conferences</h1>
        <h5 class="text-center mt-3 mb-3">
            "The chance to reconnect with people in person, talk over key topics, and go
            to some great sessions was invaluable."
        </h5>
    </div>
</div>

<div class="container mb-5">
    <!-- <h1>MEDIA</h1>
    <h3 class="text-center pb-5">Social Networks aren't about websites. They're about experiences</h3> -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Bangalore
                        </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show  blog-home2" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                            <div class="container-fluid text-h3 bg-green">

                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4 p-3 ">
                                        <a class="text-decoration-none" href="{% url 'christ-university-bangalore' %}">
                                            <img src="{% static 'conference/christ-university-bangalore.jpg' %}"
                                                class="img1 m-3">
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Nov<span class="d-block">16</span>2019</div>
                                            <p class="text-center text-black">Christ University, Bangalore</p>
                                        </a>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none" href="{% url 'stannescollege' %}">
                                            <img src="{% static 'conference/stanne.png' %}" class="img1 m-3">
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Nov<span class="d-block">19</span>2019</div>
                                            <!-- <div class="card-text"> -->
                                            <p class="text-center text-black">St. Annes Degree College for Women
                                                Bangalore</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none"
                                            href="{% url 'jyoti-nivas-college-autonomous' %}">
                                            <img src="{% static 'conference/JyotiNivasCollege.jpg' %}" class="img1 m-3">
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Nov<span class="d-block">10</span>2021</div>
                                            <p class="text-center text-black">Jyoti Nivas College Autonomous Bangalore
                                            </p>
                                        </a>
                                    </div>
                                    <!-- <div class="col-lg-3 col-md-3 p-3">
                                        <img src="{% static 'Aboutus/Media/Press4.jpeg' %}" class="img1 m-3">
                                    </div> -->
                                </div>


                            </div>
                            <br>

                            <!-- <p class="pl-5"><a href="{% url 'press-release' %}" class="fw-bold text-h3">Read more</a>
                            </p> -->
                            </p>



                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Chennai
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse blog-home2" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container-fluid text-h3 bg-green">
                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none" href="{% url 'donboscocollege' %}">
                                            <img src="{% static 'conference/bosco.jpg' %}" class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Oct<span class="d-block">15</span>2022</div>
                                            <p class="text-center text-black">Donbosco College, Chennai</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>



                                </div>
                            </div>
                            <br>
                            <!--  -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                New York
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse  blog-home2" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="container-fluid text-h3 bg-green">

                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none"
                                            href="{% url 'binghamton-university-new-york' %}">
                                            <img src="{% static 'conference/BinghamtonUniversity.jpeg' %}"
                                                class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Nov<span class="d-block">19</span>2021</div>
                                            <p class="text-center text-black p-3">Binghamton University, New York</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none" href="{% url 'louisiana-tech-university' %}">
                                            <img src="{% static 'conference/LouisianaTechUniversity.jpg' %}"
                                                class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Oct<span class="d-block">27</span>2022</div>
                                            <p class="text-center text-black p-3">Louisiana Tech University, Louisiana</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>

                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none"
                                            href="{% url 'louisiana-state-university-shreveport' %}">
                                            <img src="{% static 'conference/Shreveport.jpg' %}" class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Oct<span class="d-block">15</span>2022</div>
                                            <p class="text-center text-black p-3">Louisiana State University, Shreveport</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none" href="{% url 'universityofLouisianaMonroe' %}">
                                            <img src="{% static 'conference/Monroe.jpg' %}" class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Oct<span class="d-block">15</span>2022</div>
                                            <p class="text-center text-black">University of Louisiana, Monroe</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>


                                </div>

                            </div>
                            <br>
                            <!-- <p class="pl-5">Nothing is ever really lost to us as long as we remember it.
                                <br>
                                <a href="{% url 'photo-gallery' %}" class="fw-bold text-h3">See more</a>
                            </p> -->


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">

                                Thiruvananthapuram

                            </button>
                        </h2>
                    </div>

                    <div id="collapseFive" class="collapse blog-home2" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                            <div class="container-fluid text-h3 bg-green">

                                <div class="row text-center">
                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none" href="{% url 'allsaintssollege' %}">
                                            <img src="{% static 'conference/allsaints.jpg' %}" class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Dec<span class="d-block">05</span>2022</div>
                                            <p class="text-center text-black">All Saints College, Trivandrum</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>


                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none"
                                            href="{% url 'christ-university-thiruvananthapuram' %}">
                                            <img src="{% static 'conference/Christ-thrivandrum.jpg' %}"
                                                class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Jan<span class="d-block">11</span>2020</div>
                                            <p class="text-center text-black">CHRIST University Thiruvananthapuram</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>


                                    <div class="col-lg-4 col-md-4 p-3">
                                        <a class="text-decoration-none" href="{% url 'allsaintssollege' %}">
                                            <img src="{% static 'conference/allsaints.jpg' %}" class="img1 m-3">
                                            <!-- <div class="card-text"> -->
                                            <div
                                                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                                                Dec<span class="d-block">05</span>2022</div>
                                            <p class="text-center text-black">All Saints College, Trivandrum</p>

                                            <!-- </div> -->
                                        </a>
                                    </div>

                                </div>


                            </div>
                            <br>

                            <!-- <p class="pl-5"><a href="{% url 'newsletter' %}" class="fw-bold text-h3">Read more</a></p>
                            </p> -->



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- <div class="container">

    <div class="row cus-row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'allsaintssollege' %}">
                <div class="card">
                    <img src="{% static 'conference/allsaints.jpg' %}" class="img1">
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Dec<span class="d-block">03</span>2022
                    </div>
                    <div class="card-text">
                        <h3 class="text-green">All Saints College</h3>
                        <h5>Trivandrum</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">All Saints College, Trivandrum</h5>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'stannescollege' %}">
                <div class="card">
                    <img src="{% static 'conference/stanne.png' %}" class="img1">
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Nov<span class="d-block">19</span>2022
                    </div>
                    <div class="card-text">
                        <h3 class="text-green">St. Annes Degree College for Women</h3>
                        <h5>Bangalore</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">St. Annes Degree College for Women Bangalore</h5>

        </div>


        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'binghamton-university-new-york' %}">
                <div class="card">
                    <img src="{% static 'conference/BinghamtonUniversity.jpeg' %}" class="img1">
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Nov<span class="d-block">18</span>2022
                    </div>
                    <div class="card-text">
                        <h3 class="text-green">Binghamton <br> University</h3>
                        <h5>New York</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">Binghamton University, New York</h5>
        </div>


    </div>

    <div class="row cus-row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'louisiana-tech-university' %}">
                <div class="card ">
                    <img src="{% static 'conference/LouisianaTechUniversity.jpg' %}"
                        class="img-fluid card-img-top feed-area">
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Oct<span class="d-block">27</span>2022</div>
                    <div class="card-text">
                        <h3 class="text-green">Louisiana Tech <br> University</h3>
                        <h5>Louisiana</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">Louisiana Tech University, Louisiana</h5>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'donboscocollege' %}">
                <div class="card">
                    <img src="{% static 'conference/bosco.jpg' %}" class="img-fluid card-img-top feed-area">
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        Oct<span class="d-block">15</span>2022</div>
                    <div class="card-text">
                        <h3 class="text-green">Donbosco College <h5>Chennai</h5>
                    </div>
                </div>
            </a>
            <h5 class="text-center mt-3">Donbosco College, Chennai</h5>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'christ-university-bangalore' %}">
                <div class="card">
                    <img src="{% static 'conference/christ-university-bangalore.jpg' %}" class="img1">
                    <div class="card-text">
                        <h3 class="text-green">Christ
                            <br>
                            University
                        </h3>
                        <h5> Bangalore</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">Christ University, Bangalore</h5>

        </div>

    </div>

    <div class="row cus-row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'jyoti-nivas-college-autonomous' %}">
                <div class="card">
                    <img src="{% static 'conference/JyotiNivasCollege.jpg' %}" class="img1">
                    <div class="card-text">
                        <h3 class="text-green">Jyoti Nivas College Autonomous</h3>
                        <h5>Bangalore</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">Jyoti Nivas College Autonomous Bangalore</h5>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'universityofLouisianaMonroe' %}">
                <div class="card ">
                    <img src="{% static 'conference/Monroe.jpg' %}" class="img-fluid card-img-top feed-area">
                    <div class="card-text">
                        <h3 class="text-green">University of <br> Louisiana </h3>
                        <h5>Monroe</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">University of Louisiana, Monroe</h5>

        </div>


        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'christ-university-thiruvananthapuram' %}">
                <div class="card">
                    <img src="{% static 'conference/Christ-thrivandrum.jpg' %}" class="img1">
                    <div class="card-text">
                        <h3 class="text-green">CHRIST <br> University</h3>
                        <h5>Thiruvananthapuram</h5>
                    </div>
                </div>
            </a>
            <h5 class="text-center mt-3">CHRIST University Thiruvananthapuram</h5>
        </div>

    </div>

    <div class="row cus-row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'allsaintssollege' %}">
                <div class="card">
                    <img src="{% static 'conference/allsaints.jpg' %}" class="img1">
                    <div class="card-text">
                        <h3 class="text-green">All Saints College</h3>
                        <h5>Trivandrum</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">All Saints College, Trivandrum</h5>

        </div>


        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'louisiana-state-university-shreveport' %}">
                <div class="card">
                    <img src="{% static 'conference/Shreveport.jpg' %}" class="img1">

                    <div class="card-text">
                        <h3 class="text-green">Louisiana State <br> University</h3>
                        <h5> Shreveport</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">Louisiana State University, Shreveport</h5>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{% url 'grambling-state-university-louisiana' %}">
                <div class="card ">
                    <img src="{% static 'conference/Grambling State University.jpg' %}"
                        class="img-fluid card-img-top feed-area">
                    <div class="card-text">
                        <h3 class="text-green">Grambling State University</h3>
                        <h5>Louisiana</h5>
                    </div>
                </div>
            </a>

            <h5 class="text-center mt-3">Grambling State University, Louisiana</h5>

        </div>

    </div>

    <div class="m-5"></div>
</div> -->
{% endblock %}