{% extends 'base.html' %}
{% load static %}

{% block title %}
Binghamton University Newyork
{% endblock %}

{% block extraStyles %}
<link rel="stylesheet" href="{% static 'css/louisiana-tech-university.css' %}">
<link rel="stylesheet" href="{% static 'css/stannes-college.css' %}">
{% endblock extraStyles %}

{% block content %}

<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'annualConference' %}">Annual Conference</a></li>
        <li class="breadcrumb-item  active" aria-current="page">Binghamton University Newyork</li>
    </ol>
</nav>

<h1 class="mb-4  fw-bold text-center fs-1 text-green text-uppercase heading-h3 mt-5">Binghamton University Newyork
    Conference</h1>

<div class="conainer text-center m-5">
    <a href="{% static 'conference\broshures\BinghamtonUniversity_18Nov22.pdf' %}" class="btn btn-outline-success"
        download>Event Details</a>
</div>

<div class="container">
    <p class="pl-4 pr-5">The LET US DREAM annual community conference at Binghamton University in New York was conducted
        on 11th October 2019. The conference had introduced different community service possibilities and intervention
        models among younger and older generations to promote their volunteerism. It also provided researchers and
        practitioners with a remarkable platform to share their knowledge and experiences for synergizing their efforts
        and enhancing community development. The keynote addresses, three separate panel discussions–Education, Health
        and Social Service—and numerous organizational table presentations had resulted in awareness building and
        communication around community initiatives, as well as spark ideas for future ways to collaborate across a range
        of partners.</p>
    <div class="row py-5">
        <div class="col-md-12">
            <div class="main-timeline">
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-solid fa-globe"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">HISTORY</h3>
                        <p class="description">
                            Volunteers from the local community including business owners involved in voluntary
                            community developmental projects, non-profit organizations, philanthropists, social workers,
                            educators or educational administrators, retired personnel, students, or anyone interested
                            in contributing to their community development can be a part of the conference and engage in
                            fruitful dialogues with visionaries through the conference.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-regular fa-lightbulb"></i></div>
                    <div class="timeline-content">
                        <h3 class="title pl-5">VISION</h3>
                        <p class="description pl-5 ">
                            Our Vision is to Empowered local communities for sustainable impact, improvement, Global
                            Harmony (and Holistic Success).
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-solid fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">GOAL</h3>
                        <p class="description">
                            The Let Us Dream Conference was established in 2017 for the purpose of providing a forum for
                            sharing experiences with successes and challenges in community improvement organizations and
                            efforts. Broad conference goals are to
                        <ul>
                            <li>Improve networking and collaboration among all those interested in community improvement
                                organizations and programs.</li>
                            <li>Promote volunteerism and empower all those involved in community improvement
                                organizations and initiatives, including employees, volunteers, post-secondary students,
                                researchers, and practitioners.</li>
                            <li>Create a professional learning organization dedicated to improving local communities and
                                characterized by a culture of shared researcher and practitioner knowledge, skills,
                                theories, and best practices.</li>
                        </ul>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <div class="row">
        <div class="col-lg-12 pt-5">
            <div class="gallery">
                <div>
                    <iframe src="//www.youtube.com/embed/SKkELb8FANg" allowfullscreen frameborder="0"
                        name="tab"></iframe>
                </div>
                <div>
                    <span>
                        <a href="https://www.youtube.com/embed/N0iEMVThPUQ" target="tab"><img
                                src="//img.youtube.com/vi/N0iEMVThPUQ/default.jpg"></a>

                        <a href="https://www.youtube.com/embed/EORF_Bws0PM" target="tab"><img
                                src="//img.youtube.com/vi/EORF_Bws0PM/default.jpg"></a>
                        <a href="//www.youtube.com/embed/vmLuafs-hE" target="tab"><img
                                src="//img.youtube.com/vi/vuafs-BhE/default.jpg"></a>
                        <!-- <a href="//www.youtube.com/embed/WFhzzJjRncI?rel=0&autoplay=1" target="tab"><img src="//img.youtube.com/vi/WFhzzJjRncI/default.jpg"></a> -->
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Gallery -->
<div class="previous-conference mt-5 pt-5 mb-5 pb-5">
    <section class="timeline-wrapper mt-5 pt-5 mb-5 pb-5">
        <div class="middle-line"></div>

        <div class="box box-top">
            <div class="date">
                <p>2017</p>
            </div>
            <div class="box-content">
                <img src="/ltstatic/conference/bangalore/poster.png" class="w-100 h-100 rounded " />
            </div>
        </div>

        <div class="box box-bottom">
            <div class="date">
                <p>2018</p>

            </div>
            <div class="box-content">
                <img src="/ltstatic/conference/bangalore/poster.png" class="w-100 h-100 rounded " />
            </div>
        </div>

        <div class="box box-top">
            <div class="date">
                <p>2019</p>

            </div>
            <div class="box-content">
                <img src="/ltstatic/conference/bangalore/poster.png" class="w-100 rounded" />

            </div>
        </div>

        <div class="box box-bottom">
            <div class="date">
                <p>2020</p>

            </div>
            <div class="box-content">
                <img src="/ltstatic/conference/bangalore/poster.png" class="w-100  rounded " />

            </div>
        </div>

        <div class="box box-top">
            <div class="date">
                <p>2021</p>

            </div>
            <div class="box-content">
                <img src="/ltstatic/conference/Binghamtoncollege/Screenshot1.png" class="w-100 h-100 rounded " />
            </div>
        </div>
    </section>
</div>

<div style="height:150px;">

</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Binghamton Univeristy Passing string -->
<script>
    var event_BU = "conference";
    sessionStorage.setItem("event_BU", event_BU);
</script>


{% endblock %}