{% extends 'base.html' %}
{% load static %}

{% block title %}
Loyola College
{% endblock %}

{% block extraStyles %}

<link rel="stylesheet" href="{% static 'css/stannes-college.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/louisiana-tech-university.css' %}" type="text/css">

{% endblock extraStyles %}


{% block content %}

<nav aria-label="breadcrumb animated slideInDown" class="cus-breadcrumb">
    <ol class="breadcrumb text-uppercase mb-0 bg-white">
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" href="{% url 'main' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none" >Conferences</a></li>
        <li class="breadcrumb-item"><a class="text-black text-decoration-none"
                href="{% url 'annualConference' %}">Annual Conference</a></li>
        <li class="breadcrumb-item  active" aria-current="page">Loyola College </li>
    </ol>
</nav>

<h1 class="mb-4  fw-bold text-center fs-1 text-green text-uppercase heading-h3 mt-5">Loyola College Conference</h1>

<div class="container">

    <div class="row py-5">
        <div class="col-md-12">
            <div class="main-timeline">
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-solid fa-globe"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">HISTORY</h3>
                        <p class="description">
                            Volunteers from the local community including business owners involved in voluntary
                            community developmental projects, non-profit organizations, philanthropists, social workers,
                            educators or educational administrators, retired personnel, students, or anyone interested
                            in contributing to their community development can be a part of the conference and engage in
                            fruitful dialogues with visionaries through the conference.
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-regular fa-lightbulb"></i></div>
                    <div class="timeline-content">
                        <h3 class="title pl-5">VISION</h3>
                        <p class="description pl-5 ">
                            Our Vision is to Empowered local communities for sustainable impact, improvement, Global
                            Harmony (and Holistic Success).
                        </p>
                    </div>
                </a>
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-solid fa-rocket"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">GOAL</h3>
                        <p class="description">
                            The Let Us Dream Conference was established in 2017 for the purpose of providing a forum for
                            sharing experiences with successes and challenges in community improvement organizations and
                            efforts. Broad conference goals are to
                        <ul>
                            <li>Improve networking and collaboration among all those interested in community improvement
                                organizations and programs.</li>
                            <li>Promote volunteerism and empower all those involved in community improvement
                                organizations and initiatives, including employees, volunteers, post-secondary students,
                                researchers, and practitioners.</li>
                            <li>Create a professional learning organization dedicated to improving local communities and
                                characterized by a culture of shared researcher and practitioner knowledge, skills,
                                theories, and best practices.</li>
                        </ul>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}