.margin-top-170{
    margin-top: 170px !important;
}

.club-news{
    border-bottom: 2px solid #3acf87;
}

.custom-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* adjust the size as needed */
}

.leadership-image {
    width: 150px;
    height: 150px;
}

